:root {
	// colors
	--warning: hsl(35, 84%, 62%);

	// Font
	--font-size: 16px;
	--font-size-h1: 40px;
	--font-size-h2: 32px;
	--font-size-h3: 24px;
	--font-size-h4: 20px;
	--font-size-h5: 16px;
	--font-size-h6: 16px;
	--line-height: 1.44;
	--font-family--default: "Exo 2", -apple-system, BlinkMacSystemFont, "Ubuntu", "Arial", sans-serif;
	--font-family--thin: "Exo 2 Thin";
	--font-family--semibold: "Exo 2 Semi Bold";
	--font-family--bold: "Exo 2 Black";
}
