mixin checkbox(props)
	.checkbox
		input.checkbox__input(id= props.id type="checkbox")
		label.checkbox__label(for= props.id)= props.title
			if(props.link)
				a.link.link--underline.js-checkbox-link(href="#" title="Условия обработки персональных данных")  условия обработки персональных данных
			span.checkbox__control
				span.icon.icon-middle
					svg.icon-check(height="48" width="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" role="img" tabindex="-1")
						path(d="M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z")
