mixin checkbox(props)
	.checkbox
		input.checkbox__input(id= props.id type="checkbox" required)
		label.checkbox__label(for= props.id)= props.title
			if(props.link)
				a.link.link--underline.js-checkbox-link(href="#" title="Условия обработки персональных данных")  условия обработки персональных данных
