mixin tel-desktop()
	.tel-desktop
		.tel-desktop__line-wrapper
			.tel-desktop__line.tel-desktop__line--first
				.tel-desktop__desktop-icon
					+icon('phone', 'tel-desktop__desktop-svg-icon')
				a.tel-desktop__wrapper-link.link(href="tel:+78639470722") +7 (86394) 7-07-22
			.tel-desktop__line.tel-desktop__line--second
				.tel-desktop__desktop-icon
					+icon('phone', 'tel-desktop__desktop-svg-icon')
				a.tel-desktop__wrapper-link.link(href="tel:+78639470717") +7 (86394) 7-07-17
