.header-bottom {
	padding: 8px 0;
	color: var(--color-light);
	background-color: var(--color-main);

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo-mobile {
		line-height: 0;

		img {
			width: 160px;
			height: 32px;
		}

		@media screen and (min-width: $break_lg) {
			display: none;
		}
	}

	&__icons {
		display: flex;
		align-items: center;

		> * {
			&:not(:first-child) {
				margin-left: 16px;

				@media screen and (min-width: $break_lg) {
					margin-top: 8px;
					margin-left: 0;
				}
			}
		}

		@media screen and (min-width: $break_lg) {
			position: fixed;
			right: 8px;
			top: 40%;
			flex-direction: column;
		}
	}

	&__menu {
		position: absolute;
		left: 0;
		right: 0;
		top: -200%;
		padding: 8px 0;
		width: 100%;
		height: calc(100vh - 104px);
		background-color: var(--color-light);

		&.active {
			position: fixed;
			top: 104px;
			z-index: 4;
		}

		&.scrool {
			overflow-y: scroll;
		}

		@media screen and (min-width: $break_lg) {
			position: static;
			display: block;
			padding: 0;
			height: auto;
			background-color: transparent;
		}
	}

	@media screen and (min-width: $break_lg) {
		padding: 0;
		background-color: var(--color-bg-secondary);
	}
}
