.header-bottom {
	padding: 8px 0;
	color: var(--color-light);
	background-color: var(--color-main);

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo-mobile {
		line-height: 0;

		img {
			width: 160px;
			height: 32px;
		}

		@media screen and (min-width: $break_lg) {
			display: none;
		}
	}

	&__icons {
		display: flex;
		align-items: center;

		> * {
			&:not(:first-child) {
				margin-left: 16px;

				@media screen and (min-width: $break_lg) {
					margin-top: 8px;
					margin-left: 0;
				}
			}
		}

		&.hide {
			@media screen and (min-width: $break_lg) {
				animation: fade-out-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

				@keyframes fade-out-bottom {
					0% {
						opacity: 1;
						transform: translateY(0);
					}

					100% {
						opacity: 0;
						transform: translateY(50px);
					}
				}
			}
		}

		&.show {
			@media screen and (min-width: $break_lg) {
				animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;

				@keyframes fade-in-bottom {
					0% {
						opacity: 0;
						transform: translateY(50px);
					}

					100% {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}

		@media screen and (min-width: $break_lg) {
			position: fixed;
			right: 0;
			top: 40%;
			z-index: 99;
			flex-direction: column;
		}
	}

	&__menu {
		position: absolute;
		left: 0;
		right: 0;
		top: -200%;
		padding: 8px 0;
		width: 100%;
		height: calc(100vh - 112px);
		background-color: var(--color-light);

		&.active {
			position: fixed;
			top: 112px;
			z-index: 999;
		}

		&.scrool {
			overflow-y: scroll;
		}

		@media screen and (min-width: $break_lg) {
			position: static;
			display: block;
			padding: 0;
			height: auto;
			background-color: transparent;
		}
	}

	@media screen and (min-width: $break_lg) {
		padding: 0;
		box-shadow: 0 -1px 0 0 var(--color-border-light);
		background-color: var(--color-bg-secondary);
	}
}
