mixin doctor-about()
	.doctor-about
		.doctor-about__wrapper
			.doctor-about__info
				figure
					img.doctor-about__img(src="https://picsum.photos/300/366?random=4" alt="Денисова Олеся Геннадьевна")
					figcaption.doctor-about__figcaption Денисова Олеся Геннадьевна
				+doctor-about__test()
			.doctor-about__education
				.doctor-about__main-info
					h1.doctor-about__name Денисова Олеся Геннадьевна
					.doctor-about__job Врач-кардиолог
				.doctor-about__edu
					h2.doctor-about__edu-title Образование
					ul.doctor-about__edu-list
						li.doctor-about__edu-item
							span.doctor-about__edu-year 2011 год
							p.doctor-about__edu-text Окончил Львовский национальный медицинский университет им. Даниила Галицкого и получил полное высшее образование по специальности «Стоматология» и получил квалификацию врач-стоматолог;
						li.doctor-about__edu-item
							span.doctor-about__edu-year 2011 год
							p.doctor-about__edu-text Окончил Львовский национальный медицинский университет им. Даниила Галицкого и получил полное высшее образование по специальности «Стоматология» и получил квалификацию врач-стоматолог;
						li.doctor-about__edu-item
							span.doctor-about__edu-year 2011 год
							p.doctor-about__edu-text Окончил Львовский национальный медицинский университет им. Даниила Галицкого и получил полное высшее образование по специальности «Стоматология» и получил квалификацию врач-стоматолог;

mixin doctor-about__test()
	ul.doctor-about__test
		li.doctor-about__test-item
			span.doctor-about__test-title Специальность:
			span.doctor-about__test-text Участковый терапевт
		li.doctor-about__test-item
			span.doctor-about__test-title Кабинет:
			span.doctor-about__test-text 306
		li.doctor-about__test-item.doctor-about__test-item--time
			span.doctor-about__test-title Время работы:
			ul
				li
					span Понедельник:
					span 08:00 - 16:00
				li
					span Вторник:
					span 08:00 - 16:00
				li
					span Среда:
					span 08:00 - 16:00
				li
					span Четверг:
					span 08:00 - 16:00
				li
					span Пятница:
					span 08:00 - 16:00
				li
					span Суббота:
					span 08:00 - 16:00
