header.header
	.header__wrapper
		.header__logo
			+logo({
				src: 'img/logo.svg',
				alt: 'Логотип больницы',
				text: 'Основана в 1983 году'
			})
		.header__lines
			+header-top()
			+header-bottom()
