.quick-links {
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 16px;
		border-bottom: 1px solid var(--color-border-light);
		padding: 8px;
		width: 100%;
		word-break: break-word;
		background-color: var(--color-bg-secondary);
		cursor: pointer;
		transition: background-color linear 0.3s;

		> * {
			&:not(:last-child) {
				margin-right: 16px;

				@media screen and (min-width: $break_md) {
					margin-right: 0;
				}
			}
		}

		&:hover,
		&:focus {
			background-color: var(--color-bg-body);
		}

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}

		@media screen and (min-width: $break_md) {
			flex-direction: column;
			margin-bottom: 0;
			padding: 32px;
			width: 50%;
			min-height: 240px;
			text-align: center;

			&:nth-child(odd) {
				border-right: 1px solid var(--color-border-light);
			}

			&:nth-child(7) {
				border-bottom: none;
			}
		}

		@media screen and (min-width: $break_xl) {
			width: 25%;
			min-height: 336px;

			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8) {
				border-bottom: none;
			}

			&:nth-child(2),
			&:nth-child(6) {
				border-right: 1px solid var(--color-border-light);
			}
		}
	}

	&__title {
		margin: 0 auto;
		font-family: var(--font-family--semibold);
		font-size: rem(20);
		color: var(--color-title);

		@media screen and (min-width: $break_md) {
			margin-bottom: 16px;
			font-size: rem(22);
		}
	}

	&__descr {
		font-size: rem(14);
		color: var(--color-text-helper);

		@media screen and (min-width: $break_md) {
			font-size: rem(16);
			color: var(--color-text);
		}
	}

	&__icon {
		@media screen and (min-width: $break_md) {
			margin-bottom: 8px;
		}
	}

	&__svg-icon {
		width: 56px;
		height: 56px;
		fill: var(--color-icon);

		@media screen and (min-width: $break_md) {
			width: 72px;
			height: 72px;
		}
	}

	.panel {
		background-color: transparent;
	}
}
