mixin tel-mobile()
	.tel-mobile.js-tel-mobile
		+btn({
			tag: 'button',
			icon: 'phone',
			iconClass: 'tel-mobile__svg-icon',
			mods: 'tel,bg-tr',
		})(aria-label="Позвонить нам")
		ul.tel-mobile__list
			li.tel-mobile__item
				a.tel-mobile__link.link(href="tel:+78639470717") +7 (86394) 7-07-17
				span.link-text Call-Центр
			li.tel-mobile__item
				a.tel-mobile__link.link(href="tel:+78639470142 ") +7 (86394) 7-01-42
				span.link-text Мобильный call-Центр
			li.tel-mobile__item
				a.tel-mobile__link.link(href="tel:+79282125806 ") +7 (928) 212-58-06
				span.link-text Регистратура детская
			li.tel-mobile__item
				a.tel-mobile__link.link(href="tel:+78639470241") +7 (86394) 7-02-41
				span.link-text Скорая помощь
