mixin feedback-type(props)
	//- +feedback-type({
	//- 	activeIcon: 'accept',
	//- 	icon: 'feedback',
	//- 	text: 'Отзыв',
	//- })
	.feedback-type(tabindex="0" role="radio" data-type= props.type aria-checked="false")
		if(props.activeIcon)
			.feedback-type__active-icon
				+icon(props.activeIcon,'feedback-type__active-svg-icon')
		.feedback-type__content
			.feedback-type__icon-place
				+icon(props.icon,'feedback-type__icon')
			span.feedback-type__text= props.text
