.polite {
	margin-bottom: 16px;

	&__text {
		display: none;
		margin: 0 auto;
		max-width: 90%;
		color: var(--color-text);
	}

	&__trigger {
		color: var(--color-text);
	}

	&__text-title {
		font-family: var(--font-family--bold);
		font-size: rem(18);
	}

	&.active {
		.polite__text {
			display: block;
		}
	}
}
