mixin slider(props)
	-
		// список модификаторов
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' js-slider--' + modsList[i].trim();
			}
		}
	.slider
		.slider__carousel(class= allMods)
			block
