.map {
	margin-bottom: 16px;

	&__chart {
		position: relative;
		flex: 0 0 40%;
		width: 100%;
		min-height: 144px;
		max-height: 144px;

		@media screen and (min-width: $break_lg) {
			max-height: 400px;
		}
	}

	&--inner { margin-bottom: 0; }
}
