mixin map(props)
	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' map--' + modsList[i].trim();
			}
		}
	.map(class= allMods)
		+panel({
			mods: 'map',
		})
			.map__chart#map
				h2.hide-text Больница на карте
				//- +preloader({})
				iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A86bebf603bd4cc9e5d3dcd2169312c291a2739731cc1ea174fd85e33f3027241&amp;source=constructor" width="100%" height="417" frameborder="0")
