.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: var(--border-radius);
	padding: 24px;
	line-height: 0;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	color: var(--color-light);
	cursor: pointer;
	user-select: none;
	transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);

	&__icon {
		position: relative;
		display: inline-flex;
		align-self: center;
		width: 32px;
		height: 32px;
	}

	&:focus {
		outline: 1px solid var(--color-dark);
		outline-offset: 4px;
	}

	&--pd2 {
		padding: 8px 16px;
	}

	&--bg-main {
		background: var(--color-main);
	}

	&--bg-tr {
		background: transparent;
	}

	&--with-icon {
		padding: 0;
	}

	&--modal {
		background-color: var(--color-bg-icon);
	}

	&--cancel {
		border: 1px solid var(--color-main);
		color: var(--color-main);
		background-color: transparent;
	}

	&--full {
		width: 100%;
	}

	&--border {
		border: 2px solid var(--color-main);
		color: var(--color-main);

		&:focus,
		&:hover {
			border-color: var(--color-main);
			color: var(--color-light);
			background-color: var(--color-main);
			transition: background-color linear 0.3s, border-color linear 0.3s;
		}

		@media screen and (min-width: $break_xl) {
			border-color: var(--color-light);
			color: var(--color-light);
		}
	}

	&--no-flex {
		display: block;
	}

	&--pill {
		overflow: hidden;
		border: 1px solid var(--color-main);
		width: 100%;
		font-family: var(--font-family--bold);
		color: var(--color-main);
		background-color: var(--color-bg--secondary);

		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
			border-radius: 50%;
			width: 100px;
			height: 100px;
			background: var(--color-main);
			opacity: 0.1;
			transform: translate(100%, -25%) translate3d(50%, 0, 0) scale(2.3);
			transition: transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
		}

		&::after {
			transform: translate(100%, -25%) translate3d(50%, 0, 0) scale(2.5);
		}

		&:hover,
		&:focus {
			border-color: transparent;
			transition: border-color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);

			&::before,
			&::after {
				opacity: 0.2;
				transition: transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
			}

			&::before {
				transform: translate3d(50%, 0, 0) scale(0.9);
			}

			&::after {
				transform: translate(50%, 0) scale(1.1);
			}
		}
	}
}
