mixin hero(props)
	.hero
		.container
			.hero__inner
				.hero__info
					.hero__titles
						h1.hero__title= props.title
						if(props.subtitle)
							h2.hero__subtitle= props.subtitle
					.hero__btns
						+btn({
							tag: 'a',
							href: props.href,
							text: props.btnText,
							mods: 'border'
						})(rel="noopener noreferrer" target="_blanc")
						+btn({
							tag: 'a',
							href: 'https://www.gosuslugi.ru/category/health',
							text: 'Запись через гос услуги',
							mods: 'border',
						})(rel="noopener noreferrer" target="_blanc")
				figure.hero__img
					picture
						source(type="image/webp" srcset="img/hero.webp")
						img(src="img/hero.png" alt="Фото всей семьи")
					figcaptio.hide-text Фотография врачей
