.hero {
	position: relative;
	padding-bottom: 16px;
	color: var(--color-title);

	&__inner {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__info {
		max-width: 600px;
		text-align: center;

		@media screen and (min-width: $break_xl) {
			text-align: left;
		}
	}

	&__titles {
		margin-bottom: 48px;
		text-transform: uppercase;
	}

	&__title {
		margin-top: 0;
		font-family: var(--font-family--semibold);
		font-size: rem(24);
		line-height: 30px;

		@media screen and (min-width: $break_xs) {
			font-size: rem(64);
			line-height: 1.2;
		}
	}

	&__subtitle {
		font-size: rem(18);

		@media screen and (min-width: $break_md) {
			font-family: var(--font-family--thin);
			font-size: rem(24);
		}
	}

	&__img {
		display: none;

		img {
			width: auto;
		}

		@media screen and (min-width: $break_xl) {
			position: relative;
			top: 59px;
			display: var(--isImgShow, block);
		}
	}

	&__btns {
		display: block;

		.btn {
			width: 100%;

			@media screen and (min-width: $break_xl) {
				width: auto;
			}
		}

		> * {
			&:not(:last-child) {
				margin-bottom: 16px;

				@media screen and (min-width: $break_md) {
					margin-right: 16px;
					margin-bottom: 0;
				}
			}
		}

		@media screen and (min-width: $break_md) {
			display: flex;
			align-items: center;
		}
	}

	&__icon {
		width: 32px;
		height: 32px;
	}

	@media screen and (min-width: $break_xl) {
		color: var(--color-light);
	}

	@media screen and (min-width: $break_xl) {
		padding-bottom: 0;
	}
}
