mixin 404()
	.not-found
		h1.not-found__title.not-found__title--first 404
		h2.not-found__title Страница не найдена
		p.not-found__text Страница по адресу 
			span.not-found__url.not-found__mark
			|  не существует, перенесена или недоступна
		p.not-found__redirect Перенаправление на главную страницу через 
			span.not-found__mark 4 секунды
