mixin logo(props)
	a.logo(href="/" aria-label="Логотип и ссылка на главную страницу сайта")
		figure
			img.logo__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566541817/logo.svg" alt="Логотип больницы")
			figcaption.logo__text= 'Основана в 1983 году'
