.table {
	margin-bottom: 56px;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	background-color: var(--color-bg-secondary);

	&__caption {
		margin: 16px 0;
		font-size: rem(26);

		@media screen and (max-width: $break_sm) {
			font-size: rem(16);
		}
	}

	thead {
		border-bottom: 1px solid var(--color-border);

		@media screen and (max-width: $break_sm) {
			display: none;
		}
	}

	tr {
		padding: 8px;

		@media screen and (max-width: $break_sm) {
			display: block;
			margin-bottom: 8px;
			border-bottom: 4px solid #ddd;
		}
	}

	th,
	td {
		vertical-align: middle;
		padding: 32px 16px;
	}

	th {
		font-size: rem(16);

		@media screen and (min-width: $break_md) {
			font-size: rem(20);
			text-transform: uppercase;
		}
	}

	td {
		&.center { text-align: center; }

		&.table__cell-response {
			@media screen and (max-width: $break_sm) {
				&::before {
					content: attr(data-title);
					display: block;
					margin-bottom: 8px;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}

		@media screen and (max-width: $break_sm) {
			display: block;
			margin-bottom: 16px;
			padding: 0 16px;
			font-size: rem(14);
			text-align: center;

			&:last-child { border-bottom: 0; }
		}
	}

	&--fixedHeight {
		td { height: 80px; }
	}

	&--equal-1 {
		th {
			&:first-child {
				width: 70%;
			}

			&:last-child {
				width: 30%;
			}
		}
	}

	&--equal-2-1-1 {
		th {
			&:first-child {
				width: 50%;
			}

			&:last-child {
				width: 25%;
			}
		}
	}

	&--equal-1-2-1 {
		th {
			&:first-child {
				width: 25%;
			}

			&:last-child {
				width: 25%;
			}
		}
	}

	&--schedule {
		td {
			padding: 40px 0;
			font-size: rem(18);
			text-align: center;

			.attention { color: var(--color-error); }

			&:first-child,
			&:nth-child(2) { font-family: var(--font-family--bold); }

			@media screen and (max-width: $break_sm) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 8px 0;
				font-size: rem(16);

				&:first-child,
				&:nth-child(2) {
					font-family: var(--font-family--default);
					text-align: left;
				}

				&:first-child { margin-top: 0; }
				&:last-child { margin-bottom: 0; }
			}
		}
	}
}
