.section {
	padding: 32px 0;

	&--hero {
		padding: 24px 0;

		@media screen and (min-width: $break_xl) {
			padding: 56px 0;
			background: var(--gradient-main);
		}
	}

	&--contacts {
		display: none;

		@media screen and (min-width: $break_md) {
			display: block;
		}
	}

	&--slider {
		padding: 16px 0;

		.section__header {
			display: block;
			text-align: center;
		}

		.section__title {
			font-size: rem(32);

			@media screen and (min-width: $break_md) {
				font-size: rem(50);
			}
		}

		@media screen and (min-width: $break_md) {
			padding: 32px 16px;
		}
	}

	&--informer {
		padding: 0;
	}

	&--map,
	&--weather {
		padding: 0;
	}
}
