.section {
	padding: 32px 0;

	&--hero {
		padding: 24px 0;

		@media screen and (min-width: $break_md) {
			padding: 0;
			background: var(--gradient-main);
		}
	}

	&--contacts {
		display: none;

		@media screen and (min-width: $break_md) {
			display: block;
		}
	}

	&--news {
		padding: 0;

		.section__header {
			display: block;
			text-align: center;
		}

		.section__title {
			font-size: 32px;

			@media screen and (min-width: $break_md) {
				font-size: 50px;
			}
		}
	}

	&--articles {
		.container {
			padding: 0;
			max-width: 100%;

			@media screen and (min-width: $break_lg) {
				padding: 0 16px;
				max-width: 1200px;
			}
		}

		.section__header {
			margin-bottom: 16px;
			text-align: center;

			@media screen and (min-width: $break_lg) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 0;
				padding: 16px 0;
			}
		}

		.section__title {
			margin: 0;
		}
	}

	&--doc-links {
		padding: 0;
	}

	&--informer {
		padding-bottom: 0;
	}

	&--map,
	&--weather {
		padding: 0;
	}
}
