.section {
	padding: 32px 0;

	&--hero {
		background: var(--gradient-main);
	}

	&--contacts {
		display: none;
		background-color: var(--color-bg-secondary);

		@media screen and (min-width: $break_md) {
			display: block;
		}
	}

	&--quick-links,
	&--slider {
		background-color: var(--color-light);
	}

	&--slider {
		padding: 0;

		.section__header {
			display: block;
			text-align: center;
		}

		.section__title {
			font-size: 32px;

			@media screen and (min-width: $break_md) {
				font-size: 50px;
			}
		}
	}

	&--doc-links {
		padding: 0;
	}
}
