mixin section(props)
	-
		// список модификаторов
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' section--' + modsList[i].trim();
			}
		}
	section.section(class= allMods)&attributes(attributes)
		if(props.container)
			.container
				if(props.header)
					+section-header({
						title: props.title,
						link: props.link,
						href: props.href,
					})
				block
		else
			if(props.header)
				+section-header({
					title: props.title,
					link: props.link,
				})
			block

mixin section-header(props)
	.section__header
		h2.section__title= props.title			
		if(props.link)
			a.link.link--section(href= props.href rel="noopener" target="_blanc")= props.link
