.contacts {
	&__inner {
		display: flex;
		align-items: center;
		color: var(--color-title);

		> * {
			&:not(:last-child) { margin-right: 16px; }
		}
	}

	&__title-wrapper {
		display: none;

		@media screen and (min-width: $break_xll) {
			display: block;
		}
	}

	&__title {
		margin-top: 0;
		font-size: rem(40);
	}

	&__item {
		display: block;

		> * {
			&:not(:last-child) {
				margin-bottom: 24px;

				@media screen and (min-width: $break_xl) {
					margin-right: 32px;
					margin-bottom: 0;
				}
			}
		}

		@media screen and (min-width: $break_xl) {
			display: flex;
			align-items: center;
		}
	}

	&__address-info {
		margin-bottom: 16px;
		font-size: rem(20);

		span {
			display: block;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		flex: 1;
		justify-content: space-between;
	}

	&__list-item {
		padding: 8px;
	}

	&__list-link {
		font-family: var(--font-family--semibold);
		font-size: rem(20);
	}

	.btn {
		border-bottom: 2px solid var(--color-main);
		padding: 24px 56px;
		font-size: rem(18);
		background-color: var(--color-bg-icon);

		&:hover,
		&:focus {
			background: var(--color-hover);
		}
	}
}
