mixin gallery()
	.gallery
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212779/gallery/756393560.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212779/gallery/769088457.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212779/gallery/739379080.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212779/gallery/787161243.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212778/gallery/733884061.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212778/gallery/605783613.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212776/gallery/689417807.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212776/gallery/718966061.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212776/gallery/732920343.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212775/gallery/711062681.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212775/gallery/605807621.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212774/gallery/539865921.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212774/gallery/665053308.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212773/gallery/662101805.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212772/gallery/529073431.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212772/gallery/492572588.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212772/gallery/507281922.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212772/gallery/495786529.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212770/gallery/477104107.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212770/gallery/492559495.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212769/gallery/439761294.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212769/gallery/456319313.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212769/gallery/40746878.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212768/gallery/237922410.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212768/gallery/995327686.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212768/gallery/422967397.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212767/gallery/979246918.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212766/gallery/401453987.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212766/gallery/847642311.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212766/gallery/168340098.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212765/gallery/886821255.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212765/gallery/866972617.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212765/gallery/233496063.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212765/gallery/788660044.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212764/gallery/112412883.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212764/gallery/809107557.jpg" alt="")
		.gallery__item
			.gallery__content
				img.gallery__img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566212764/gallery/866950540.jpg" alt="")
