.social-icons {
	margin-bottom: 16px;

	&__list {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__item {
		cursor: pointer;

		&:hover,
		&:focus {
			.social-icons__icon {
				background-color: var(--color-hover);
			}
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		padding: 16px;
		background-color: var(--color-bg-icon);
	}

	&__svg-icon {
		width: 32px;
		height: 32px;
		fill: var(--color-light);
	}

	@media screen and (min-width: $break_lg) {
		margin-bottom: 0;
	}
}
