.social-icons {
	margin-bottom: 16px;

	&__list {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__item {
		cursor: pointer;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		padding: 16px;
	}

	&__svg-icon {
		width: 32px;
		height: 32px;
		fill: var(--color-light);
	}

	@media screen and (min-width: $break_lg) {
		margin-bottom: 0;
	}
}
