mixin social-icons()
	.social-icons
		ul.social-icons__list
			li.social-icons__item
				a.social-icons__icon(href="https://ok.ru/profile/571342870927" target="blanc" rel="noopener")
					span.hide-text На страницу одноклассники
					+icon('odnoklassniki', 'social-icons__svg-icon')
			li.social-icons__item
				a.social-icons__icon(href="https://www.instagram.com/crbvolgr/" target="blanc" rel="noopener")
					span.hide-text На страницу инстаграм
					+icon('instagram', 'social-icons__svg-icon')
