.weather {
	position: relative;
	height: 100%;

	&__widget {
		display: flex;
		border-radius: var(--border-radius);
		width: 100%;
		height: 100%;
		color: var(--color-light);

		@media screen and (min-width: $break_xxxl) {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		display: var(--isImgShow, block);
		z-index: 1;
		width: 100%;
		height: 100%;
	}

	&__wrapper {
		display: flex;
		align-items: flex-end;
		width: 100%;
	}

	&__info {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		flex: 1;
		justify-content: space-around;
		padding: 8px;
		background-color: var(--color-bg-main);

		@media screen and (min-width: $break_xxxl) {
			height: 40%;
		}
	}

	&__info-wrapper {
		display: flex;
		flex-direction: column;

		@media screen and (min-width: $break_xxxl) {
			flex: 0 0 60%;
			flex-direction: row;
		}
	}

	&__temperature {
		display: flex;
		flex: 0 0 30%;
		justify-content: space-around;
		width: 100%;
		font-size: rem(45);

		@media screen and (min-width: $break_sm) {
			flex: 1;
			font-size: rem(65);
		}
	}

	&__description {
		display: flex;
		flex: 0 40%;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		text-align: center;
		color: var(--color-light);

		@media screen and (min-width: $break_sm) {
			flex: 1;
		}
	}

	&__condition {
		font-family: var(--font-family--bold);
		font-size: rem(26);
		text-transform: uppercase;

		@media screen and (min-width: $break_sm) {
			font-size: rem(36);
		}
	}

	&__place {
		font-size: rem(18);

		@media screen and (min-width: $break_sm) {
			font-size: rem(24);
		}
	}

	&__addition-item {
		display: flex;
		align-items: center;
		font-family: var(--font-family--bold);

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		> * {
			&:not(:last-child) { margin-right: 16px; }
		}
	}

	&__svg-icon,
	&__refresh-icon {
		fill: var(--color-light);
	}

	&__svg-icon {
		width: 32px;
		height: 32px;
	}

	&__refresh-icon {
		width: 24px;
		height: 24px;
	}

	&__date {
		position: relative;
		z-index: 2;
		display: none;

		@media screen and (min-width: $break_md) {
			display: flex;
			align-items: center;
			flex: 0 0 25%;
			justify-content: center;
			height: 100%;
			font-family: var(--font-family--bold);
			font-size: rem(30);
			background-color: var(--color-bg-main);
		}

		@media screen and (min-width: $break_xxxl) {
			height: 40%;
		}
	}

	&__update {
		position: absolute;
		left: 8px;
		top: 8px;
		z-index: 2;
		display: none;
		align-items: center;
		justify-content: center;
		border-radius: var(--border-radius);
		padding: 8px;
		background-color: var(--color-bg-icon);

		@media screen and (min-width: $break_md) {
			display: flex;
		}
	}
}
