mixin weather()
	.weather.js-weather
		.weather__widget
			//- button.btn.weather__update(tabindex="0" aria-label="Обновить данные о погоде")
			//- 	+icon('refresh', 'weather__refresh-icon')
			.weather__wrapper
				+preloader({})
