.section--testimonials {
	.container {
		padding: 0 16px;
		max-width: 100%;

		@media screen and (min-width: $break_lg) {
			max-width: 1200px;
		}
	}
}

.section__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 32px;
	padding: 16px 0;
}

.section__title {
	margin: 0;
}

.section__link {
	border-bottom: 3px solid var(--color-icon);
	padding-bottom: 2px;
	font-family: var(--font-family--semibold);
	font-size: 18px;
}

.testimonials {
	&__item {
		overflow-y: hidden;
		margin-bottom: 40px;
		max-height: 392px;
		text-overflow: ellipsis;

		&:last-of-type {
			display: none;
		}

		@media screen and (min-width: $break_lg) {
			margin-bottom: 0;
		}

		@media screen and (min-width: $break_xl) {
			&:last-of-type {
				display: block;
			}
		}
	}

	&__item-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item-name {
		margin-bottom: 16px;
		font-family: var(--font-family--semibold);
		font-size: 20px;
		color: var(--color-title);
	}

	&__item-date {
		font-size: 18px;
		color: var(--color-hover);
	}

	&__item-about {
		margin-bottom: 16px;
	}

	&__item-target {
		margin-left: 8px;
		font-family: var(--font-family--semibold);
		font-size: 18px;
		color: var(--color-hover);
	}

	&__item-text {
		line-height: 1.6;
		color: var(--color-text);
	}

	&__item-rating {
		margin-bottom: 16px;
	}

	@media screen and (min-width: $break_lg) {
		display: flex;
		align-items: flex-start;

		> * {
			width: 50%;

			&:not(:last-child) {
				margin-right: 5%;
			}
		}
	}
}
