mixin sandwich()
	.sandwich.js-sandwich#main-menu-trigger(role="button" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-controls="main-nav-menu")
		.sandwich__line.sandwich__line--top
		.sandwich__line.sandwich__line--middle
		.sandwich__line.sandwich__line--bottom
