.expert {
	margin-bottom: 40px;

	.article__title {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -8px;
			width: 100%;
			height: 4px;
			background-color: var(--color-bg-main);
		}
	}

	&__item {
		&:not(:last-child) { margin: 24px 0; }

		@media screen and (min-width: $break_xl) {
			display: flex;
			align-items: flex-start;
		}
	}

	&__info-item { margin-bottom: 24px; }

	&__img {
		@media screen and (min-width: $break_xl) {
			margin-right: 40px;
			max-width: 40%;
		}
	}

	&__name {
		display: block;
		margin-bottom: 8px;
		font-family: var(--font-family--semibold);
		font-size: rem(40);
	}

	&__info-title {
		display: block;
		font-family: var(--font-family--semibold);
		font-size: rem(22);
	}
}
