.link {
	color: var(--color-link);

	&:hover,
	&:focus {
		color: var(--color-link-hover);
		transition: color linear 0.15s;

		.link-text {
			color: var(--color-link-hover);
			transition: color linear 0.15s;
		}
	}

	&:active {
		color: var(--color-link-hover);
	}

	&--underline {
		border-bottom: 1px solid var(--color-link-hover);
	}

	&--section {
		border-bottom: 3px solid var(--color-border);
		padding-bottom: 2px;
		font-family: var(--font-family--semibold);
		font-size: rem(18);
		cursor: pointer;

		&:hover,
		&:focus {
			border-color: var(--color-link-hover);
			color: var(--color-link-hover);
			transition: border-color linear 0.15s;
		}
	}

	@at-root .link-text {
		display: block;
		font-size: rem(14);
		color: var(--color-text-helper);
	}
}
