include ../blocks/components/button/button
include ../blocks/components/checkbox/checkbox
include ../blocks/components/select/select
include ../blocks/components/modal/modal
include ../blocks/components/fieldset/fieldset
include ../blocks/components/input-text/input-text
include ../blocks/components/preloader/preloader
include ../blocks/components/map/map
include ../blocks/components/section/section
include ../blocks/components/arrow/arrow
include ../blocks/components/submenu/submenu
include ../blocks/components/slider/slider
include ../blocks/components/panel/panel
include ../blocks/components/input-date/input-date
include ../blocks/components/breadcrumbs/breadcrumbs
include ../blocks/components/form/form
include ../blocks/components/to-top/to-top
include ../blocks/components/table/table

include ../blocks/modules/header-top/header-top
include ../blocks/modules/header-bottom/header-bottom
include ../blocks/modules/logo/logo
include ../blocks/modules/address/address
include ../blocks/modules/schedule/schedule
include ../blocks/modules/tel-mobile/tel-mobile
include ../blocks/modules/tel-desktop/tel-desktop
include ../blocks/modules/menu/menu
include ../blocks/modules/menu-map/menu-map
include ../blocks/modules/blind-toggle/blind-toggle
include ../blocks/modules/sandwich/sandwich
include ../blocks/modules/write-us/write-us
include ../blocks/modules/polite/polite
include ../blocks/modules/hero/hero
include ../blocks/modules/contacts/contacts
include ../blocks/modules/quick-links/quick-links
include ../blocks/modules/informer/informer
include ../blocks/modules/card/card
include ../blocks/modules/weather/weather
include ../blocks/modules/social-icons/social-icons
include ../blocks/modules/contacts-footer/contacts-footer
include ../blocks/modules/doctor-about/doctor-about
include ../blocks/modules/article/article
include ../blocks/modules/blind/blind
include ../blocks/modules/ie-hack/ie-hack
include ../blocks/modules/404/404
include ../blocks/modules/toc/toc
include ../blocks/modules/files/files
include ../blocks/modules/file/file
include ../blocks/modules/file-info/file-info
include ../blocks/modules/file-open/file-open
include ../blocks/modules/files-hint/files-hint
include ../blocks/modules/tabs/tabs
include ../blocks/modules/skip-content/skip-content
include ../blocks/modules/gallery/gallery
include ../blocks/modules/expert/expert

//- removed
//- include ../blocks/modules/docs-links/docs-links
