extends layouts/default
append vars
	- var title = 'ЦРБ Волгодонского района'
	- var description = 'Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" волгодонского района ростовской области'

block content
	.container
		include ../blocks/modules/main/main
