extends layouts/default

append vars
	- var title = 'ЦРБ Волгодонского района'
	- var description = 'Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" волгодонского района ростовской области'

block content
	+section({
		mods: 'hero',
	})
		+hero({
			title: 'Центральная районная больница',
			subtitle: 'Муниципальное бюджетное учреждение здравоохранения волгодонского района ростовской области',
			href: 'http://www.записьнаприем.рф/',
			btnText: 'Записаться на прием',
		})
	+section({
		mods: 'contacts',
	})
		+contacts()
	+section({
		mods: 'quick-links',
		header: false,
		container: true,
	})
		+quick-links()
	+section({
		mods: 'doc-links',
	})
		+docs-links()
	+section({
		mods: 'testimonials',
		title: 'Отзывы',
		link: 'Все отзывы',
		href: '#',
		header: true,
		container: true,
	})
		+testimonials()
	+section({
		mods: 'map',
	})
		+map()
