extends layouts/default

append vars
	- bodyClass = 'main'
	- var title = 'ЦРБ Волгодонского района'
	- var description = 'Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" волгодонского района ростовской области'
	- var keywords = 'ЦРБ волгодонского района, црб романовская, больница романовская, больница волгодонского района'

block content
	+section({
		mods: 'hero',
	})
		+hero({
			title: 'Центральная районная больница',
			subtitle: 'Муниципальное бюджетное учреждение здравоохранения волгодонского района ростовской области',
			href: 'http://www.записьнаприем.рф/',
			btnText: 'Записаться на прием',
		})
	+section({
		mods: 'contacts',
	})
		+contacts()
	+section({
		mods: 'quick-links',
		header: false,
		container: true,
	})
		+quick-links()
	+section({
		title: 'Полседние новости',
		link: 'Все новости',
		href: '#',
		header: true,
		mods: 'slider',
	})
		+slider({
			mods: 'news',
		})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: '',
				})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: '',
				})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: '',
				})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь C 1 янвapя 2019 г.',
					mods: '',
				})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь C 1 янвapя 2019 г.',
					mods: '',
				})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь C 1 янвapя 2019 г.',
					mods: '',
				})
	+section({
		title: 'Полезные статьи',
		link: 'Все статьи',
		href: '#',
		header: true,
		mods: 'slider',
	})
		+slider({
			mods: 'articles',
		})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: '',
				})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: '',
				})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: '',
				})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь C 1 янвapя 2019 г.',
					mods: '',
				})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь C 1 янвapя 2019 г.',
					mods: '',
				})
			.slider__cell
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь C 1 янвapя 2019 г.',
					mods: '',
				})
	+section({
		mods: 'informer',
	})
		+informer()
	+section({
		mods: 'map',
	})
		+panel({
			mods: 'mr1'
		})
			+map({
				mods: 'index',
			})
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/main.js")
