extends layouts/default

append vars
	- bodyClass = 'main'
	- var title = 'ЦРБ Волгодонского района'
	- var description = 'Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" волгодонского района ростовской области'

block content
	+section({
		mods: 'hero',
	})
		+hero({
			title: 'Центральная районная больница',
			subtitle: 'Муниципальное бюджетное учреждение здравоохранения волгодонского района ростовской области',
			href: 'http://www.записьнаприем.рф/',
			btnText: 'Записаться на прием',
		})
	+section({
		mods: 'contacts',
	})
		+contacts()
	+section({
		mods: 'quick-links',
		header: false,
		container: true,
	})
		+quick-links()
	+section({
		title: 'Последние новости',
		link: 'Все новости',
		href: '#',
		header: true,
		mods: 'news',
	})
		+slider({
			title: 'Новости',
			link: 'Все новости',
			info: true,
			mods: 'news',
		})
			li.glide__slide
				+card({
					title: 'ДИСПАНСЕРИЗАЦИЯ В 2019Г: ДОПОЛНИТЕЛЬНЫЙ ДЕНЬ К ОТПУСКУ, КАК ВОСПОЛЬЗОВАТЬСЯ?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: 'full',
				})
			li.glide__slide
				+card({
					title: 'ДИСПАНСЕРИЗАЦИЯ В 2019Г: ДОПОЛНИТЕЛЬНЫЙ ДЕНЬ К ОТПУСКУ, КАК ВОСПОЛЬЗОВАТЬСЯ?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: 'full',
				})
			li.glide__slide
				+card({
					title: 'ДИСПАНСЕРИЗАЦИЯ В 2019Г: ДОПОЛНИТЕЛЬНЫЙ ДЕНЬ К ОТПУСКУ, КАК ВОСПОЛЬЗОВАТЬСЯ?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: 'full',
				})
			li.glide__slide
				+card({
					title: 'ДИСПАНСЕРИЗАЦИЯ В 2019Г: ДОПОЛНИТЕЛЬНЫЙ ДЕНЬ К ОТПУСКУ, КАК ВОСПОЛЬЗОВАТЬСЯ?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: 'full',
				})
			li.glide__slide
				+card({
					title: 'ДИСПАНСЕРИЗАЦИЯ В 2019Г: ДОПОЛНИТЕЛЬНЫЙ ДЕНЬ К ОТПУСКУ, КАК ВОСПОЛЬЗОВАТЬСЯ?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: 'full',
				})
			li.glide__slide
				+card({
					title: 'ДИСПАНСЕРИЗАЦИЯ В 2019Г: ДОПОЛНИТЕЛЬНЫЙ ДЕНЬ К ОТПУСКУ, КАК ВОСПОЛЬЗОВАТЬСЯ?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: 'full',
				})
	+section({
		title: 'Полезные статьи',
		link: 'Все статьи',
		href: '#',
		header: true,
		container: true,
		mods: 'articles',
	})
		+slider({
			title: 'Новости',
			link: 'Все новости',
			info: false,
			onlyBullets: true,
			mods: 'articles',
		})
			li.glide__slide
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: '',
				})
			li.glide__slide
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: '',
				})
			li.glide__slide
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь',
					mods: '',
				})
			li.glide__slide
				+card({
					title: 'Диспансеризация в 2019г: Дополнительный день к отпуску, как воспользоваться?',
					date: '28 декабря 2019 года',
					text: 'C 1 янвapя 2019 г. для пpoxoждeния диcпaнcepизaции paбoтoдaтeли oбязaны пpeдocтaвлять вceм paбoтникaм нepaбoчий дeнь C 1 янвapя 2019 г.',
					mods: '',
				})
	+section({
		mods: 'informer',
	})
		+informer()
	+section({
		mods: 'map',
	})
		+panel({
			mods: 'mr1'
		})
			+map()
block scripts
	script(src="./js/vendor.js")
	script(src="./js/main.js")
