.hero {
	display: flex;
	width: 100%;
	height: calc(100vh - 111px);
	background: var(--gradient-main);

	&__inner {
		margin: auto;
		padding: 16px;
		font-size: 34px;
		color: #fff;
		background-color: rgba(#fff, 0.1);
	}
}
