.address {
	position: relative;
	display: flex;
	align-items: center;

	&__icon {
		position: absolute;
		left: -36px;
		top: -1px;
		display: block;

		@media screen and (min-width: $break_xs) {
			top: 3px;
		}
	}

	&__svg-icon {
		width: 32px;
		height: 32px;
	}

	&__city {
		font-family: var(--font-family--bold);
	}

	&__main {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
}
