extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Отделение скорой помощи";
	- var description = 'Отделение скорой помощи';
	- var breadcrumbs = [{title: 'Структура',link: 'article.html'},{title: 'Отделение скорой помощи'}]
	- var keywords = 'Отделение скорой помощи';

block content
	+breadcrumbs()
	+article({
		title: 'Отделение скорой помощи',
		mods: 'big'
	})
		.article__text
			.container
				.article__strong
					address
						span Адрес: Волгодонской район, ст. Романовская, пер.Союзный 97а
					span Контактный телефон: 
					a.link.link--underline(href="tel:88639470241")  8 (86394) 7-02-41
				.article__strong
					address
						span Адрес: Волгодонской район, х.Рябичев ул.Юбилейная 52
					p.adress-info
						span Контактный телефон: 
						a.link.link--underline(href="tel:88639474626") 8 (86394) 7-46-26
				p Старший фельдшер высшей категории: 
					i Коровина Любовь Викторовна
				figure
					img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1566477689/skoraja_pomoshh.jpg" alt="Врачи скорой помощи на фоне здания поликлиники")
				p Некоторые параметры работы отделения СМП в году:
				ul.article__list
					li
						p Число выездов в год 10 660
					li
						p фельдшерских бригад скорой медицинской помощи - 8
					li
						p Среднее количество вызовов в сутки – 29
					li
						p Максимальное кол-во вызовов в сутки –43
					li
						p Минимальное кол-во вызовов в сутки – 17
					li
						p Доля лиц, которым скорая медицинская помощь оказана в течение 20 минут после вызова, в общем числе лиц, которым оказана скорая медицинская помощь – 85,3 %
					li
						p Среднее пребывание бригады на вызове – 35-40 минут
					li
						p Количество обслуженных больных – 11 430 человек
					li
						p Госпитализировано больных – 1074
					li
						p Нагрузка на 1 фельдшерскую бригаду – 1332 выезда в год
				h2 Жители Волгодонского района могут вызвать скорую помощь в следующих случаях:
				ol.article__list
					li
						p При несчастных случаях: различные виды досуточных травм, ранения, кровотечения всех видов, ожоги, поражение электрическим током и молнией, переохлаждение, отморожение,
							| утопление, перегревание, удушение, попадание инородных тел в дыхательные пути,
							| отравления, суицидальные попытки.
					li
						p При состояниях, угрожающих жизни больного: потеря сознания, судороги, расстройства  дыхания, остро возникшие боли в сердце, сопровождающиеся удушьем, внезапно возникших
							| нарушениях сердечного ритма, нарушение нормального течения беременности, острые
							| психические расстройства (при поведении больного, опасного для жизни самого больного и
							| окружающих, выезд бригады «скорой» осуществляется совместно с сотрудниками милиции).
					li
						p При внезапных острых заболеваниях: остро возникшие боли в животе, сопровождающиеся
							| тошнотой и рвотой, приступы бронхиальной астмы, острые боли в поясничной области и правом
							| подреберье, остро возникшие боли в конечностях, сопровождающиеся их похолоданием и
							| нарушением чувствительности; аллергические реакции, острая задержка мочеиспускания.
					li
						p К больным с хроническими заболеваниями, при ухудшении их состояния, а также к больным с
							| повышенной температурой «скорая» помощь выезжает только в нерабочие часы и дни
							| поликлиники. Эти вызовы относятся к медицинской помощи на дому и должны обслуживаться
							| персоналом амбулаторно-поликлинической сети.
					li
						p Скорая медицинская помощь осуществляет также транспортировку рожениц в роддом, по
							| заявкам медицинских работников – транспортировку больных в стационар, в том числе
							| инфекционных, в отдельных случаях – для транспортировки больных из стационара в стационар
					li
						p Для обеспечения более быстрого направления бригад скорой помощи вызывающий обязан четко
							| и точно ответить на все вопросы фельдшера службы «03», принимающего вызов: указать
							| фамилию и имя больного, возраст, повод к вызову, улицу, номер дома и квартиры, номер
							| телефона, возможные общественные ориентиры. Если неизвестна фамилия больного, указать пол
							| и примерный возраст.
					li
						p Лицо, вызывающее бригаду скорой помощь, во избежание потери времени, по возможности
							| должен встречать бригаду у ворот дома или подъезда, обеспечить беспрепятственный проход к
							| нему с аппаратурой и в обуви. В случаи нахождения в дома домашних животных изолировать их
					li
						p Вызов от детей при присутствии рядом с ними взрослых принимаются только в исключительных случаях.
					li
						p При вызове в общественное место, учреждение, предприятие, вызывающему необходимо
							| указать диспетчеру ориентиры местоположения больного, не покидать больного до приезда
							| бригады СП, при необходимости – начать оказание первой помощи.
					li
						p Отделение Скорой медицинской помощи не несёт ответственности за вызовы, которые не
							| смогли быть выполненными из-за отсутствия нумерации домов, неправильно указанных адресов.
					li
						p При прибытии бригады СП вызывающему необходимо обеспечить приемлемые минимальные
							| условия для работы бригады (изолировать домашних животных, нормальное освещение). В целях
							| более оперативной работы бригад СП и руководствуясь требованиями личной гигиены, не
							| допускается требовать от бригады СП снимать в квартире обувь
					li
						p Гражданин или его законный представитель имеют право на информированное добровольное
							| согласие на медицинское вмешательство, на отказ от медицинского вмешательства и
							| госпитализации, с письменным подтверждением в карте вызова бригады СП.
					li
						p Оказание медицинской помощи без согласия больного или его законного представителя допускается только в случаях, предусмотренных действующим законодательством РФ.
					li
						p  Не все заболевания являются поводом для вызова СМП. При высокой температуре у взрослых,
							| старых травмах, простуде вы можете получить консультацию в поликлинике. Выполнение
							| плановых назначений лечащих врачей (ЭКГ, инъекции, манипуляции), оказание
							| консультативной, лечебно-диагностической помощи в ЛПУ в обязанность бригад СП не входит.
					li
						p Перевозка больных на плановое лечение в стационар, а также из стационара в другой
							| стационар или домой (для не ходячих больных) осуществляется только по заявке медицинских
							| работников ЛПУ.
					li
						p Допустимость сопровождение родственниками больного (пострадавшего) в санитарном автомобиле и их количество определяется врачом бригады скорой помощи.
					li
						p При необходимости транспортировки лежачего больного родственники должны оказать помощь
							| бригаде СП в переноске больного до автомашины СП. До прибытия СП собрать личные вещи и
							| документы больного (паспорт, страховой полис, флюорограмму для госпитализации).
					li
						p Передача больных в поликлиники для посещения их на дому участковыми врачами после
							| выполненных СП вызовов осуществляется только при необходимости дальнейшего активного
							| наблюдения, в остальных случаях гражданин должен самостоятельно обращаться за
							| амбулаторно-поликлинической помощью.
					li
						p Отделение скорой медицинской помощи не выдает документов, удостоверяющих временную
							| нетрудоспособность, справок о смерти и судебно-медицинских заключений, проводит
							| экспертизу алкогольного опьянения только по направлению органов ОП-3 «Волгодонское», не
							| выписывает рецепты на приобретение лекарств (приказ Минздрава РФ от 18.03.1988 г. №75).
						.article__strong
							p Вызов «скорой» медицинской помощи и выдача сигнального листа не является оправданием для невыхода на работу.
						p Выдает устные справки при личном обращении населения или по телефону 8 (86394) 7-02-41
							| (в пределах Волгодонского района могут позвонить на номер 030 с мобильного телефона)
							| только о месте госпитализации больных и пострадавших без разглашения диагноза, либо
							| других сведений о состоянии здоровья пациентов.
						p Сведения об обращении граждан за медицинской помощью являются врачебной тайной,
							| предоставление данных сведений без согласия гражданина или его законного представителя
							| допускается только в случаях, предусмотренных действующим законодательством РФ.
					li
						p Лица, осуществившие ложный вызов скорой помощи, подлежат ответственности в соответствии
							| с действующим законодательством РФ. (Кодекс РФ об административных правонарушениях,
							| статья 19.13. «Заведомо ложный вызов специализированных служб» - заведомо ложный вызов
							| пожарной охраны, милиции, скорой медицинской помощи или иных специализированных служб
							| влечет наложение административного штрафа в размере от десяти до пятнадцати минимальных
							| размеров оплаты труда.)
					li
						p Гражданин не вправе требовать от бригады СП выполнения их обязанностей при наличии опасности для их жизни и здоровья до устранения данной опасности.
					li
						p При угрозе жизни гражданина медицинские работники имеют право использовать бесплатно
							| любой имеющийся вид транспорта для перевозки гражданина в ближайшее
							| лечебно-профилактическое учреждение. В случае отказа должностного лица или владельца
							| транспортного средства выполнить законное требование медицинского работника о
							| предоставлении транспорта для перевозки пострадавшего они несут ответственность,
							| установленную законодательством Российской Федерации.
				.article__strong
					p Для рассмотрения жалоб, обращений граждан по работе СП обращаться в личном порядке или по телефону: 
						a.link.link--underline(href="tel:88639470614") 8 (86394) 7-06-14 
						| приемная главного врача.
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
