extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Противодействие коррупции";
	- var description = 'Противодействие коррупции';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Противодействие коррупции'}]
	- var keywords = 'Противодействие коррупции';

block content
	+breadcrumbs()
	+article({
		title: 'Противодействие коррупции',
	})
		+toc([
			{title: 'Классификация коррупционных проявлений', anchor: '#classify'},
			{title: 'Причины и условия, порождающие коррупционные проявления в здравоохранении', anchor: '#reason'},
			{title: 'Мероприятия по предупреждению коррупционных проявлений', anchor: '#events'},
			{title: 'Телефоны «горячей линии» по противодействию коррупции', anchor: '#tels'},
			{title: 'План антикоррупционных мероприятий в МБУЗ «ЦРБ» Волгодонского района на 2015 год', anchor: '#plan'},
			{title: 'Дополнительные материалы', anchor: '#dop'},
		])
		.article__text
			.container
				.article__strong
					p В соответствии со Стратегией национальной безопасности Российской Федерации до 2020 года
						| , утвержденной Указом Президента Российской Федерации от #[i 12 мая 2009 года № 537] , преступные посягательства, связанные с коррупцией, отнесены к основным источникам угроз национальной безопасности.
				p Коррупция пронизывает все сферы жизнедеятельности общества, в том числе и здравоохранение.
				p Коррупция в здравоохранении - это повторяющееся и находящееся в постоянном развитии комплексное негативное социально-правовое явление, которое выражается в корыстном использовании медицинскими работниками своего служебного положения в государственной (муниципальной) и частной системах здравоохранения с целью неправомерного получения материальных, нематериальных благ и преимуществ, а также в незаконном предоставлении таких преимуществ физическим или юридическим лицам, причинившее или способное причинить существенный вред
					| интересам общества и государства в области охраны здоровья населения, а также разрушающее нормальные общественные отношения в сфере реализации прав граждан на охрану здоровья и получение медицинской помощи.
				h2#classify Классификация коррупционных проявлений, совершаемых в здравоохранении, делится на три группы:
				ul.article__list
					li
						p коррупционные проявления, непосредственно связанные с должностной деятельностью медицинских работников;
					li
						p коррупционные проявления, связанные с отношениями собственности в здравоохранении;
					li
						p коррупционные проявления медицинских работников, непосредственно связанные с медицинской деятельностью.
				h2#reason Причины и условия, порождающие коррупционные проявления в здравоохранении можно разделить на следующие группы:
				ul.article__list
					li
						p
							| экономические (резкая дифференциация населения по имущественному признаку, экономическая нестабильность и др.);
							| политические (неразвитость института общественного контроля, недостаточно высокий уровень подготовки управленческих кадров, коррупция при обучении в медицинских ВУЗах и др.);
					li
						p социальные (несоответствие роста потребностей и возможностей их удовлетворения, неравенство трудовых и бытовых условий различных категорий медицинских работников, недовольство общества состоянием здравоохранения в стране и др.);
					li
						p организационные (недостатки контрольно-ревизионных мероприятий, недостаточная регламентация служебной деятельности медицинских работников, недостатки кадровой политики при назначении на руководящие должности в здравоохранении);
					li
						p правовые (наличие в законодательстве коррупционных норм и правовых пробелов); нравственно-духовные (преломление норм морали).
				h2#events Необходимо провести следующие мероприятия по предупреждению коррупционных проявлений в здравоохранении:
				ol.article__list
					li
						p
							b В сфере социально-экономических отношений:
						ul.article__list
							li
								p проведение экономических преобразований, направленных на пресечение коррупции как средства решения деловых вопросов;
							li
								p совершенствование системы оплаты труда медицинских работников;
							li
								p информирование пациентов об их правах и обязанностях и многоуровневый механизм защиты их прав.
					li
						p
							b В организационной сфере:
						ul.article__list
							li
								p совершенствование контроля над эффективностью использования бюджетных средств, выделяемых на здравоохранение;
							li
								p открытость деятельности медицинских учреждений;
							li
								p организационный контроль за медицинской деятельностью.
					li
						p
							b В сфере политических отношений:
						ul.article__list
							li
								p укрепление государственности;
							li
								p усиление демократических начал;
							li
								p развитие общественного контроля;
							li
								p развитие интерактивных систем обратной связи населения с представителями государственной и муниципальной власти.
					li
						p
							b В духовной сфере общественной жизни:
						ul.article__list
							li
								p внедрение механизмов антикоррупционного воспитания населения;
							li
								p развитие идей социальной справедливости;
							li
								p повышения уровня правовой культуры молодых специалистов, выработка ответственного профессионального и высоконравственного поведения медицинских работников.
					li
						p
							b В сфере интеллектуальных технологий и научного развития:
						ul.article__list
							li
								p выявление и обобщение проявлений коррупции в здравоохранении;
							li
								p постоянное изучение причин и условий, способствующих развитию коррупции;
					li
						p
							b В правовой сфере:
						ul.article__list
							li
								p четкая законодательная регламентации мер по противодействию коррупции;
							li
								p искоренение правовых пробелов, дублирования и двусмысленности права;
							li
								p постоянное совершенствование методики проведения антикоррупционной экспертизы законодательных актов;
							li
								p внедрение системы обязательного учета экспертного мнения врачебного сообщества при разработке и принятии законодательных актов в сфере здравоохранения.
				h2#tels Телефоны «горячей линии» по противодействию коррупции:
				ul.article__list
					li
						p
							b Правительство Ростовской области: 
							a.link.link--underline(href="tel:88632407236") 8(863) 240-72-36
					li
						p
							b Прокуратура Ростовской области: 
							a.link.link--underline(href="tel:88632624776") 8(863) 262-47-76
					li
						p
							b ГУ МВД России по Ростовской области: 
							a.link.link--underline(href="tel:88632492477") 8(863) 249-24-77 
							| (круглосуточно)
					li
						p
							b Администрация Волгодонского района: 
							a.link.link--underline(href="tel:88639471116") 8(86394) 7-11-16
					li
						p
							b Волгодонской Межрайонный следственный отдел: 
							a.link.link--underline(href="tel:88639471112") 8(86394) 7-11-12
				+table({
					caption: 'План антикоррупционных мероприятий в МБУЗ «ЦРБ» Волгодонского района на 2015 год',
					mods: ''
				})
					thead#plan
						tr
							th №
							th Наименование мероприятия
							th Срок исполнения
							th Исполнитель
					tbody
						tr
							td 1
							td Обеспечение исполнения должностными лицами МБУЗ «ЦРБ» Волгодонского района требований Федерального закона от 02.05.2006 г. № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации»
							td постоянно
							td Главный врач, заместители главного врача, зав. отделениями
						tr
							td 2
							td Контроль использования лечебно-диагностического, технологического оборудования и автотранспорта больницы
							td постоянно
							td Зам. гл. врача по медицинской части, зав. отделениями, гл.медсестра, механик
						tr
							td 3
							td Контроль распределения материальных ресурсов, медикаментов
							td постоянно
							td Главный врач, зам. гл. врача по медицинской части, гл.медсестра
						tr
							td 4
							td Проведение мониторинга цен, маркетинговых исследований, направленных на формирование объективной начальной (максимальной) цены государственного контракта
							td постоянно
							td Главный врач, зам. гл. врача по эконом.вопросам
						tr
							td 5
							td Участие в заседаниях балансовых и согласительных комиссий с рассмотрением итогов финансово-хозяйственной деятельности больницы
							td По плану администрации района
							td Главный врач, зам. гл. врача по эконом.вопросам, гл.бухгалтер
						tr
							td 6
							td Контроль обоснованности выписки листков временной нетрудоспособности
							td ежедневно
							td Зам. гл. врача по медицинской части, заведующая поликлиникой
						tr
							td 7
							td Соблюдение требований Федерального закона от 5 апреля 2013 г. N 44-ФЗ «О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд»
							td постоянно
							td Главный врач, зам. гл. врача по эконом.вопросам
						tr
							td 8
							td Размещение на сайте больницы и в её подразделениях информации для населения по разделам: - Виды оказываемой помощи - График работы больницы - Телефоны должностных лиц - Телефоны, по которым можно сообщить о негативных фактах или внести предложение по улучшению медицинской помощи
							td постоянно
							td Зам. гл. врача по мед.обслуживанию населения, программист
						tr
							td 9
							td Обеспечение доступа граждан к информации (телефоны контролирующих организаций, тарифы платных медицинских услуг, порядок оказания медицинской помощи, права пациентов и т.д.)
							td постоянно
							td Зам. гл. врача по мед.обслуживанию населения. 
						tr
							td 10
							td Формирование и эффективное использование кадрового резерва больницы
							td постоянно
							td Главный врач, начальник ОК
						tr
							td 11
							td Предъявление в установленном законодательством порядке квалификационных требований к гражданам, претендующим на замещение должностей в больнице, а также проведение проверки в установленном порядке сведений, представляемых указанными гражданами
							td при проведении процедуры приема на работу 
							td  Начальник ОК
						tr
							td 12
							td Мониторинг печатных средств массовой информации на предмет публикации материалов с критикой деятельности больницы
							td постоянно
							td Главный врач, юристконсультант
						tr
							td 13
							td Уведомление работником больницы своего непосредственного начальника обо всех случаях обращения к нему каких-либо лиц в целях склонения его к совершению коррупционных нарушений, о возникновении конфликта интересов или о возможности его возникновения
							td постоянно
							td Все работники больницы
						tr
							td 14
							td Проведение обходов стационарных отделений с проведением бесед с пациентами об удовлетворенности действиями персонала
							td По графику
							td Главный врач, заместители главного врача
						tr
							td 15
							td Проведение индивидуальных профилактических бесед с работниками больницы, направленных на недопущение незаконного получения денег от пациентов
							td постоянно
							td Главный врач, заместители главного врача, юрисконсульт
				.article__links
					h2#dop Дополнительные материалы
					.article__link-wrap
						a.link(href="http://volgodonskoiraion.ru/index.php?option=com_content&task=blogcategory&id=236&Itemid=404") Нормативно-правовые акты
						+icon('external-link', 'article__link-img')
					.article__link-wrap
						a.link(href="http://volgodonskoiraion.ru/index.php?option=com_content&task=blogcategory&id=238&Itemid=405") Методические материалы
						+icon('external-link', 'article__link-img')
					.article__link-wrap
						a.link(href="http://volgodonskoiraion.ru/index.php?option=com_content&task=blogcategory&id=237&Itemid=406") Мониторинг
						+icon('external-link', 'article__link-img')
					.article__link-wrap
						a.link(href="http://volgodonskoiraion.ru/index.php?option=com_content&task=blogcategory&id=239&Itemid=407") Формы
						+icon('external-link', 'article__link-img')
					.article__link-wrap
						a.link(href="http://volgodonskoiraion.ru/index.php?option=com_content&task=blogcategory&id=240&Itemid=408") Аттестационная комиссия
						+icon('external-link', 'article__link-img')
					.article__link-wrap
						a.link(href="http://volgodonskoiraion.ru/index.php?option=com_content&task=blogcategory&id=241&Itemid=410") Комиссия по противодействию коррупции
						+icon('external-link', 'article__link-img')
					.article__link-wrap
						a.link(href="http://volgodonskoiraion.ru/index.php?option=com_content&task=blogcategory&id=242&Itemid=409") Новости
						+icon('external-link', 'article__link-img')
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
