extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Демографические показатели";
	- var description = 'Демографические показатели населения Волгодонского района по итогам 2018 года';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Демографические показатели'}]
	- var keywords = 'Демографические показатели';

block content
	+breadcrumbs()
	+article({
		title: 'Демографические показатели населения Волгодонского района по итогам 2018 года',
	})
		+toc([
			{title: 'Численность населения и продолжительность жизни', anchor: '#count'},
			{title: 'Рождаемость', anchor: '#fertility'},
			{title: 'Смертность', anchor: '#mortality', childs: [
				{title: 'Смертность по классам причин.', anchor: '#mortality-class'},
			]},
		])
		.article__text
			.container
				h2#count Численность населения и продолжительность жизни.
				p На #[b 01.01.2018] года по данным Ростовстата среднегодовая численность населения  Волгодонского района составляет #[i 33 657 человек] (в 2017 году – #[i 34 215 человек]), в том числе трудоспособное население – #[i 52,1%], дети от 0 до 14 лет – #[i 18,8 %], подростки – #[i 3,3%],  женщины фертильного (детородного) возраста – #[i 21,8 %], лица старше трудоспособного возраста  (мужчины старше 60 лет, женщины старше 55 лет) – #[i 25,8%].
				h2#fertility Рождаемость.
				p В  Волгодонском районе в 2018 году показатель рождаемости на 1000 населения составил #[i 9,51], в 2017 году #[i 10,17]-  снижение на #[i 6,0%] #[b (средне областной показатель – 10,3)].  
				.article__strong
					p С 2009 по 2018гг. случаи материнской смертности в районе не регистрировались.
				p Младенческая смертность на 1000 родившихся живыми уменьшилась на #[i 27,9%]:  с #[i 8,67]  в 2017г до #[i 6,25] в 2018г #[b (среднеобластной показатель — 6,58)].
				h2#mortality Смертность.
				p Общий коэффициент смертности населения Волгодонского района, т.е. число умерших от всех причин на 1000 человек  населения, в 2018 году составил #[i 12,06],  в 2017 году #[i 11,76] – рост на #[i 11,76] #[b (средне областной показатель 13,34)].
				p Показатель естественной убыли населения  увеличился на #[i 87,7%]: с -1,38 промилле в 2017 году до -2,59 промилле в  2018 году #[b (средне областной показатель -3,04 промилле)].
				h3#mortality-class Смертность по классам причин
				p 
					b В 2018 г. основными причинами смерти населения Волгодонского района являлись:
				ul.article__list
					li
						p болезни системы кровообращения – #[i 44,5%]  (в 2017 году – #[i 44,8%]), показатель смертности #[i 519,95] случая на 100 тыс. населения (в 2017 г – #[i 531,96] случая на 100 тыс.населения);
					li 
						p от старости – #[i 15,1%] (в 2017 году – #[i 19,4%]);
					li
						p от злокачественных новообразований -  #[i 15,2%] (в 2017 году – #[i 15,2%]), показатель смертности #[i 15,2%] случая на 100 тыс. населения (в 2017 г – X#[i 15,2%] случая на 100 тыс.населения);
					li
						p от внешних причин (несчастные случаи, отравления, травмы, самоубийства, убийства и т.п.) - #[i 15,2%] , (в 2017 году – #[i 5,8%]), показатель смертности #[i 95,1] случая на 100 тыс. населения (в 2017 г – #[i 64,6] случая на 100 тыс.населения);
					li
						p от болезни органов пищеварения – #[i 3,4%] (в 2017 году – #[i 3,4%]), показатель смертности #[i 41,6] случая на 100 тыс. населения (в 2017 г – #[i 58,78] случая на 100 тыс.населения);
					li
						p от болезни органов дыхания – #[i 2,9%] (в 2017 году – #[i 2,6%]), показатель смертности #[i 35,6] случая на 100 тыс. населения (в 2017 г – #[i 29,4] случая на 100 тыс.населения);
					li
						p от болезни мочеполовой системы – #[i 1,0%] (в 2017 году – #[i 0,26%]), показатель смертности #[i 11,9] случая на 100 тыс. населения (в 2017 г – #[i 2,9] случая на 100 тыс.населения).
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
