extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Кабинеты диагностики";
	- var description = 'Кабинеты диагностики';
	- var breadcrumbs = [{title: 'Структура',link: 'article.html'},{title: 'Кабинеты диагностики'}]
	- var keywords = 'Кабинеты диагностики';

block content
	+breadcrumbs()
	+article({
		title: 'Кабинеты диагностики',
	})
		+toc([
			{title: 'Клинико-диагностическая лаборатория', anchor: '#clinic'},
			{title: 'Рентген кабинет', anchor: '#rentgen'},
			{title: 'Кабинеты функциональной диагностики', anchor: '#func'},
			{title: 'Кабинет ультразвуковой диагностики', anchor: '#uzi'},
			{title: 'Эндоскопический кабинет', anchor: '#endo'},
			{title: 'Физиотерапевтические кабинеты', anchor: '#fizio'},
		])
		.article__text
			.container
				h2#clinic Клинико-диагностическая лаборатория
				.article__strong
					address
						p.adress-info Адрес: Волгодонской район, ст. Романовская, пер.Союзный 97а
				p В нашей клинико-диагностической лаборатории внимательный, доброжелательный медицинский персонал поможет Вам быстро и эффективно провести полное клинико-диагностическое обследование с соблюдением медицинской этики. В работе используется одноразовый лабораторный инструментарий.
				p В штате лаборатории:
				ul.article__list
					li 
						p заведующая, врач-лаборант высшей категории
					li 
						p 1 врач – лаборант
					li
						p 6 лаборантов из них: 
						ul
							li
								p 4 фельдшера-лаборанта с высшей категорией
							li
								p 2 лаборанта с высшей категорией.
				.article__strong
					p Прием анализов: понедельник-пятница: с 8 ч 00 мин до 10 ч.00 мин.
				p В клинико-диагностической лаборатории выполняются следующие виды исследований:
				ul.article__list
					li
						p Клинические
					li
						p гематологические
					li
						p биохимические
					li
						p коагулологические
					li
						p иммунологические
					li
						p паразитологические
				p 
					b Биохимия:
				ul.article__list
					li
						p коагулограмма
					li
						p липидограмма
					li
						p триглицериды
					li
						p МНО
					li
						p ревмопробы и все виды биохимических исследований
				p 
					b Иммунология (ИФА, РПГА):
				ul.article__list
					li
						p вирусные гепатиты
					li
						p morch-инфекции
					li
						p вирусные инфекции
					li
						p бактериальные инфекции
					li
						p заболевания передающиеся половым путем
					li
						p онкомаркеры PSA и СА 125 (исследование крови больных на онко-маркеры позволяет на ранних стадиях выявить онкологическую патологию)
				p 
					b Паразитология:
				ul.article__list
					li
						p исследования кала и соскобов на гельминты
				p 
					b Бактериоскопия:
				ul.article__list
					li
						p микроскопическое исследование мочи и мокроты на кислотоустойчивые микобактерии туберкулеза
				p Выполняются платные услуги по всем видам исследования.
				.article__strong
					p В 2011 – 2012 гг для клинико-диагностической лаборатории получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района на 2011 – 2012 годы»:
					ol.article__list
						li
							p Микроскоп медицинский бинокулярный "Биомед-5" - 4 штуки
						li
							p Цифровой фотоэлектроколориметр (модель АР-700 Apel)
						li
							p Центрифуга лабораторная медицинская настольная ОПн-8
						li
							p Термостат электрический суховоздушный для лаборатории ТС-1/20-СПУ
						li
							p Гемоглобинометр фотометрический портативный АГФ-03/540-Минигем
						li
							p Устройство для фиксации и окраски мазков крови УФОМК-01
						li
							p Автоматический биохимический анализатор Super Z
						li
							p Автоматический гематологический анализатор MicroCC-18
						li
							p Анализатор показателей гемостаза АПГ4-02
						li
							p Устройство для фиксации и окраски мазков крови со встроенными автоматизированным таймером и камерой сушильной со звуковым сигналом УФОМК-01-Эйлитон
				h2#rentgen Рентген кабинет
				.article__strong
					address
						p.adress-info
							span Адрес: Волгодонской район, ст. Романовская, пер.Союзный 97а
					p.adress-info
						span Контактный телефон: 
						a.link.link--underline(href="tel:88639470242") 8 (86394)7-02-42
				p Представлен кабинетом флюорографического обследования, рентгенкабинетом расположенными в отдельно стоящем здании на территории больницы.
				.article__strong
					p Отделение работает круглосуточно.
				p Для массового обследования населения используется малодозовый флюорографический цифровой аппарат ФЦМБарс-«Ренекс», создан архив флюорограмм.
				p В 2011 г в рамках реализации Программы «Модернизация здравоохранения Волгодонского района на 2011 – 2012 годы» получен стационарный рентгеновский диагностический комплекс на три рабочих места с усилителем яркости рентгеновского изображения КРД-СМ 50/125-1, позволяющим производить исследование в положении пациента стоя и сидя.
				p Для мобильного обслуживания тяжело больных работает палатный переносной рентгеновский аппарат РДП 10 Л 6- 01.
				p В помощь стоматологической службе работает аппарат рентгеновский дентальный «5Д2».
				h2#func Кабинеты функциональной диагностики
				.article__strong
					address
						p.adress-info Кабинеты функциональной диагностики расположены в поликлиническом отделении ст. Романовской, пер.Союзный 97а и в х. Рябичев ул.Юбилейная 52.
				p Проводятся исследования ЭКГ и спирограмма.
				.article__strong
					p Время работы: понедельник-пятница: с 8-00 до 13-00 прием амбулаторных больных, с 13 -00  до 14 – 00 – прием стационарных больных.
				p
					b Оснащение:
				ol.article__list
					li
						p Электрокардиограф двенадцатиканальный с регистрацией ЭКГ в ручном и автоматическом режимах миниатюрный ЭК12Т-01-"Р-Д"
					li
						p ЭКГ-аппарат «Альтон» -3-х канальный.
					li
						p Спирограф СМП – 21/01- «Р-Д».
				h2#uzi Кабинет ультразвуковой диагностики
				.article__strong
					address
						p.adress-info Адрес: Волгодонской район, ст. Романовская, пер.Союзный 97а
				p Исследование проводится на современном оборудовании: УЗ диагностическая система Philips НD3
				p
					b Виды проводимых исследований:
				ul.article__list
					li
						p
							| УЗИ всех внутренних органов: печень, желчный пузырь, поджелудочной железы, селезёнка, почки, надпочечники, мочевой пузырь, предстательная железа.
					li
						p УЗИ поверхностных органов: щитовидной железы, молочных желез, мягких тканей.
					li
						p УЗИ исследование матки и яичников, исследование плода.
				h2#endo Эндоскопический кабинет
				.article__strong
					address
						p.adress-info Адрес: Волгодонской район, ст. Романовская, пер.Союзный 97а
				p Врач- эндоскопист Худяков Алексей Николаевич проводит фиброгастродуоденоскопию и колоноскопию: диагностические исследования, взятие материала на биопсию и цитоморфологическое исследование.
				p В 2011 – 2012 гг получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района на 2011 – 2012 годы»:
				ol.article__list
					li
						p Гастрофиброскоп FUDJINON модель FG-1Z
					li
						p Гастродуоденоскоп биопсийный с волоконной оптикой герметичный ГДБ-ВО-Г-23 (9,5)-"ЛОМО”
					li
						p Колонофиброскоп FC-1Z с источником света PS2-HP, Япония.
				h2.article__subtitle#fizio Физиотерапевтические кабинеты
				.article__strong
					address
						p Физиотерапевтические кабинеты расположены в поликлиническом отделении ст. Романовской, пер.Союзный 97а и в х. Рябичев ул.Юбилейная 52.
				p Процедуры отпускаются: понедельник-пятница: с 8-00 до 14-00.
				p Процедуры физиотерапевтических кабинетов:
				ul.article__list
					li
						p УВЧ- терапия
					li
						p ингаляционная терапия ( на ультразвуковых аппаратах)
					li
						p электролечение, магнитолечение
					li
						p светолечение
					li
						p ультразвуковая терапия
					li
						p амплипульстерапия
					li
						p диодинамотерапия
				p В поликлиническом отделении х. Рябичев работает массажный кабинет, где проходят лечения пациенты стационара и амбулаторные больные.
				p В 2011 – 2012 гг получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района на 2011 – 2012 годы»:
				ol.article__list
					li
						p Ингалятор ультразвуковой Вулкан-2 (3 штуки) (декабрь 2011 г)
					li
						p Ингалятор компрессорный(небулайзер) OMRON-C28 (декабрь 2011 г)
					li
						p Аппарат для УВЧ терапии УВЧ-60,Россия
					li
						p Аппарат для УЗТерапии УЗТ-1.01 Ф- «Медтеко»,Россия
					li
						p Аппарат, для местной дарсонвализации Искра-1,Россия
					li
						p Аппарат диадинамотерапии ДТ-50-03 «Тонус-1»,Россия
					li
						p Аппарат гальванизации и электрофореза Поток-1,Россия
					li
						p Аппарат для низкочастотной магнитотерапии стационарный Полюс-2М,Россия

				+expert()
					+expert__item({
						src: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566470504/expert/vorobeva.jpg',
						name: 'Воробьева Анна Ивановна',
						job: 'Заведующий КДЛ, врач высшей категории',
						edu: 'Ростовский ордена Красного Знамени государственный университет, в 1977 году.',
						up: 'Клиническая лабораторная диагностика, в 2014 году',
						cert: '2014 г. Клиническая лабораторная диагностика',
						category: 'Высшая, 2015 г.'
					})
					+expert__item({
						src: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566472007/expert/bobrovskij.jpg',
						name: 'Бобровский Юрий Евгеньевич',
						job: 'Врач-рентгенолог',
						edu: 'Казанский медицинский институт, в 1974 году.',
						up: 'Рентгенология, в 2016 году',
						cert: '2016 г. Рентгенология',
						category: 'Отсутствует'
					})
					+expert__item({
						src: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566472899/surgeon/andara.jpg',
						name: 'Андара Манаге Чамара Чандраратне',
						job: 'Врач акушер-гинеколог',
						edu: 'Ростовский государственный медицинский университет, 2000 г.',
						up: 'Ультразвуковая диагностика, в 2018 году.',
						cert: '2017 г. Ультразвуковая диагностика',
						category: 'Отсутствует'
					})
					+expert__item({
						src: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566473072/default-img.png',
						name: 'Щербакова Ирина Геннадьевна',
						job: 'Врач ультразвуковой диагностики',
						edu: 'Ростовский государственный медицинский университет, в 2001 году.',
						up: 'Ультразвуковая диагностика, в 2018 году.',
						cert: '2018 г. Ультразвуковая диагностика',
						category: 'Первая, 2015 г.'
					})
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
