extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Денисова Олеся Геннадьевна";
	- var description = 'Доктор Денисова Олеся Геннадьевна';
	- var breadcrumbs = [{title: 'Наши доктора',link: 'doctors.html'},{title: 'Денисова Олеся Геннадьевна'}]
	- var keywords = 'Денисова Олеся Геннадьевна'

block content
	+breadcrumbs()
	+section({
		mods: 'doctor-about',
		header: false,
		container: true,
	})
		+doctor-about()
	+section({
		mods: 'informer',
	})
		+informer()
block scripts
	script(async src="../js/vendor.js")
	script(async src="../js/common.js")
