extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Денисова Олеся Геннадьевна";
	- var description = 'Доктор Денисова Олеся Геннадьевна';
	- var breadcrumbs = [{title: 'Наши доктора',link: 'doctors.html'},{title: 'Денисова Олеся Геннадьевна'}]
	- var keywords = 'Денисова Олеся Геннадьевна'

block content
	+breadcrumbs()
block scripts
	script(async src="../js/vendor.js")
	script(async src="../js/main.js")
