extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Фельдшерско-акушерские пункты";
	- var description = 'Фельдшерско-акушерские пункты';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Фельдшерско-акушерские пункты'}]
	- var keywords = 'Фельдшерско-акушерские пункты';

block content
	+breadcrumbs()
	+article({
		title: 'Фельдшерско-акушерские пункты',
	})
		.article__text
			.container
				+table({
					caption: 'Cписок Фельдшерско-акушерских пунктов',
					mods: 'schedule'
				})
					thead
						tr
							th ФАП
							th Руководитель
					tbody
						tr
							td
								address ФАП п.Виноградный , ул. Ленина, 19 
							td  медсестра Баженова Вера Александровна
						tr
							td
								address ФАП п.Мичуринский, пер. Гапонова,19
							td фельдшер первой категории Дурсунов Фарман Фазаирович
						tr
							td
								address ФАП ст.Дубенцовская, ул.Пролетарская, 22
							td
								| фельдшер первой категории Колесникова
								| Татьяна Викторовна
						tr
							td
								address ФАП х.Лагутники,пер. Технический, 22
							td фельдшер высшей категории Степикина Елена Ноэльевна
						tr
							td
								address ФАП п.Победа, ул. Тюхова,18
							td медсестра высшей категории Жерновая Валентина Николаевна
						tr
							td
								address ФАП х.Мокро-Соленый, ул.Центральная, 51/1
							td фельдшер Вакансия .
						tr
							td
								address ФАП х.Калинин, ул. Савельевская, 12
							td фельдшер Вакансия
						tr
							td
								address ФАП п.Прогресс, ул. Школьная, 22/2
							td медсестра Агалиева Зейнаб Алихан-Кызы.
						tr
							td
								address ФАП п.Донской, ул. Ленина, 23
							td фельдшер высшей категории Салтыкова Ирина Николаевна
						tr
							td
								address ФАП х.Сухая Балка, ул. Центральная, 29
							td фельдшер высшей категории Казанина Ирина Васильевна
						tr
							td
								address ФАП х.Морозов, ул. Новоселов, 20
							td медсестра высшей категории Малеева Нина Яковлевна
						tr
							td
								address ФАП х.Потапов, ул. Комсомольская, 40
							td фельдшер Ахмадеева Екатерина Борисовна
						tr
							td
								address ФАП ст.Большовская, ул. Тюхова, 42
							td фельдшер высшей категории Поликарпова Антонина Гавриловна.
						tr
							td
								address ФАП х.Ясырев, ул. Советская, 2
							td фельдшер высшей категории Иванова Галина Евгеньевна
						tr
							td
								address ФАП х.Холодный, ул. Центральная, 30а
							td медсестра высшей категории Шмакова Татьяна Константиновна
						tr
							td
								address ФАП п.Краснодонский, ул. Школьная, 19
							td фельдшер Фахлулова Айза Ильхомовна
						tr
							td
								address ФАП п.Солнечный, ул. Прудова, 18
							td фельдшер первой категории Матвеева Светлана Яковлевна
						tr
							td
								address ФАП х.Парамонов,ул. Гагарина, 22
							td фельдшер первой категории Полунина Софья Александровна
						tr
							td
								address ФАП п.Савельевский, ул. Теннисная, 14
							td медсестра высшей категории Диянова Нина Петровна
						tr
							td
								address ФАП п.Сибирьковый, ул. Надежда, 23
							td медсестра высшей категории Курносова Валентина Ивановна
						tr
							td
								address ФАП х.Семенкин, ул. Восточная, 3
							td медсестра высшей категории Куракина Светлана Викторовна
						tr
							td
								address ФАП х.Пирожок, ул. Центральная, 24
							td медсестра высшей категории Иванкова Мария Дмитриевна
						tr
							td
								address ФАП х.Степной, пер. Центральный, 2
							td фельдшер Зейралиева Гюнай Тахир Кызы.
						tr
							td
								address ФАП п.Саловский, ул. Молодежная, 4
							td медсестра первой категории Савчук Наталья Анатольевна
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
