extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Возможность получения медицинской помощи";
	- var description = 'О возможности получения медицинской помощи в рамках программы госгарантий бесплатного оказания гражданам медицинской помощи';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Возможность получения медицинской помощи'}]
	- var keywords = 'Возможность получения медицинской помощи';

block content
	+breadcrumbs()
	+article({
		title: 'О возможности получения медицинской помощи в рамках программы госгарантий бесплатного оказания гражданам медицинской помощи',
	})
		+toc([
			{title: 'Реализация права граждан на бесплатную медицинскую помощь', anchor: '#right', childs: [
				{title: 'Реализация права граждан на получение платных медицинских услуг', anchor: '#pay'},
			]},
			{title: 'Действия пациента при отказе в предоставлении бесплатной медицинской помощи.', anchor: '#actions'},
		])
		.article__text
			.container
				.article__strong
					p Граждане Российской Федерации имеют право на бесплатную медицинскую помощь согласно части 1 ст. 41 Конституции Российской Федерации.
				.article__strong
					p
						b Каждый имеет право на медицинскую помощь
						|  (
						i п.1 ст. 19 Федерального закона от 21.11.2011 N 323-ФЗ
						|  «Об основах охраны здоровья граждан в Российской Федерации»)
				.article__strong
					p
						b
							| Каждый имеет право на медицинскую помощь в гарантированном объеме, оказываемую без взимания платы в соответствии с программой государственных гарантий бесплатного оказания гражданам медицинской помощи, а также на получение платных медицинских услуг и иных услуг, в том числе в соответствии с договором добровольного медицинского страхования
						|  (
						i п.2 ст. 19 Федерального закона от 21.11.2011 N 323-ФЗ
						|  «Об основах охраны здоровья граждан в Российской Федерации»).
				h2#right Реализация права граждан на бесплатную медицинскую помощь
				p Это право реализуется через Программу государственных гарантий оказания гражданам Российской Федерации бесплатной медицинской помощи (далее – Программа государственных гарантий). Эта программа ежегодно утверждается Правительством Российской Федерации.
				p В этих документах определены: перечень заболеваний (состояний), перечень видов, форм и условий медицинской помощи, при которых медицинская помощь оказывается бесплатно, порядок и условия предоставления медицинской помощи, которую пациент может получать бесплатно, в том числе сроки ожидания медицинской помощи, а также порядок обеспечения граждан лекарственными препаратами,  медицинскими изделиями, включенными в утверждаемый Правительством Российской Федерации перечень медицинских изделий, имплантируемых в организм человека, лечебным питанием.
				p Территориальной программой государственных гарантий бесплатного оказания гражданам медицинской помощи на территории Российской Федерации определен также перечень медицинских организаций, участвующих в ее реализации.
				p Ознакомиться с содержанием этих документов можно на сайте министерства здравоохранения Российской Федерации
				p Отказ в оказании медицинской помощи в соответствии с программой государственных гарантий бесплатного оказания гражданам медицинской помощи и взимание платы за ее оказание медицинской организацией, участвующей в реализации этой программы, не допускаются.
				p
					| Медицинская помощь в экстренной форме оказывается медицинской организацией и медицинским работником гражданину безотлагательно и бесплатно. Отказ в ее оказании не допускается (
					i статья 11 Федерального закона от 21.11.2011 N 323-ФЗ
					| ).
				p
					| Медицинская организация обязана информировать граждан о возможности получения медицинской помощи в рамках программы государственных гарантий бесплатного оказания гражданам медицинской помощи и территориальных программ государственных гарантий бесплатного оказания гражданам медицинской помощи (
					i статья 79 Федерального закона от 21.11.2011 N 323-ФЗ
					| ).
				h3#pay Реализация права граждан на получение платных медицинских услуг, а также платных услуг немедицинского характера
				p Граждане имеют право на получение платных медицинских услуг, предоставляемых по их желанию при оказании медицинской помощи, и платных немедицинских услуг (бытовых, сервисных, транспортных и иных услуг), предоставляемых дополнительно при оказании медицинской помощи (статья 84 Федерального закона от 21.11.2011 N 323-ФЗ «Об основах охраны здоровья граждан в Российской Федерации»).
				p Платные медицинские услуги оказываются пациентам за счет личных средств граждан, средств работодателей и иных средств на основании договоров, в том числе договоров добровольного медицинского страхования.
				p Платные медицинские услуги могут оказываться в полном объеме стандарта медицинской помощи либо по просьбе пациента в виде осуществления отдельных консультаций или медицинских вмешательств, в том числе в объеме, превышающем объем выполняемого стандарта медицинской помощи.
				p Медицинские организации, участвующие в реализации программы государственных гарантий бесплатного оказания гражданам медицинской помощи и территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи, имеют право оказывать пациентам платные медицинские услуги:
				ul.article__list
					li
						p
							| на иных условиях, чем предусмотрено программой государственных гарантий бесплатного оказания гражданам медицинской помощи и территориальной программой государственных гарантий бесплатного оказания гражданам медицинской помощи (при желании пациента расширить назначенный врачом перечень диагностических исследований, сократить сроки ожидания медицинской помощи и т.п.);
					li
						p при оказании медицинских услуг анонимно
					li
						p гражданам иностранных государств, лицам без гражданства, за исключением лиц, застрахованных по обязательному медицинскому страхованию, и гражданам Российской Федерации, не проживающим постоянно на ее территории и не являющимся застрахованными по обязательному медицинскому страхованию, если иное не предусмотрено международными договорами Российской Федерации
					li
						p при самостоятельном обращении за получением медицинских услуг.
				p При предоставлении платных медицинских услуг должны соблюдаться порядки оказания медицинской помощи, утвержденные Министерством здравоохранения Российской Федерации.
				p К отношениям, связанным с оказанием платных медицинских услуг, применяются положения Закона Российской Федерации от 7 февраля 1992 года N 2300-1 «О защите прав потребителей».
				p
					| Порядок и условия предоставления платных медицинских услуг установлены Правилами предоставления медицинскими организациями платных медицинских услуг, утвержденными 
					i Постановлением Правительства РФ от 04.10.2012 N 1006.
				h3#actions Действия пациента при отказе в предоставлении бесплатной медицинской помощи.
				p  При отказе медицинской организации, участвующей в реализации территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи, в предоставлении бесплатной медицинской помощи в соответствии с этой программой (с учетом определенных программой порядка и условий предоставления медицинской помощи, и т.д.), пациент может обратиться в страховую медицинскую организацию, где он застрахован, в Территориальный фонд обязательного медицинского страхования,  в Департамент здравоохранения г. Москвы, в министерство здравоохранения Российской Федерации.

block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
