extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Порядок оказания медицинской помощи";
	- var description = 'Порядок оказания медицинской помощи';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Порядок оказания медицинской помощи'}]
	- var keywords = 'Порядок оказания медицинской помощи';

block content
	+breadcrumbs()
	+article({
		title: 'Электронная запись граждан на прием к врачам поликлиники МБУЗ «ЦРБ» Волгодонского района',
	})
		+toc([
			{title: 'Виды медицинской помощи', anchor: '#type', childs: [
				{title: 'Оказание первичной доврачебной медико-санитарной помощи', anchor: '#beforeFirst'},
				{title: 'Оказание первичной врачебной медико-санитарной помощи ', anchor: '#first'},
				{title: 'Оказание первичной специализированной медико-санитарной помощи', anchor: '#firstSpec'},
				{title: 'Оказание специализированной медицинской помощи в условиях дневного стационара', anchor: '#spec'},
				{title: 'Оказание специализированной медицинской помощи в стационарных условиях', anchor: '#stacSpec'},
				{title: 'Оказание скорой медицинской помощи вне медицинской организации', anchor: '#outer'},
				{title: 'Оказание медицинской помощи при проведении медицинских осмотров', anchor: '#inspection'},
				{title: 'Оказание медицинской помощи при проведении медицинских освидетельствований', anchor: '#carried'},
				{title: 'Оказание медицинской помощи при проведении медицинских экспертиз', anchor: '#expertise'},
			]},
			{title: 'Условия оказания бесплатной медицинской помощи жителям Волгодонского района без взимания с них платы', anchor: '#free'},
			{title: 'Порядок и условия предоставления первичной медико-санитарной медицинской помощи, в том числе первичной специализированной медицинской помощи', anchor: '#orderFirst'},
			{title: 'Условия предоставления медицинской помощи в стационарных условиях:', anchor: '#stacConditions', childs: [
				{title: 'Условия оказания медицинской помощи в дневных стационарах всех типов', anchor: '#allTypes'},
				{title: 'Порядки условия предоставления скорой медицинской помощи', anchor: '#ambulance'},
			]},
			{title: 'Режим работы учреждения', anchor: '#schedule'},
		])
		.article__text
			.container
				h2#type Виды медицинской помощи
				.article__strong
					p
						| МБУЗ «ЦРБ»  Волгодонского района осуществляет медицинскую деятельность на основании Лицензий:
					ol.article__list
						li
							p
								b ЛО-61-01-006918 от 18.01. 2019, бессрочная.
						li
							p
								b ЛО-61-02-002564, от 14.04.2016, бессрочная
				p При оказании первичной,  в том числе,  доврачебной, врачебной и специализированной, медико-санитарной помощи организуются и выполняются следующие работы (услуги):
				ul.article__list
					li
						p#beforeFirst
							b
								| При оказании первичной доврачебной медико-санитарной  помощи в амбулаторных условиях по:
							ul.article__list
								li
									p акушерскому делу,
								li
									p анестезиологии и реаниматологии,
								li
									p вакцинации (проведение профилактических прививок),
								li
									p лабораторной диагностике,
								li
									p лечебному делу,
								li
									p медицинской статистике,
								li
									p медицинскому массажу,
								li
									p неотложной медицинской помощи,
								li
									p операционному делу,
								li
									p организации сестринского дела,
								li
									p сестринскому делу,
								li
									p сестринскому делу в педиатрии,
								li
									p о рентгенологии,
								li
									p функциональной диагностике,
								li
									p стоматологии,
								li
									p медицинским осмотрам (предрейсовым,  послерейсовым),
								li
									p медицинским осмотрам профилактическим,
					li
						p#first
							b
								| При оказании первичной врачебной медико-санитарной помощи в амбулаторных условиях по:
							ul.article__list
								li
									p неотложной медицинской помощи,
								li
									p общей врачебной практике (семейной медицине),
								li
									p организации здравоохранения и общественному здоровью,
								li
									p педиатрии,
								li
									p терапии
					li
						p#firstSpec
							b
								| При оказании первичной специализированной медико-санитарной помощи в амбулаторных условиях по:
							ul.article__list
								li
									p
										| акушерству-гинекологии (за исключением использования вспомогательных репродуктивных технологий и  искусственного прерывания беременности),
								li
									p анестезиологии и реаниматологии,
								li
									p дерматовенерологии,
								li
									p детской урологии-андрологии,
								li
									p детской хирургии,
								li
									p кардиологии,
								li
									p клинической лабораторной диагностике,
								li
									p медицинской статистике,
								li
									p неврологии,
								li
									p неотложной медицинской помощи,
								li
									p онкологии,
								li
									p оториноларингологии ( за исключением кохлеарной  имплантации),
								li
									p офтальмологии,
								li
									p профпатологии,
								li
									p психиатрии,
								li
									p психиатрии-наркологии,
								li
									p рентгенологии,
								li
									p стоматологии терапевтической,
								li
									p стоматологии хирургической,
								li
									p травматологии и ортопедии,
								li
									p ультразвуковой диагностике,
								li
									p функциональной диагностике,
								li
									p хирургии,
								li
									p эндоскопии,
								li
									p эпидемиологии
					li
						p#spec
							b
								| При  оказании специализированной медицинской помощи в условиях дневного стационара по:
							ul.article__list
								li
									p
										| акушерству и гинекологии (за исключением использования вспомогательных репродуктивных технологий и искусственного прерывания беременности),
								li
									p анестезиологии и реаниматологии,
								li
									p клинической лабораторной диагностике,
								li
									p лабораторной диагностике,
								li
									p медицинской статистике,
								li
									p медицинскому массажу,
								li
									p неврологии,
								li
									p операционному делу,
								li
									p рентгенологии,
								li
									p сестринскому делу,
								li
									p терапии,
								li
									p трансфузиологии,
								li
									p ультразвуковой диагностике,
								li
									p урологии,
								li
									p физиотерапии,
								li
									p функциональной диагностике,
								li
									p хирургии,
								li
									p эндоскопии,
								li
									p эпидемиологии
					li
						p#stacSpec
							b При оказании  специализированной медицинской помощи в стационарных условиях по:
							ul.article__list
								li
									p акушерскому делу,
								li
									p
										| акушерству и гинекологии (за исключением использования вспомогательных репродуктивных технологий и искусственного прерывания беременности),
								li
									p
										| акушерству и гинекологии (искусственному  прерыванию беременности), анестезиологии и реаниматологии,
								li
									p вакцинации (проведению профилактических прививок),
								li
									p диетологии,
								li
									p клинической лабораторной диагностике,
								li
									p лабораторной диагностике,
								li
									p медицинской статистике,
								li
									p медицинскому массажу,
								li
									p неврологии,
								li
									p операционному делу,
								li
									p рентгенологии,
								li
									p сестринскому делу,
								li
									p терапии,
								li
									p трансфузиологии,
								li
									p ультразвуковой диагностике,
								li
									p урологии,
								li
									p физиотерапии,
								li
									p функциональной диагностике,
								li
									p хирургии,
								li
									p эндоскопии,
								li
									p эпидемиологии
					li
						p#outer
							b При оказании скорой медицинской помощи вне  медицинской организации по:
							ul.article__list
								li
									p медицинской помощи,
								li
									p скорой медицинской помощи
					li
						p#palliat
							b При оказании паллиативной  медицинской помощи в амбулаторных условиях по:
							ul.article__list
								li
									p педиатрии,
								li
									p сестринскому делу,
								li
									p сестринскому делу в педиатрии,
								li
									p терапии
					li
						p#inspection
							b При проведении медицинских осмотров по:
							ul.article__list
								li
									p медицинским осмотрам (предварительным, периодическим),
								li
									p медицинским осмотрам (предрейсовым и послерейсовым),
								li
									p медицинским осмотрам профилактическим
					li
						p#carried 
							b При проведении медицинских освидетельствований:
							ul.article__list
								li
									p медицинское освидетельствование кандидатов  в усыновители,
								li
									p опекуны (попечители) или приемные родители,
								li
									p
										| медицинскому освидетельствованию  на наличие  медицинских противопоказаний к управлению транспортным средством,
								li
									p
										| медицинскому освидетельствованию  на наличие медицинских противопоказаний к владению оружием,
								li
									p
										| медицинскому освидетельствованию на состояние  опьянения (алкогольного, наркотического или иного токсического)
					li
						p#expertise
							b При проведении медицинских экспертиз по:
							ul.article__list
								li
									p экспертизе профессиональной пригодности,
								li
									p экспертизе временной нетрудоспособности.
				h2#free
					| Условия оказания бесплатной медицинской помощи жителям Волгодонского района без взимания с них платы
				p
					| Медицинская помощь организуется и оказывается в соответствии с порядками оказания медицинской помощи, обязательными для исполнения на территории Российской Федерации всеми медицинскими организациями, а также на основе стандартов медицинской помощи.
				p
					| Медицинская помощь в экстренной форме оказывается медицинской организацией и медицинским работником гражданину безотлагательно и бесплатно. Отказ в ее оказании не допускается.
				p
					| Необходимым предварительным условием медицинского вмешательства является дача информированного добровольного согласия гражданина или его законного представителя на медицинское вмешательство на основании предоставленной медицинским работником в доступной форме полной информации о целях, методах оказания медицинской помощи, связанном с ними риске, возможных вариантах медицинского вмешательства, о его последствиях, а также о предполагаемых результатах оказания медицинской помощи.
				p
					| Лечащий врач организует своевременное квалифицированное обследование и лечение пациента, предоставляет информацию о состоянии его здоровья, по требованию пациента или его законного представителя приглашает для консультаций врачей — специалистов.
				p
					| Реализация рекомендаций врача-консультанта осуществляется только по согласованию с лечащим врачом, за исключением экстренных случаев, угрожающих жизни больного.
				h3#right Право на внеочередное оказание медицинской помощи имеют: 
				ul.article__list
					li
						p беременные
					li
						p больные с признаками острых заболеваний
					li
						p
							| отдельные категории  граждан, определенные действующим законодательством, а именно:
						ul.article__list(style="list-style-type: decimal;")
							li
								p
									| Участники Великой Отечественной войны 
									b
										i (статья 2 Федерального закона от 12.01.1995 № 5-ФЗ «О ветеранах»)
							li
								p
									| Ветераны боевых действий 
									b
										i (статья 3 Федерального закона от 12.01.1995 №5-ФЗ «О ветеранах»)
							li
								p
									| Инвалиды Великой Отечественной войны и инвалиды боевых действий 
									b
										i (статья 14 Федерального закона от 12.01.1995 № 5-ФЗ «О ветеранах»)
							li
								p
									| Нетрудоспособные члены семьи погибшего (умершего) инвалида войны, участника Великой Отечественной войны, ветерана боевых действий, состоявшие на его иждивении и получающие пенсию по случаю потери кормильца (имеющие право на ее получение) в соответствии с пенсионным законодательством Российской Федерации 
									b
										i (статья 21 Федерального закона от 12.01.1995 № 5-ФЗ «О ветеранах»)
							li
								p
									| Граждане, подвергшиеся радиационному воздействию 
									b
										i
											| (статья 14 Закона Российской Федерации от 15.05.1991 № 1244-1 «О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС», статья 2 Федерального закона от 10.01.2002 № 2-ФЗ «О социальных гарантиях гражданам, подвергшимся радиационному воздействию вследствие ядерных испытаний на Семипалатинском полигоне», статья 4 Закона РФ от 26.11.1998 №175-ФЗ «О социальной защите граждан Российской Федерации, подвергшихся воздействию радиации вследствие аварии в 1957 году на производственном объединении «Маяк» и сбросов радиоактивных отходов в реку Теча»)
							li
								p
									| Граждане, имеющие звания Герой Советского Союза, Герой Российской Федерации, полные кавалеры ордена Славы 
									b
										i
											| (статья 1 Закона Российской Федерации от 15.01.1993 № 4301-1 «О статусе Героев Советского Союза, Героев Российской Федерации и полных кавалеров ордена Славы»)
							li
								p
									| Члены семьи Героя Советского Союза, Героя Российской Федерации и полного кавалера ордена Славы(супруги, родители, дети в возрасте 
									i до 18 лет,
									|  дети 
									i старше 18 лет
									| , ставшие инвалидами до достижения ими возраста 
									i 18 лет
									| , и дети в возрасте 
									i до 23 лет
									| , обучающиеся в организациях, осуществляющих образовательную деятельность по очной форме обучения). Данная льгота независимо от даты смерти (гибели) Героя и полного кавалера ордена Славы предоставляется вдове (вдовцу), родителям, детям в возрасте 
									i до 18 лет
									| , детям 
									i старше 18 лет
									| , ставшим инвалидами до достижения ими возраста 
									i 18 лет
									| , и детям в возрасте 
									i до 23 лет
									| , обучающимся в организациях, осуществляющих образовательную деятельность, по очной форме обучения, и сохраняется за указанными лицами 
									b
										i
											| (статья 4 Закона Российской Федерации от 15.01.1993 № 4301-1 «О статусе Героев Советского Союза, Героев Российской Федерации и полных кавалеров ордена Славы»)
							li
								p
									| Граждане, удостоенные звания Герой Социалистического Труда, Герой Труда Российской Федерации и награжденные орденом Трудовой Славы трех степеней 
									b
										i
											| (статья 2 Федерального закона от 09.01.1997 № 5-ФЗ «О предоставлении социальных гарантий Героям Социалистического Труда, Героям Труда Российской Федерации и полным кавалерам ордена Трудовой Славы»)
							li
								p
									| Вдовы (вдовцы) Героев Социалистического Труда, Героев Труда Российской Федерации или полных кавалеров ордена Трудовой Славы, не вступившие в повторный брак (независимо от даты смерти (гибели) Героя Социалистического Труда, Героя Труда Российской Федерации или полного кавалера ордена Трудовой Славы) 
									b
										i
											| (статья 2 Федерального закона от 09.01.1997 № 5-ФЗ «О предоставлении социальных гарантий Героям Социалистического Труда, Героям Труда Российской Федерации и полным кавалерам ордена Трудовой Славы»)
							li
								p
									| Военнослужащие, проходившие военную службу в воинских частях, учреждениях, военно-учебных заведениях, не входивших в состав действующей армии, в период 
									i с 22 июня 1941 г. по 3 сентября 1945 г.
									|  не менее шести месяцев, военнослужащие, награжденные орденами или медалями СССР за службу в указанный период 
									b
										i (статья 17 Федерального закона от 12.01.1995 №5-ФЗ «О ветеранах»)
							li
								p
									| Лица, награжденные знаком «Жителю блокадного Ленинграда» 
									b
										i (статья 18 Федерального закона от 12.01.1995 № 5-ФЗ «О ветеранах»)
							li
								p
									| Граждане, награжденные знаком «Почетный донор России», а также граждане, награжденные знаком «Почетный донор СССР» и постоянно проживающие на территории Российской Федерации 
									b
										i
											| (статья 21 Федерального закона от 20.07.2012 № 125-ФЗ «О донорстве крови и ее компонентов»)
							li
								p
									| Реабилитированные лица, лица, признанные пострадавшими от политических репрессий 
									b
										i
											| (статья 1 Областного закона Ростовской области от 22.10.2004 №164-3С «О социальной поддержке граждан, пострадавших от политических репрессий»)
							li
								p
									| Лица, работавшие в период Великой Отечественной войнына объектах противовоздушной обороны, местной противовоздушной обороны, на строительстве оборонительных сооружений, военно-морских баз, аэродромов и других военных объектов в пределах тыловых границ действующих фронтов, операционных зон действующих флотов, на прифронтовых участках железных и автомобильных дорог 
									b
										i (статья 17 Федерального закона от 12.01.1995 № 5-ФЗ «О ветеранах»)
							li
								p
									| Бывшие несовершеннолетние узники концлагерей, гетто, других мест принудительного содержания, созданных фашистами и их союзниками в период Второй мировой войны 
									b
										i
											| (статья 154 Федерального закона от 22.08.2004 № 122-ФЗ «О внесении изменений в законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием  федеральных законов «О внесении изменений и дополнений в Федеральный закон «Об общих принципах организации законодательных (представительных) и исполнительных органов государственной власти субъектов Российской Федерации» и «Об общих принципах организации местного самоуправления в Российской Федерации»
							li
								p
									| Инвалиды I и II групп 
									b
										i
											| (Указ Президента Российской Федерации «О дополнительных мерах государственной поддержки инвалидов» от 2.10.1992 № 1157)
				p
					b Во внеочередном порядке медицинская помощь предоставляется в:
				ul.article__list
					li
						p амбулаторных условиях
					li
						p условиях дневного стационара
					li
						p стационарных условиях
				h2#orderFirst Порядок и условия предоставления первичной медико-санитарной медицинской помощи, в том числе первичной специализированной медицинской помощи
				p
					b Первичная медико-санитарная помощь включает:
				ul.article__list
					li
						p
							| первичную доврачебную медико-санитарную помощь, которая оказывается фельдшерами, акушерами, другими медицинскими работниками со средним медицинским образованием
					li
						p
							| первичную врачебную медико-санитарную помощь, которая оказывается врачами-терапевтами, врачами-терапевтами участковыми, врачами общей практики (семейными врачами)
					li
						p
							| первичную специализированную медико-санитарную помощь, которая оказывается врачами-специалистами разного профиля
				p
					| Первичная медико-санитарная помощь оказывается в амбулаторных условиях, в условиях дневного стационара, в том числе стационара на дому.
				p
					| Амбулаторная медицинская помощь предоставляется гражданам при заболеваниях, травмах, отравлениях и других патологических состояниях, не требующих круглосуточного медицинского наблюдения, изоляции и использования интенсивных методов лечения, а также при беременности и искусственном прерывании беременности на ранних сроках (абортах), а также включает проведение мероприятий по профилактике (в том числе диспансерному наблюдению) заболеваний.
				p
					| Прием плановых больных врачом может осуществляться как по интернету, предварительной записи (самозаписи), так и по талону на прием, полученному в день обращения.
				p
					| Время, отведенное на прием пациента в поликлинике, определяется исходя из врачебной нагрузки по конкретной специальности, утвержденной главным врачом медицинской организации
				p
					| При оказании первичной специализированной медико-санитарной помощи в плановой форме срок ожидания приема врачей-специалистов разных профилей — 
					i не более 14 рабочих дней
					|  с момента обращения
				p
					| Сроки приема врачами-терапевтами участковыми, врачами общей практики (семейными врачами), врачами педиатрами — 
					i не более 24 часов
					|  с момента обращения.
				p
					| Лабораторно-диагностические методы исследования гражданам предоставляются по направлению лечащего врача или врача-специалиста при наличии медицинских показаний и в соответствии с принятыми стандартами обследования по данному заболеванию. Объем диагностических и лечебных мероприятий, необходимость в консультациях врачей-специалистов для конкретного пациента определяется лечащим врачом.
				p
					| Срок проведения выполняемых по направлению врача лабораторных исследований и диагностических инструментальных исследований, включая маммографию, функциональную диагностику, ультрозвуковые исследования, в плановой форме - не более 14 рабочих дней со дня назначения.
				p
					| Срок ожидания проведения компьютерной томографии, магнитно-резонансной томографии и ангиографии по направлению, выданному лечащим врачом, осуществляется в порядке очередности с периодом ожидания 
					i не более 30 рабочих дней
					| .
				p Данный порядок не распространяется на экстренные и неотложные состояния.
				p
					| Первичная специализированная медико-санитарная помощь (консультативно-диагностическая) в амбулаторно-поликлинических учреждениях предоставляется по направлению лечащего врача или другого врача-специалиста медицинской организации, к которой пациент прикреплен, с обязательным указанием цели консультации и при наличии результатов предварительного обследования. Сроки проведения консультаций врачей-специалистов не должны превышать 14 календарных дней со дня обращения пациента в медицинскую организацию.
				p
					| Направление больных в учреждения здравоохранения, центры, клиники Министерства здравоохранения Российской Федерации, Российской академии медицинских наук и другие, финансируемые из федерального бюджета, оказывающие дорогостоящие (высокотехнологичные) специализированные виды медицинской помощи, осуществляет министерство здравоохранения Ростовской области в установленном порядке.
				p
					| Порядок направления граждан на проведение заместительной почечной терапии методом гемодиализа и применения вспомогательных репродуктивных технологий (экстракорпорального оплодотворения) в рамках Территориальной программы государственных гарантий определяется министерством здравоохранения Ростовской области.
				p
					| Оформление медицинской документации и направление больных для оказания специализированной медицинской помощи в медицинские организации за пределы Ростовской области осуществляется в порядке, установленном министерством здравоохранения Ростовской области.
				p
					| Неотложная медицинская помощь, включая оказание неотложной помощи на дому, оказывается независимо от прикрепления пациента.
				p
					| При оказании медицинской помощи по экстренным и неотложным показаниям прием пациента осуществляется вне очереди и без предварительной записи. Экстренная медицинская помощь оказывается безотлагательно. Срок ожидания оказания первичной медико-санитарной помощи в неотложной форме составляет не более двух часов с момента обращения.
				p
					| Отсутствие страхового полиса и документов, удостоверяющих личность, не является причиной отказа в экстренном приеме.
				p
					| Условия предоставления первичной медико-санитарной помощи, предоставляемой медицинскими работниками амбулаторно-поликлинических учреждений на дому:
				ul.article__list
					li
						p
							| медицинская помощь на дому по неотложным показаниям, в том числе по вызову, переданному медицинскими работниками скорой медицинской помощи, оказывается при острых и внезапных ухудшениях состояния здоровья, не позволяющих больному посетить поликлинику, в том числе и при тяжелых хронических заболеваниях
					li
						p
							| активные посещения медицинским работником (врачом, фельдшером, медицинской сестрой, акушеркой) пациента на дому,  осуществляются с целью  наблюдения за его состоянием, течением заболевания и своевременного назначения (коррекции) необходимого обследования и (или) лечения, проведения патронажа детей 
							i до 1 года
							| , дородового патронажа, патронажа родильниц, организации профилактических и превентивных мероприятий, предусмотренных нормативными правовыми актами по организации медицинской помощи
					li
						p
							| посещения медицинским работником для констатации факта смерти на дому в часы работы поликлиники (осуществляется выход на дом врача или фельдшера — при отсутствии врача в сельской местности)
				p
					| Посещение больного участковым врачом на дому производится в день поступления вызова в поликлинику.
				p
					| Неотложная медицинская помощь на дому осуществляется в течение не более двух часов после поступления обращения больного или иного лица об оказании неотложной медицинской помощи на дому.
				.article__strong
					p Условия реализации установленного законодательством Российской Федерации права на выбор медицинской организации, права на выбор врача, в том числе врача общей практики (семейного врача) и лечащего врача (с учетом согласия врача).
				p
					| В соответствии со 
					i
						| статьей 21 Федерального закона от 21.11.2011 № 323-ФЗ «Об основах охраны здоровья граждан в Российской Федерации» при оказании гражданину медицинской помощи в рамках Территориальной программы государственных гарантий
					|  гражданин имеет право на выбор медицинской организации на выбор врача с учетом согласия врача.
				p
					| Выбор гражданином медицинской организации, оказывающей первичную медико-санитарную помощь, осуществляется не чаще чем один раз в год (за исключением случаев изменения места жительства или места пребывания гражданина) в порядке, установленном приказом Министерства здравоохранения Российской Федерации 
					b
						i
							| (приказ Минздравсоцразвития Российской Федерации от 26.04.2012 № 406н «Об утверждении порядка выбора гражданином медицинской организации при оказании ему медицинской помощи в рамках программы государственных гарантий бесплатного оказания гражданам медицинской помощи»)
					| .
				p
					| В выбранной медицинской организации гражданин имеет право на выбор лечащего врача (врача-терапевта, врача-терапевта участкового, врача- педиатра, врача-педиатра участкового, врача общей практики (семейного врача) или фельдшера, но не чаще чем один раз в год (за исключением случаев замены медицинской организации).
				p
					| Выбор лечащего врача осуществляется путем подачи заявления лично или через своего представителя на имя руководителя медицинской организации, при наличии согласия врача, выбранного пациентом, с учетом рекомендуемой численности обслуживаемого населения на врачебных участках в  соответствии с нормативной штатной численностью медицинского персонала.
				p
					| В случае требования гражданина о замене лечащего врача (за исключением случаев оказания специализированной медицинской помощи) он обращается к руководителю медицинской организации (ее подразделения) с заявлением в письменной форме, в котором указываются причины замены лечащего врача.
				p
					| С целью реализации данного права гражданина руководитель медицинской организации оказывает гражданину содействие в Порядке, установленном  министерством здравоохранения Российской Федерации 
					b
						i
							| (приказ Министерства здравоохранения и социального развития Российской Федерации от 26.04.2012 № 407н)
					| .
				p
					| При отсутствии заявления гражданина о выборе врача и медицинской организации оказание первичной медико-санитарной помощи осуществляется по территориально-участковому принципу,
					| предусматривающему формирование групп и обслуживаемого населения по месту жительства, месту работы или учебы в определенных организациях в соответствии с действующими нормативными документами.
				p
					| При изменении места жительства гражданин имеет право по своему выбору прикрепиться к другому врачу-терапевту, врачу-терапевту участковому, врачу-педиатру, врачу-педиатру участковому, врачу общей практики (семейному врачу) или фельдшеру в медицинской организации по новому месту жительства либо сохранить прикрепление к прежнему врачу-терапевту, врачу-терапевту участковому, врачу-педиатру, врачу- педиатру участковому, врачу общей практики (семейному врачу) или фельдшеру.
				h3#stacConditions Условия предоставления медицинской помощи в стационарных условиях:
				p
					| Специализированная медицинская помощь в стационарных условиях оказывается пациентам, состояние которых требует круглосуточного медицинского наблюдения, соблюдения постельного режима, изоляции по эпидемиологическим показаниям.
				p
					| Госпитализация в условиях обеспечения круглосуточного медицинского наблюдения и лечения (стационарно) осуществляется по направлению лечащего врача или врача-специалиста амбулаторно-
					| поликлинического учреждения в соответствии с медицинскими показаниями, требующими госпитального режима, проведения интенсивных методов лечения и круглосуточного наблюдения врача, бригадой скорой медицинской помощи по срочным медицинским показаниям, а также при самостоятельном обращении пациента для оказания экстренной медицинской помощи при наличии показаний к госпитализации.
				p
					| В медицинских организациях, оказывающих специализированную медицинскую помощь в стационарных условиях, ведется лист ожидания оказания специализированной медицинской помощи в плановой форме.
				p
					| Осуществляется информирование граждан в доступной форме, в том числе с использованием информационно-телекоммуникационной сети «Интернет», о сроках ожидания оказания специализированной медицинской помощи с учетом требования законодательства Российской Федерации о персональных данных. Информационное сопровождение застрахованных лиц при организации оказания им медицинской помощи проводится в порядке, утвержденном разделом ХУ Правил ОМС 
					b
						i
							| (приказ Министерства здравоохранения и социального развития Российской Федерации от 28.02.2011 №158н) и приказом Федерального фонда обязательного медицинского страхования от 20.12.2013 №263)
					| .
				p
					| Срок ожидания оказания специализированной медицинской помощи в плановой форме, за исключением высокотехнологичной медицинской помощи, — 
					i не более 30 календарных дней
					|  с момента выдачи лечащим врачом направления на госпитализацию (при условии обращения пациента за госпитализацией в рекомендуемые лечащим врачом сроки).
				p
					| Время ожидания плановой госпитализации для получения высокотехнологичной медицинской помощи по разным профилям определяется исходя из потребности граждан в тех или иных видах
					| медицинской помощи, ресурсных возможностей медицинского учреждения и наличия очередности.
				p
					| При состояниях, угрожающих жизни, а также в случаях риска распространения инфекционных заболеваний, пациент госпитализируется в  круглосуточный стационар незамедлительно.
				p
					| Условия пребывания в медицинских организациях при оказании медицинской помощи в стационарных условиях, включая совместное нахождение с ребенком одного из родителей, иного члена семьи или иного законного представителя.
				p
					| При оказании медицинской помощи в рамках Территориальной программы государственных гарантий в условиях стационара больные могут быть размещены в палатах на два и более мест с соблюдением действующих санитарно-гигиенических требований и норм.
				p
					| Одному из родителей, иному члену семьи или иному законному представителю предоставляется право на бесплатное совместное нахождение с ребенком в медицинской организации при оказании ему медицинской помощи в стационарных условиях до достижения им возраста четырех лет, а с ребенком старше данного возраста — при наличии медицинских показаний.
				p
					| Плата за создание условий пребывания в стационарных условиях, в том числе  за предоставление спального места и питания, с указанных лиц не взимается.
				p
					| При оказании медицинской помощи в рамках Территориальной программы государственных гарантий в условиях стационара пациенты размещаются в одно — или двухместных палатах (боксах) при наличии медицинских и (или) эпидемиологических показаний, установленных 
					b
						i
							| приказом Министерством здравоохранения Российской Федерации от 15 мая 2012 № 535 «Об утверждении перечня медицинских и эпидемиологических показаний к размещению пациентов в маломестных палатах (боксах)».
				p
					| Размещение пациентов в условиях пребывания повышенной комфортности (в том числе в маломестных палатах) по их желанию, при отсутствии вышеуказанных медицинских и эпидемиологических показаний, может предоставляться на платной основе, за счет личных средств граждан и других источников.
				p
					| В случае отсутствия в медицинской организации возможности проведения пациенту, находящемуся на стационарном лечении, необходимых диагностических исследований, медицинская организация обеспечивает транспортировку гражданина в сопровождении медицинского работника в другую медицинскую организацию, в которой предусмотрено проведение необходимых диагностических исследований в соответствии с порядками и стандартами оказания медицинской помощи.
				p
					| Основанием для назначения пациенту диагностических исследований является наличие медицинских показаний к проведению данного вида исследования в соответствии с требованиями действующих порядков оказания медицинской помощи и стандартов оказания медицинской помощи.
				p
					| Наличие показаний к проведению диагностических исследований пациенту с указанием конкретной медицинской организации, выполняющей требуемый вид исследований, оформляется решением врачебной комиссии с соответствующей записью в медицинской карте стационарного больного.
				p
					| Сопровождение пациента в медицинскую организацию для выполнения диагностических исследований осуществляется медицинским персоналом учреждения, оказывающего стационарную медицинскую помощь. В качестве сопровождающих медицинских работников могут быть врачи или средний медицинский персонал.
				p
					| Транспортировка пациента осуществляется санитарным транспортом медицинской организации, оказывающей пациенту стационарную медицинскую помощь, в медицинскую организацию, обеспечивающую проведение требуемого вида диагностического исследования, и обратно.
				p
					| Пациент направляется в медицинскую организацию для проведения диагностических исследований с направлением и выпиской из медицинской карты стационарного больного, содержащей: клинический диагноз, результаты проведенных инструментальных и лабораторных исследований, обоснование необходимости проведения диагностического исследования.
				p
					| Направление должно содержать информацию: о паспортных данных пациента, полисе обязательного медицинского страхования; в случае направления детей — данные свидетельства о рождении, полиса обязательного медицинского страхования, паспортные данные одного из родителей.
				h3#allTypes Условия оказания медицинской помощи в дневных стационарах всех типов:
				p
					| Показанием для направления больного в дневной стационар является необходимость проведения активных лечебно-диагностических и реабилитационных мероприятий, не требующих  круглосуточного медицинского наблюдения, в том числе после выписки из стационара круглосуточного пребывания. Длительность ежедневного проведения вышеназванных мероприятий в дневном стационаре составляет 
					i от 3 до 6 часов
					| , организация работы дневного стационара может быть в одно- или двухсменном режиме
				p
					| Допускается очередность на госпитализацию в дневные стационары в пределах 
					i до 30 дней
					|  в зависимости от состояния больного и характера течения заболевания, организация работы дневного стационара может быть в одно- или двухсменном режиме
				p
					| Лечащий врач определяет условия оказания стационарозамещающей помощи (дневной стационар в условиях амбулаторно-поликлинического учреждения, больничного учреждения) в зависимости от конкретного заболевания, состояния пациента, возможности посещения больным медицинской организации, а также обеспечения родственниками ухода за больным.
				h2#ambulance Порядки условия предоставления скорой медицинской помощи
				p
					| Скорая медицинская помощь населению Волгодонского  района оказывается при заболеваниях, несчастных случаях, травмах, отравлениях и других состояниях, требующих срочного медицинского вмешательства бесплатно.
				p
					| Скорая медицинская помощь оказывается в экстренной форме — при внезапных острых заболеваниях, состояниях, обострении хронических заболеваний, представляющих угрозу жизни пациента, и в неотложной форме - при внезапных острых заболеваниях, состояниях, обострении хронических заболеваний без явных признаков угрозы жизни пациента.
				p
					| Оказание скорой медицинской помощи осуществляется в круглосуточном режиме заболевшим и пострадавшим, находящимся вне медицинских организаций, в амбулаторных условиях, в условиях стационара, при непосредственном обращении граждан за медицинской помощью в отделение скорой медицинской помощи.
				p
					| В часы работы амбулаторно-поликлинической службы вызовы, поступившие в диспетчерскую для оказания медицинской помощи в неотложной форме, могут быть переданы к исполнению в регистратуру поликлиники (амбулатории) на службу неотложной помощи.
				p
					| При оказании скорой медицинской помощи в случае необходимости осуществляется медицинская эвакуация Медицинская эвакуация осуществляется выездными бригадами скорой медицинской помощи с проведением во время транспортировки мероприятий по оказанию медицинской помощи, в том числе с применением медицинского оборудования.
				p
					| Перечень показаний для вызова скорой медицинской помощи в экстренной и неотложной форме регламентирован  Порядком оказания скорой медицинской помощи, утвержденным 
					b
						i
							| приказом Министерства здравоохранения Российской Федерации от 20.06.2013 №388н «Об утверждении порядка оказания скорой, в том числе скорой специализированной, медицинской помощи».
				p
					| Прием вызовов и передача их врачебной (фельдшерской) бригаде осуществляется диспетчером  по приему и передаче вызовов.
				p
					| Время доезда до пациента бригад скорой медицинской помощи при оказании скорой медицинской помощи в экстренной форме не должно превышать 20 минут с момента ее вызова.
				h2#schedule Режим работы учреждения
				ul.article__list
					li
						p
							b Амбулаторно – поликлиническая служба:
						ul.article__list(style="list-style-type: none;")
							li
								p
									b Понедельник - Пятница:
									|  с 8:00 до 15:42,
							li
								p
									b Суббота:
									|  с 8:00 по 12:00,
							li
								p
									b Воскресение:
									|  выходной
					li
						p
							b Стационарные отделения
							|  - круглосуточно
					li
						p
							b Скорая медицинская помощь
							|  - круглосуточно
	+section({
		mods: 'informer',
	})
		+informer('inner')
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
