extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "История больницы";
	- var description = 'История Центральной районной больницы ст. Романовская';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'История больницы'}]
	- var keywords = 'История Центральной районной больницы ст. Романовская';

block content
	+breadcrumbs()
	+article({
		title: 'История Центральной районной больницы ст. Романовская',
	})
		.article__text
			p
				| В #[i 1983] году на базе Рябичевской больницы была создана
				b Волгодонская центральная районная больница.
				| Главным врачом назначен 
				strong Каргальский Л.А.
			figure.article__figure
				picture
					source(media="(min-width: 840px)" srcset="https://res.cloudinary.com/dhccuflos/image/upload/v1565339214/history/history.jpg, https://res.cloudinary.com/dhccuflos/image/upload/v1565339214/history/history2x.jpg 2x" type="image/jpg")
					source(media="(min-width: 1400px)" srcset="https://res.cloudinary.com/dhccuflos/image/upload/v1565339214/history/history600.jpg, https://res.cloudinary.com/dhccuflos/image/upload/v1565339218/history/clinic.jpg 2x" type="image/jpg")
					source(srcset="<?php bloginfo('template_url') ?>/assets/img/history600.jpeg" type="image/jpg")
					img(src="<?php bloginfo('template_url') ?>/assets/img/history.jpeg" alt="Главное здание поликлиники")
			p
				| В состав ЦРБ вошли Романовская районная больница, районная СЭС,
				| Романовские детские ясли, Прогрессовская врачебная амбулатория и
				| 20 фельдшерско-акушерских пунктов, расположенных в хуторах и станицах.
			p
				| В 
				i сентябре 1989
				|  года Волгодонская ЦРБ переведена из х.Рябичев в ст. Романовскую. Главным врачом был назначен
				strong Текиев И.Б.
				| , проработавший в должности пять лет.
			p
				| Для оказания медицинской помощи были открыты хирургическое,
				| неврологическое, гинекологическое отделения. В
				i мае 2002
				|  года состоялось открытие нового трехэтажного
				| 									здания поликлиники. Помимо новых кабинетов, медики получили
				| 									новейшее оборудование.
			p
				| С 
				i августа 2004
				|  года коллектив МУЗ «ЦРБ» возглавил
				strong Бачинский Владимир Юрьевич
				|  – врач высшей
				| 									категории, отличник здравоохранения, проработавший в должности
				| 									более 10 лет. С 
				i апреля 2015
				|  года коллектив МУЗ «ЦРБ»
				| 									возглавляет 
				strong Найденов Сергей Юрьевич
				|  – врач
				| 									первой категории.
			p
				| В настоящее время штат больницы составляет 322 человека. Из них:
			ul
				li
					p
						| врачи – 39 человек (6 человека имеют высшую
						| квалификационную категорию, 7 человек- первую
						| категорию),
						strong 100% врачей имеют сертификаты.
				li
					p
						| средние медицинские работники – 143 человека ( 78 человек
						| имеют высшую квалификационную категорию, 14 человек –
						| первую категорию, 5 человека – вторую категорию, 2
						| человека – нагрудный знак « Отличнику здравоохранения»);
				li
					p
						strong уровень сертификации средних медицинских работников 100%.
				li
					p младший медперсонал – 15 человек.
			p
				| Здравоохранением района успешно реализуются основные направления
				| приоритетного национального проекта «Здоровье»: совершенствуется
				| оказание первичной медико-санитарной помощи, эффективно
				| используется медицинское оборудование и санитарный транспорт,
				| проводятся профилактические мероприятия ( диспансеризация детей
				| первого года жизни, диспансеризация детей сирот и детей,
				| оставшихся без попечения родителей, дополнительная
				| диспансеризация определенных групп взрослого населения,
				| выявление ВИЧ-инфицированных, больных и носителей гепатита В и
				| С, иммунизация населения и т. д.)
			p
				| В МБУЗ «Центральная районная больница» Волгодонского района
				| проводится постоянная работа по организации качественной
				| медицинской помощи населению, увеличению ее доступности. В
				| течение последних 5 лет в районе не регистрируются случаи
				| материнской смертности, связанные с беременностью, родами и
				| послеродовым периодом.
			p
				| Показатель младенческой смертности имеет устойчивую тенденцию к снижению 
				b с 16,8 в 2006 г. до 6,25  в 2018 г.
			p
				| Снизился показатель  рождаемости 
				b с 11,6 в 2006г. до 9,51 в 2018 г.
			p
				| Снизился показатель общей смертности 
				b с 15,8 в 2006г. до 12,06  в 2018 г.
			p
				| Показатель естественной убыли уменьшился 
				b с -3,0 в 2006 г до -2,55 в 2018 г.
			p
				| Проводятся мероприятия по улучшению материально-технической базы МБУЗ «Центральная районная больница» Волгодонского района.
			p
				| По Программе модернизации здравоохранения для МБУЗ «ЦРБ» Волгодонского района на выделенные из Федерального фонда ОМС средства в 2011-2012 гг было приобретено
				| и введено в эксплуатацию 
				b 136
				|  единиц медицинского оборудования на общую сумму 
				b 19584,0 тыс. рублей
				| .
			p Ежегодно проводится текущий ремонт подразделений больницы.
			p Приобретается оборудование для улучшения материально-технической базы ФАПов.
			ul.article__list
				li
					p 
						b В 2017- 2018 гг
						|  был проведен капитальный ремонт хирургического отделения .
				li
					p
						b За 2011- 2018 годы
						|  в рамках реализации районной целевой программы «Развитие здравоохранения Волгодонского района» жители #[i 11] населенных пунктов
						i (ст. Большовская,  х.Лагутники ,  х.Морозов, п.Мичуринский, х.Мокросоленый, х. Пирожок, п.Прогресс, х. Парамонов, п. Солнечный,  х.Холодном,  х. Ясырев)
						| получили новые современные фельдшерско-акушерские пункты
				li
					p
						b С 2015 года
						|  ведется работа по развитию Единой государственной информационной системы в сфере здравоохранения в Ростовской области.
				li
					p Проведены работы по защите конфиденциальной информации, аттестация и обследование информационной системы.
				li
					p
						b С 01.06.2015 года 
						| данная система введена в  эксплуатацию в амбулаторно-поликлиническом отделении МБУЗ «ЦРБ» Волгодонского района.
				li
					p
						b С 01.10.2015 г
						|  в РС ЕГИСЗ начали работать стационары.
				li
					p
						b С 01.01.2016 г.
						|  произведено подключение к системе станции скорой медицинской помощи.
				li
					p
						b В 2018 г 
						|  – диагностические кабинеты и клинико-диагностическая лаборатория.
			p
				| В МБУЗ «ЦРБ» Волгодонского района подключено к РС ЕГИСЗ #[i 26] автоматизированных рабочих мест медицинского персонала (АРМ),
				| в том числе по поликлиники #[i 22 АРМ], из них для врачей #[i 14 АРМ], для средних мед.работников #[i 5 АРМ].
				| В стационарах к РС ЕГИСЗ подключено #[i 4 АРМ] для врачей.
			p В медицинскую информационную систему вносится 100% случаев оказания медицинской помощи.

block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
