extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "О правилах и сроках госпитализации";
	- var description = 'Порядок, условия и сроки предоставления первичной медико-санитарной и специализированной медицинской помощи в условиях стационаров, в том числе в условиях дневных стационаров';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'О правилах и сроках госпитализации'}]
	- var keywords = 'О правилах и сроках госпитализации';

block content
	+breadcrumbs()
	+article({
		title: 'Порядок, условия и сроки предоставления первичной медико-санитарной и специализированной медицинской помощи в условиях стационаров, в том числе в условиях дневных стационаров',
	})
		.article__text
			.container
				h2 При обращении за медицинской помощью и ее получении пациент имеет право на:
				.article__strong
					p раздел 8. Территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи в Ростовской области на 2019 год и на плановый период 2020 и 2021 годов (Постановление Правительства Ростовской области от 29.12.2018г. №884 в ред. от 10.06.2019 №410)
				ul.article__list
					li
						p
							b 8.5.1
							|  Первичная медико-санитарная и специализированная медицинская помощь в условиях дневного стационара оказывается пациентам с острыми и хроническими заболеваниями, состояние которых не требует круглосуточного наблюдения и интенсивных методов диагностики и лечения, а также изоляции по эпидемиологическим показаниям.
					li
						p
							b 8.5.2
							|  Направление пациента на плановую госпитализацию в дневной стационар осуществляется лечащим врачом в соответствии с медицинскими показаниями. Допускается очередность на госпитализацию в дневные стационары с учетом состояния больного и характера течения заболевания, при этом сроки ожидания не превышают 30 календарный дней со дня выдачи направления лечащим врачом, а для пациентов с онкологическими заболеваниями - не должны превышать 14 календарных дней с момента гистологической верификации опухоли или с момента установления диагноза заболевания (состояния).
					li
						p
							b 8.6.4
							|  Плановая госпитализация в стационар осуществляется в соответствии с медицинскими показаниями по направлению лечащего врача или врача-специалиста медицинской организации, оказывающей первичную медико-санитарную помощь (в том числе первичную специализированную) при заболеваниях и состояниях, не сопровождающихся угрозой жизни пациента, не требующих оказания экстренной и неотложной помощи. Перед направлением пациента на плановую госпитализацию должно быть проведено обследование в полном объеме в соответствии со стандартами медицинской помощи.
					li
						p
							b 8.6.7
							|  Срок ожидания оказания специализированной медицинской помощи в плановой форме, за исключением высокотехнологичной медицинской помощи, – не более 30 календарных дней с момента выдачи лечащим врачом направления на госпитализацию (при условии обращения пациента за госпитализацией в рекомендуемые лечащим врачом сроки), а для пациентов с онкологическими заболеваниями – не должны превышать 14 календарных дней с момента гистологической верификации опухоли или с момента установления диагноза заболевания (состояния).
	+section({
		mods: 'informer',
	})
		+informer('inner')
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
