extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Лекарственнное обеспечение";
	- var description = 'Лекарственнное обеспечение';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Лекарственнное обеспечение'}]
	- var keywords = 'Лекарственнное обеспечение';

block content
	+breadcrumbs()
	+article({
		title: 'Лекарственнное обеспечение',
	})
		.article__text
			p 
				b Распоряжением правительства Российской Федерации от 10 декабря 2018 г. № 2738-р Утвержден новый перечень ЖНВЛС
			p 
				b В данном документе Вы сможете найти:
			ul.article__list
				li
					p
						| Перечень жизненно необходимых и важнейших лекарственных препаратов для медицинского
						| применения на 2016 год (Приложение 1);
				li
					p
						| Перечень лекарственных препаратов для медицинского применения, в том числе
						| лекарственных препаратов для медицинского применения, назначаемых по решению врачебных
						| комиссий медицинских организаций. (Приложение 2)
				li
					p
						| Перечень лекарственных препаратов, предназначенных для обеспечения лиц, больных
						| гемофилией, муковисцидозом, гипофизарным нанизмом, болезнью гоше, злокачественными
						| новообразованиями лимфоидной, кроветворной и родственных им тканей, рассеянным склерозом,
						| лиц после трансплантации органов и (или) тканей. (Приложение 3)
				li
					p
						| Минимальный ассортимент лекарственных препаратов, необходимых для оказания медицинской
						| помощи. (Приложение 4)
			p
				| При амбулаторно-поликлинической помощи (по видам медицинской помощи, включенным в
				| территориальную программу государственных гарантий) лекарственное обеспечение производится
				| за счет личных средств граждан, за исключением лекарственного обеспечения пациентов в
				| процессе амбулаторного приема, диагностических и лечебных амбулаторных манипуляций, которое
				| осуществляется медицинским учреждением за счет средств ОМС или соответствующего бюджета,
				| согласно Перечню жизненно необходимых и важнейших лекарственных средств, утвержденному
				| Распоряжением Правительства Российской Федерации от 26.12.2015 N 2724-р, Перечню
				| лекарственных средств, изделий медицинского назначения и расходных материалов,
				| утвержденному Распоряжением Правительства Российской Федерации от 11.10.2010 N 1938-р.
				| Предоставление лекарственной помощи, помимо приказом министерства здравоохранения
				| Ростовской области и РОФОМС от 17.12.2004 N 466/15-212 "О Перечне лекарственных средств,
				| изделий медицинского назначения и расходных материалов, применяемых при реализации
				| областной программы обязательного медицинского страхования".
			p
				| При оказании медицинской помощи по ОМС в стационаре, дневных стационарах всех типов
				| пациентам предоставляется бесплатное лекарственное обеспечение в соответствии с приказом
				| министерства здравоохранения Ростовской области и РОФОМС от 17.12.2004 N 466/15-212 "О
				| Перечне лекарственных средств, изделий медицинского назначения и расходных материалов,
				| применяемых при реализации областной программы обязательного медицинского страхования".
			p
				| В случае необходимости предоставления пациентам лекарственных средств и изделий
				| медицинского назначения, не предусмотренных приказом министерства здравоохранения
				| Ростовской области и РОФОМС от 17.12.2004 N 466/15-212, бесплатное лекарственное
				| обеспечение осуществляется при наличии средств в пределах сумм, зарабатываемых ЛПУ по
				| тарифам на медицинские услуги, оставшихся после 100-процентного обеспечения медикаментами в
				| соответствии с указанным приказом. В этом случае бесплатное лекарственное обеспечение
				| осуществляется в соответствии с Перечнем жизненно необходимых и важнейших лекарственных
				| средств, утвержденным Распоряжением Правительства Российской Федерации от 11.10.2010 N
				| 1938-р. Предоставление лекарственной помощи, помимо Распоряжения Правительства Российской
				| Федерации от 11.10.2010 N 1938-р., осуществляется по решению врачебной комиссии ЛПУ.
				| Ответственность за обоснованность назначения и решения врачебной комиссии возлагается на
				| руководителя медицинского учреждения.
			p
				| Лекарственная помощь, сверх предусмотренной территориальной программой государственных
				| гарантий, предоставляется пациентам на платной основе.
			+files()
				+file({
					title: 'Перечень жизненно необходимых и важнейших лекарственных препаратов для медицинского применения на 2019 год.',
					size: '720 кб',
					icon: 'pdf',
					href: '#',
					type: 'Внутренний',
					date: '10.12.2018г.',
					format: 'pdf',
				})
				+file({
					title: 'Перечень лекарственных средств, отпускаемых населению в соответствии с перечнем групп населения и категорий заболеваний',
					size: '669 кб',
					icon: 'pdf',
					href: '#',
					type: 'Внутренний',
					date: '14.02.2012г.',
					format: 'pdf',
				})
				+file({
					title: 'Распоряжение Правительства РФ от 10 декабря 2018 года №2724-р «Об утверждении перечня жизненно необходимых и важнейших лекарственных препаратов',
					size: '1.47 мб',
					icon: 'rtf',
					href: '#',
					type: 'Внутренний',
					date: '10.12.2018г.',
					format: 'rtf',
				})
				+file({
					title: 'Постановление Правительства РФ от 26.11.2018 N 1416 "О порядке организации обеспечения лекарственными препаратами лиц, больных гемофилией, муковисцидозом, гипофизарным нанизмом, болезнью Гоше, злокачественными новообразованиями лимфоидной, кроветворной и родственных им тканей, рассеянным склерозом, гемолитико-уремическим синдромом, юношеским артритом с системным началом, мукополисахаридозом I, II и VI типов, лиц после трансплантации органов и (или) тканей, а также о признании утратившими силу некоторых актов Правительства Российской Федерации"',
					size: '786 кб',
					icon: 'pdf',
					href: '#',
					type: 'Внутренний',
					date: '26.11.2018г.',
					format: 'pdf',
				})

block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
