extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Модернизация здравоохранения";
	- var description = 'Реализация программы "модернизация здравоохранения" волгодонского района на 2011 – 2012 годы».';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Модернизация здравоохранения'}]
	- var keywords = 'Модернизация здравоохранения';

block content
	+breadcrumbs()
	+article({
		title: 'Реализация программы "модернизация здравоохранения" волгодонского района на 2011 – 2012 годы».',
	})
		.article__text
			.container
				p В целях реализации постановления Администрации Ростовской области #[i от 24.03.2011 г № 148 «Об утверждении Программы «Модернизация здравоохранения Ростовской области на 2011 – 2012 годы»]
					| постановлением Администрации Волгодонского района Ростовской области о #[i т 14.04.2011 г № 277 была утверждена Программа «Модернизация здравоохранения Волгодонского района на 2011 – 2012 годы»].
				.article_-strong
					p Срок реализации Программы 2011 – 2012 гг.</p>
				p
					b Основные показатели модернизации:
				ul.article__list
					li
						p Укрепление материально-технической базы медицинских учреждений.
					li
						p Внедрение современных информационных систем в здравоохранение.
					li
						p Внедрение стандартов медицинской помощи, повышение доступности амбулаторной медицинской помощи, в том числе предоставляемой врачами-специалистами
				p 
					b Основными задачами в 2012 году, стоящими перед здравоохранением Волгодонского района, являются:
				ol.article__list
					li
						p Улучшение демографической ситуации в районе за счет модернизации здравоохранения и соответственно снижения общей смертности и смертности среди населения трудоспособного возраста.
					li
						p Снижение заболеваемости среди населения за счет:
						ul.article__list
							li
								p проведения профилактических осмотров, диспансеризации подростков, работающего населения в 2012 году, проведения иммунизации населения района
							li
								p обучения медицинского персонала методикам раннего выявления онкологических заболеваний, сердечно – сосудистых заболеваний
							li
								p внедрения современных методов лечения (МЭС) в стационаре и поликлинике МБУЗ «ЦРБ» Волгодонского района.
				p На реализацию мероприятий региональной программы модернизации здравоохранения для МБУЗ
					| «ЦРБ» Волгодонского района из Федерального фонда ОМС в 2011 году было выделено на приобретение медицинского оборудования #[i 10 млн. 356 тыс. рублей].
					|  В 2012 году выделено еще #[i 9 млн. 228 тыс. рублей].
				p С оборудованием поступавшем в рамках реализации программы "Модернизация здравоохранения Волгодонского района на
					| 2011-2012 годы, для отделений МБУЗ "ЦРБ" Волгодонского района вы можете ознакомиться по
					| ссылке в разделе #[b Документы] данной статьи
				p Показатели реализации Программы «Модернизация здравоохранения Волгодонского района на 2011 – 2012 годы» можно найти по ссылке в разделе #[b Документы] данной статьи
				p Реализация указанной Программы направлена на совершенствование и модернизацию системы	оказания медицинской помощи жителям района и состоит из 8 мероприятий, нацеленных на решение следующих основных задач:</p>
				ul.article__list
					li
						p выполнение функций МБУЗ «ЦРБ» в соответствии с муниципальным заданием
					li
						p укрепление материально-технической базы
					li
						p развитие службы детства и родовспоможения
					li
						p предупреждение и борьба с социально значимыми заболеваниями
					li
						p лекарственное обеспечение льготных категорий граждан
					li
						p совершенствование подготовки медицинских кадров
					li
						p повышение уровня заработной платы
					li
						p софинансирование расходных обязательств, возникающих при выполнении полномочий органов местного самоуправления	в сфере здравоохранения, по вопросам местного значения с целью укрепления муниципальной	системы здравоохранения.
				p Конечным итогом осуществления Программы должно стать формирование эффективной инновационной модели оказания медицинской помощи жителям района, существенное повышение качества медицинского обслуживания населения, улучшение состояние здоровья жителей района, снижение смертности населения от основных причин, в том числе среди лиц трудоспособного возраста.
				+files()
					+file({
						title: 'Оборудование поступавшее в рамках реализации программы "Модернизация здравоохранения Волгодонского района на 2011-2012 годы',
						size: '57 кб',
						icon: 'doc',
						href: '#',
						type: 'Внутренний',
						date: '15.05.2013г.',
						format: 'doc',
					})
					+file({
						title: 'Показатели реализации Программы «Модернизация здравоохранения Волгодонского района на 2011 – 2012 годы»',
						size: '76 кб',
						icon: 'doc',
						href: '#',
						type: 'Внутренний',
						date: '15.05.2013г.',
						format: 'doc',
					})
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
