extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Нормативные документы";
	- var description = 'Нормативные документы';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Нормативные документы'}]
	- var keywords = 'Нормативные документы';

block content
	+breadcrumbs()
	+article({
		title: 'Нормативные документы',
	})
		.article__text
			.container
				h2 Федеральные законы:
				//- .article__link-wrap
				//- 	a.link(href="http://constitutionrf.ru/rzd-1/gl-2/st-41-krf") Конституция Российской Федерации (принята всенародным голосованием 12.12.1993) (с изм.) статья 41
				//- 	+icon('external-link', 'article__link-img')
				.files__items
					+file({
						title: 'Федеральный закон от 21.11.2011 № 323-ФЗ «Об основах охраны здоровья граждан в российской федерации»',
						size: '538 кб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '21.11.2011г.',
						format: 'pdf',
					})
					+file({
						title: 'Федеральный закон от 29.11.2010 № 326-ФЗ «Об обязательном медицинском страховании граждан в Российской Федерации»',
						size: '726 кб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '29.11.2010г.',
						format: 'pdf',
					})
					+file({
						title: 'Федеральный закон от 24.07.2009 №212-ФЗ «О страховых взносах в Пенсионный фонд Российской Федерации, Фонд социального страхования Российской Федерации, Федеральный фонд обязательного медицинского страхования и территориальные фонды обязательного медицинского страхования»',
						size: '418 кб',
						icon: 'doc',
						href: '#',
						type: 'Федеральный',
						date: '24.07.2009г.',
						format: 'doc',
					})
				h2 Постановления Правительства РФ:
				.files__items
					+file({
						title: 'Постановление Правительства РФ от 18.10.2013 №932 «О Программе государственных гарантий бесплатного оказания гражданам медицинской помощи на 2014 год и на плановый период 2015 и 2016 годов»',
						size: '139 кб',
						icon: 'doc',
						href: '#',
						type: 'Федеральный',
						date: '18.10.2013.',
						format: 'doc',
					})
					+file({
						title: 'Постановление Правительства РФ от 28.11.2014 №1273 «О Программе государственных гарантий бесплатного оказания гражданам медицинской помощи на 2015 год и на плановый период 2016 и 2017 годов»',
						size: '174 кб',
						icon: 'zip',
						href: '#',
						type: 'Федеральный',
						date: '28.11.2014г.',
						format: 'rar',
					})
					+file({
						title: 'Постановление Правительства РФ от 19.12.2016 №1403 «О Программе государственных гарантий бесплатного оказания гражданам медицинской помощи на 2017 год и на плановый период 2018 и 2019 годов»',
						size: '1.18 мб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '19.12.2016г.',
						format: 'pdf',
					})
					+file({
						title: 'Постановление Правительства РФ от 19.12.2016 №1403 «О Программе государственных гарантий бесплатного оказания гражданам медицинской помощи на 2017 год и на плановый период 2019 и 2020 годов»',
						size: '2.63 мб',
						icon: 'rtf',
						href: '#',
						type: 'Федеральный',
						date: '19.12.2016г.',
						format: 'rtf',
					})
					+file({
						title: 'Постановление Правительства РФ от 19.12.2016 №1403 «О Программе государственных гарантий бесплатного оказания гражданам медицинской помощи на 2017 год и на плановый период 2020 и 2021 годов»',
						size: '901 кб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '10.12.2018г.',
						format: 'pdf',
					})
				h2 Приказы Минздрава России:
				.files__items
					+file({
						title: 'Приказ Министерства здравоохранения и социального развития Российской Федерации (Минздравсоцразвития России) от 26 апреля 2012 г. N 406н г. Москва "Об утверждении Порядка выбора гражданином медицинской организации при оказании ему медицинской помощи в рамках программы государственных гарантий бесплатного оказания гражданам медицинской помощи"',
						size: '59 кб',
						icon: 'rtf',
						href: '#',
						type: 'Федеральный',
						date: '26.04.2012г.',
						format: 'rtf',
					})
					+file({
						title: 'Приказ Министерства здравоохранения и социального развития Российской Федерации (Минздравсоцразвития России) от 26 апреля 2012 г. N 407н г. Москва "Об утверждении Порядка содействия руководителем медицинской организации (ее подразделения) выбору пациентом врача в случае требования пациента о замене лечащего врача"',
						size: '30 кб',
						icon: 'doc',
						href: '#',
						type: 'Федеральный',
						date: '26.04.2012г.',
						format: 'doc',
					})
					+file({
						title: 'Приказ от 28 февраля 2019 г. № 108н "Об утверждении правил обязательного медицинского страхования”',
						size: '717 кб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '28.02.2019г.',
						format: 'pdf',
					})
					+file({
						title: 'Приказ Минздравсоцразвития РФ от 20.12.2012 N 1175-н "Об утверждении порядка назначения и выписывания лекарственных препаратов, а также форм рецептурных бланков на лекарственные препараты, порядка оформления указанных бланков, их учета и хранения"',
						size: '192 кб',
						icon: 'doc',
						href: '#',
						type: 'Федеральный',
						date: '20.12.2012г.',
						format: 'doc',
					})
					+file({
						title: 'Приказ Минздравсоцразвития РФ от 12.02.2007 N 110 «О порядке назначения и выписывания лекарственных сркедств, изделий медицинского назначения и специализированных продуктов лечебного питания» (в ред. Приказов Минздравсоцразвития РФ от 27.08.2007 N 560,от 25.09.2009 N 794н, от 20.01.2011 №13н, Приказов МЗ России от 01.08.2012 № 54н, от 26.02.2013 № 94н)',
						size: '528 кб',
						icon: 'rtf',
						href: '#',
						type: 'Федеральный',
						date: '26.02.2013г.',
						format: 'rtf',
					})
					+file({
						title: 'Приказ Минздравсоцразвития РФ от 22.11.2004 N 255 «О порядке оказания первичной медико-санитарной помощи гражданам, имеющим право на получение набора социальных услуг»',
						size: '407 кб',
						icon: 'rtf',
						href: '#',
						type: 'Федеральный',
						date: '22.11.2004г.',
						format: 'rtf',
					})
				h2 Постановления Правительства Ростовской области:
				.files__items
					+file({
						title: 'Постановление Правительства РО от 26.12.2013 №869 «О территориальной Программе государственных гарантий бесплатного оказания гражданам медицинской помощи в Ростовской области на 2014 год и на плановый период 2015 и 2016 годов»',
						size: '1.05 мб',
						icon: 'doc',
						href: '#',
						type: 'Федеральный',
						date: '26.12.2013г.',
						format: 'doc',
					})
					+file({
						title: 'Постановление Правительства РО от 22.12.2014 №856 «О территориальной Программе государственных гарантий бесплатного оказания гражданам медицинской помощи в Ростовской области на 2015 год и на плановый период 2016 и 2017 годов»',
						size: '87 кб',
						icon: 'zip',
						href: '#',
						type: 'Федеральный',
						date: '22.12.2014г.',
						format: 'rar',
					})
					+file({
						title: 'Постановление Правительства РО от 01.06.2012 №481 (в ред. Постановления Правительства РО от 13.09.2012 г № 880) «Об утверждении перечня лекарственных препаратов, изделий медицинского назначения и специализированных продуктов лечебного питания»',
						size: '379 кб',
						icon: 'doc',
						href: '#',
						type: 'Федеральный',
						date: '01.06.2012г.',
						format: 'doc',
					})
					+file({
						title: 'Постановление Правительства РО от 23.11.2017 №783 "О территориальной программе государственных гарантий бесплатного оказания гражданам медицинской помощи в Ростовской области на 2018 год и на плановый период 2019 и 2020 годов"',
						size: '3.74 мб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '23.11.2017г.',
						format: 'pdf',
					})
					+file({
						title: 'Постановление Правительства РО от 23.11.2017 №783 "О территориальной программе государственных гарантий бесплатного оказания гражданам медицинской помощи в Ростовской области на 2019 год и на плановый период 2020 и 2021 годов"',
						size: '418 кб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '23.11.2017г.',
						format: 'pdf',
					})
				h2 Постановления Администрации Волгодонского района:
				.files__items
					+file({
						title: 'Постановление Администрации Волгодонского района от 24.12.2013 № 1333 "Об утверждении целевых показателей эффективности деятельности руководителя и положения о выплатах стимулирующего характера"',
						size: '799 кб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '24.12.2013г.',
						format: 'pdf',
						addition: true,
						additionLink: '#',
					})
					+file({
						title: 'Постановление Администрации Волгодонского района от 17.02.2014 № 114 "О внесении изменений в Постановление Администрации Волгодонского района № 1333 от 24.12.2013"',
						size: '1.46 мб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '17.02.20140г.',
						format: 'pdf',
					})
					+file({
						title: 'Постановление Администрации Волгодонского района от 22.09.2014 № 849 "О внесении изменений в Постановление Администрации Волгодонского района № 1333 от 24.12.2013"',
						size: '716 кб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '22.09.2014г.',
						format: 'pdf',
					})
					+file({
						title: 'Постановление Администрации Волгодонского района от 29.12.2014 № 1239 "О внесении изменений в Постановление Администрации Волгодонского района № 1333 от 24.12.2013"',
						size: '784 кб',
						icon: 'pdf',
						href: '#',
						type: 'Федеральный',
						date: '29.12.2014г.',
						format: 'pdf',
					})
					+file({
						title: 'Постановление Администрации Волгодонского района от 16.08.2013 № 774 "О создании Общественного совета для оценки качества работы муниципальных учреждений Волгодонского района, оказывающих социальные услуги в сферах образования, культуры, физической культуры и спорта, здравоохранения и социального обслуживания"',
						size: '121 кб',
						icon: 'doc',
						href: '#',
						type: 'Федеральный',
						date: '16.08.2013г.',
						format: 'doc',
					})
					+file({
						title: 'Постановление Администрации Волгодонского района от 11.06.2014 № 524 " О внесении изменений в Постановление Администрации Волгодонского района от 16.08.2013 № 774 "О создании Общественного совета для оценки качества работы муниципальных учреждений Волгодонского района, оказывающих социальные услуги в сферах образования, культуры, физической культуры и спорта, здравоохранения и социального обслуживания"',
						size: '79 кб',
						icon: 'doc',
						href: '#',
						type: 'Федеральный',
						date: '11.06.2014г.',
						format: 'doc',
					})

block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
