extends ../views/layouts/default
block vars
	- var title = "New Page";
	- var description = 'Новая страница';

block content
block scripts
	script(src="../js/vendor.js")
	script(src="../js/gallery.js")
