extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Права и обязанности пациентов";
	- var description = 'Права и обязанности пациентов';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Права и обязанности пациентов'}]
	- var keywords = 'Права и обязанности пациентов';

block content
	+breadcrumbs()
	+article({
		title: 'Права и обязанности пациентов',
	})
		+toc([
			{title: 'Пациент имеет право', anchor: '#right'},
			{title: 'Пациент обязан', anchor: '#duty', childs: [
				{title: 'Общие правила поведения пациентов', anchor: '#common'},
				{title: 'Правила поведения пациентов в стационаре', anchor: '#stac'},
				{title: 'Ответственность пациентов', anchor: '#responsibility'},
			]},
		])
		.article__text
			.container
				h2#right При обращении за медицинской помощью и ее получении пациент имеет право на:
				ul.article__list
					li
						p
							| уважительное и гуманное отношение со стороны работников и других лиц, участвующих в оказании медицинской помощи;
					li
						p
							| получение информации о фамилии, имени, отчестве, должности его лечащего врача и других лиц, непосредственно участвующих в оказании ему медицинской помощи;
					li
						p
							| обследование, лечение и нахождение в больнице в условиях, соответствующих санитарно-гигиеническим и противоэпидемическим требованиям;
					li
						p
							| облегчение боли, связанной с заболеванием и (или) медицинским вмешательством, доступными способами и средствами, если таковое не препятствует диагностическому процессу;
					li
						p перевод к другому лечащему врачу с учетом согласия соответствующего врача;
					li
						p
							| добровольное информированное согласие пациента на медицинское вмешательство в соответствии с законодательными актами;
					li
						p
							| отказ от оказания (прекращения) медицинской помощи, от госпитализации, за исключением случаев, предусмотренных законодательными актами;
					li
						p
							| обращение с жалобой к должностным лицам больницы, а также к должностным лицам вышестоящей организации или в суд;
					li
						p
							| сохранение медицинскими работниками в тайне информации о факте его обращения за медицинской помощью, состоянии здоровья, диагнозе и иных сведений, полученных при его обследовании и лечении, за исключением случаев, предусмотренных законодательными актами;
					li
						p
							| получение в доступной для него форме полной информации о состоянии своего здоровья, применяемых методах диагностики и лечения, а также на выбор лиц, которым может быть передана информация о состоянии его здоровья;
					li
						p
							| при нахождении на стационарном лечении пациент имеет право на допуск к нему посетителей (за исключением посещений детьми до 18 лет и лицами, находящимися в нетрезвом состоянии), адвоката, священнослужителя, а также на предоставление условий для отправления религиозных обрядов, если это не нарушает правил внутреннего распорядка для пациентов больницы, санитарно-гигиенических и противоэпидемических требований;
				h2#duty Пациент обязан:
				ul.article__list
					li
						p принимать меры к сохранению и укреплению своего здоровья;
					li
						p своевременно обращаться за медицинской помощью;
					li
						p
							| уважительно относиться к медицинским работникам и другим лицам, участвующим в оказании
							| медицинской помощи;
					li
						p
							| предоставлять лицу, оказывающему медицинскую помощь, известную ему достоверную информацию о состоянии своего здоровья, в том числе о противопоказаниях к применению лекарственных средств, аллергических реакциях, ранее перенесенных и наследственных заболеваниях;
					li
						p своевременно и точно выполнять медицинские предписания;
					li
						p сотрудничать с врачом на всех этапах оказания медицинской помощи;
					li
						p соблюдать правила внутреннего распорядка для пациентов больницы;
					li
						p бережно относиться к имуществу больницы.
				h3#common Общие правила поведения пациентов и посетителей включают в себя правила о том, что  помещениях больницы и его структурных подразделений запрещается:
				ul.article__list
					li
						p нахождение в верхней одежде, без сменной обуви (или бахил);
					li
						p курение в зданиях и помещениях больницы;
					li
						p
							| распитие спиртных напитков, употребление наркотических средств, психотропных и токсических веществ;
					li
						p
							| появление в состоянии алкогольного, наркотического и токсического опьянения, за исключением необходимости в экстренной и неотложной медицинской помощи;
					li
						p играть в азартные игры;
					li
						p громко разговаривать, шуметь, хлопать дверьми;
					li
						p
							| пользование мобильной связью при нахождении на приеме у врача, во время выполнения процедур, манипуляций, обследований;
					li
						p пользование служебными телефонами;
					li
						p выбрасывание мусора, отходов в непредназначенные для этого места.
				h3#stac Правила поведения пациентов в стационаре:
				ol.article__list
					li
						p В стационарных отделениях больницы устанавливается распорядок дня.
					li
						p
							| При стационарном лечении пациент может пользоваться личным бельем, одеждой и сменной обувью, принимать посетителей в установленные часы и специально отведенном месте, за исключением периода карантина, и если это не противоречит санитарно-противоэпидемическому режиму.
					li
						p Пациент обязан соблюдать правила личной гигиены, тщательно и часто мыть руки.
					li
						p
							| В палате необходимо поддерживать чистоту и порядок. Мусор должен незамедлительно помещаться в специальный бак для сбора бытовых отходов.
					li
						p В помещениях стационарных отделений запрещается
						ul
							li
								p хранить в палате верхнюю одежду, обувь, хозяйственные и вещевые сумки;
							li
								p хранить в палате опасные и запрещенные предметы;
							li
								p
									| использовать нагревательные приборы, электрические кипятильники, чайники, телевизоры, магнитофоны и другие электроприборы;
							li
								p использовать электронные устройства, имеющие электромагнитное излучение;
							li
								p
									| включать освещение, аудио, видео аппаратуру, телефоны, а также ходить по палате и отделению во время, предназначенное для сна и отдыха;
							li
								p самостоятельное ремонтировать оборудование, мебель;
							li
								p иметь колющие и режущие предметы, бьющуюся посуду;
							li
								p использовать постельное белье, подушки и одеяла со свободных коек в палатах;
							li
								p совершать прогулки по территории больницы без разрешения врача;
							li
								p совершать прогулки по территории больницы вне пешеходных зон;
							li
								p выходить за территорию больницы.
					li
						p
							| Продукты питания, не предусмотренные рационом питания, разрешаются к употреблению только по согласованию с лечащим врачом.
						p
							| Перечень разрешенных продуктов для передачи пациентам, продуктов запрещенных к употреблению в больнице, а также требования к условиям хранения продуктов (передач).
					li
						p При лечении (обследовании) в условиях стационара пациент обязан:
						ul
							li
								p
									| соблюдать санитарно-гигиенические нормы пользования бытовыми коммуникациями (холодильник, душ, санузел);
							li
								p соблюдать лечебно-охранительный режим, в том числе предписанный лечащим врачом;
							li
								p
									| своевременно ставить в известность дежурный медицинский персонал об ухудшении
									| состояния здоровья;
							li
								p
									| незамедлительно сообщать врачу или медицинской сестре о повышении температуры, насморке, кашле, появлении одышки или других расстройств дыхания, рвоте, вздутии живота, появлении сыпи и т.д.
					li
						p
							| Самовольное оставление пациентом стационара расценивается как отказ от медицинской помощи с соответствующими последствиями, за которые больница ответственности не несет. Выписка пациентов производится лечащим врачом по согласованию с заведующим отделением стационара.
					h3#responsibility Ответственность
					ul.article__list
						li
							p
								| Нарушение Правил внутреннего распорядка, лечебно-охранительного, санитарно-противоэпидемического режимов и санитарно-гигиенических норм влечет за собой ответственность, установленную законодательством Российской Федерации.
						li
							p
								| За нарушение режима и Правил внутреннего распорядка учреждения пациент может быть досрочно выписан c соответствующей отметкой в больничном листе.
						li
							p грубое или неуважительное отношение к персоналу;
						li
							p неявка или несвоевременная явка на прием к врачу или на процедуру;
						li
							p несоблюдение требований и рекомендаций врача;
						li
							p прием лекарственных препаратов по собственному усмотрению;
						li
							p самовольное оставление учреждения до завершения курса лечения;
						li
							p
								| одновременное лечение в другом учреждении без ведома и разрешения лечащего врача;
						li
							p отказ от направления или несвоевременная явка на ВК.
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
