extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Платные услуги МБУЗ ЦРБ";
	- var description = 'Платные услуги МБУЗ ЦРБ';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Платные услуги МБУЗ ЦРБ'}]
	- var keywords = 'Платные услуги МБУЗ ЦРБ';

block content
	+breadcrumbs()
	+article({
		title: 'Информация по платным услугам МБУЗ ЦРБ',
	})
		+toc([
			{title: 'График работы медицинского персонала по оказанию платных медицинских услуг', anchor: '#schedule'},
			{title: 'Проведения периодического медицинского осмотра в МБУЗ «ЦРБ» Волгодонского района', anchor: '#prof'},
			{title: 'Документы по платным услугам', anchor: '#docs'},
		])
		.article__text
			.container
				h2#schedule График работы медицинского персонала по оказанию платных медицинских услуг МБУЗ «ЦРБ» волгодонского района на 2019 год
				+table({
					caption: 'В поликлинике',
					mods: 'schedule',
				})
					thead
						tr
							th Ф.И.О.
							th Должность
							th Часы приема
					tbody
						tr
							td Кожемякина З.Ш.
							td Врач- терапевт
							td 15:45 – 18:00
						tr
							td Ледяева Л.В.
							td Врач- терапевт участковый
							td 15:45 – 18:00
						tr
							td Ильин А.В.
							td Врач- хирург
							td 15:45 – 18:00
						tr
							td Чувилов А.А.
							td Врач- терапевт участковый
							td 15:45 – 18:00
						tr
							td Раджапов Б.Б.
							td Врач- терапевт участковый
							td 15:45 – 18:00
						tr
							td Мельникова Ю.С. 
							td Врач- терапевт участковый
							td 15:45 – 18:00
						tr
							td Казимов А.К.
							td Врач- терапевт участковый
							td 15:45 – 18:00
						tr
							td Фадлиев М.М.
							td Врач- офтальмолог
							td 15:45 – 18:00
						tr
							td Мильдзихова А.Б.
							td Врач - оториноларинголог
							td 15:45 – 18:00
						tr
							td Рамизов Б.Ф.
							td Врач-невролог
							td 15:45 – 18:00
						tr
							td Пичко А.Г.
							td Врач - невролог
							td 15:45 – 18:00
						tr
							td Поднебесная М.В.
							td Врач акушер-гинеколог
							td 15:45 – 18:00
						tr
							td Мухина В.П.
							td Врач акушер-гинеколог
							td 15:45 – 18:00
						tr
							td Глогусь Л.Н.
							td Врач- стоматолог
							td 15:45 – 18:00
						tr
							td Гутовская Т.Г.
							td Зубной врач
							td 15:45 – 18:00
						tr
							td Тупалов М.А.
							td Зубной врач
							td 15:45 – 18:00
						tr
							td Афраилова З.С.
							td Врач-педиатр участковый
							td 15:45 – 18:00
						tr
							td Караваева Э.В.
							td Врач-педиатр участковый
							td 15:45 – 18:00
						tr
							td Дарянов С.М.
							td Врач-терапевт участковый
							td 15:45 – 18:00
						tr
							td Шандригайло В.В.
							td Врач-педиатр участковый
							td 15:45 – 18:00
						tr
							td Власова Ю.С.
							td Врач-педиатр участковый
							td 15:45 – 18:00
						tr
							td Бузнякова Л.В.
							td Врач-педиатр участковый
							td 15:45 – 18:00
						tr
							td Ильясов М.М.
							td Врач-педиатр участковый
							td 15:45 – 18:00
						tr
							td Щербакова И.Г.
							td Врач УЗИ
							td 15:45 – 18:00
						tr
							td Емельянченко Л.Н.
							td Врач-стоматолог
							td 15:45 – 18:00
						tr
							td Худяков А.Н.
							td Врач-эндоскопист
							td 15:45 – 18:00
						tr
							td Тупалов М.А.
							td Зубной врач
							td 15:45 – 18:00
					+table({
						caption: 'Прием пациентов в отделениях',
						mods: 'schedule',
					})
						thead
							tr
								th Отделение 
								th Часы приема
						tbody
							tr
								td Хирургическое отделение 
								td 15ч.45мин. – 18ч.00мин.
							tr
								td Неврологическое отделение 
								td 15ч.45мин. – 18ч.00мин.
							tr
								td Терапевтическое отделение №1
								td 15ч.45мин. – 18ч.00мин.
							tr
								td Терапевтическое отделение №2
								td 15ч.45мин. – 18ч.00мин.
					+table({
						caption: 'Вспомогательные подразделения',
						mods: 'schedule',
					})
						thead
							tr
								th Подразделения 
								th Часы приема
						tbody
							tr
								td Клинико-диагностическая лаборатория
								td 15ч.45мин. – 18ч.00мин.
							tr
								td Рентгенкабинет 
								td 15ч.45мин. – 18ч.00мин.
							tr
								td Физиотерапевтический кабинет
								td 15ч.45мин. – 18ч.00мин.
							tr
								td Кабинет массажа
								td 15ч.45мин. – 18ч.00мин.
							tr
								td Кабинет функциональной диагностики
								td 15ч.45мин. – 18ч.00мин.
							tr
								td Кабинет ультразвуковой диагностики
								td 15ч.45мин. – 18ч.00мин.
					h2#prof Перечень документов, представляемых Предприятием-Заказчиком для организации проведения периодического медицинского осмотра в МБУЗ «ЦРБ» Волгодонского района
					ol.article__list
						li
							p Перечень документов, представляемых Предприятием-Заказчиком для организации проведения периодического медицинского осмотра в МБУЗ «ЦРБ» Волгодонского района
							ul.article__list
								li
									p Реквизиты предприятия банковские и юридические с именами руководителей и лиц, ответственных за проведение медосмотра.
								li
									p
										| Перечень контингентов, подлежащих предварительным периодическим медицинским осмотрам,
										| поименный список лиц, подлежащих периодическим медицинским осмотрам в ЛПУ, (в 3-х
										| экземплярах).В списках обязательно должны быть следующие сведения:
									ul
										li
											p Указаны полностью фамилию, имя, отчество работника, а также дату, месяц и год рождения
										li
											p
												| Вредные и/или опасные факторы работы в обязательном порядке должны быть указаны в
												| соответствии с их наименованием, а также указанных их номера, соответствующие пунктам
												| Приказа Минздравсоцразвития России №302н от 12 апреля 2011 г.
										li
											p Номера полисов ОМС (следует информировать всех обследуемых о предоставлении в обязательном порядке полиса и паспорта при прибытии на мед.осмотр);
						li
							p
								| Для проведения периодического медицинского осмотра после заключения договора и для
								| оформления заключительного акта необходимо представить дополнительную информацию
						li
							p
								| Лицам, проходящим мед. осмотр самостоятельно, требуется направление из отдела кадров
								| организации, в которую он оформляется, с указанием вредных факторов, вида выполняемых
								| работ, заверенное печатью и подписью организации.
						p
							| Порядок проведения предварительных и периодических медицинских осмотров работающих с
							| 01.01.2012 г. определен приказом МЗ и СР РФ от 12.04.2011 г. № 302Н и не предполагает
							| согласования контингентов и пофамильных списков работающих, подлежащих периодическим
							| медицинским осмотрам, с органами Роспотребнадзора.
						p
							| При этом на работодателей возлагается обязанность по уведомлению территориальных органов
							| Роспотребнадзора об утвержденных контингентах.
						p
							| В этой связи вышеуказанное уведомление об утвержденных контингентах работающих,
							| подлежащих периодическим медицинским осмотрам, в соответствии с требованиями приложения №
							| 1 к настоящему приказу, работодатели Волгодонского района могут направить в электронном
							| виде или по почте.
					+files()
						+file({
							title: 'График работы медицинского персонала по оказанию платных медицинских услуг',
							size: '238 кб',
							icon: 'pdf',
							href: '#',
							type: 'Внутренний',
							date: '01.07.2019г.',
							format: 'pdf',
						})
						+file({
							title: 'Состав медицинского персонала оказывающего платные медицинские услуги населению',
							size: '384 кб',
							icon: 'pdf',
							href: '#',
							type: 'Внутренний',
							date: '01.07.2019г.',
							format: 'pdf',
						})
						+file({
							title: 'Приказ "Об осуществлении предварительных и периодических медицинских осмотров, для освидетельствования на приобретение оружия и допуск к управлению транспортными средствами на 2017 год"',
							size: '289 кб',
							icon: 'pdf',
							href: '#',
							type: 'Внутренний',
							date: '23.12.2016г.',
							format: 'pdf',
						})
						+file({
							title: 'Приказ "О создании комиссии, осуществляющей предварительные и периодические медицинские осмотры, для освидетельствования на приобретение оружия и допуск у кправлению транспортными средствами на 2017 год"',
							size: '116 кб',
							icon: 'pdf',
							href: '#',
							type: 'Внутренний',
							date: '23.12.2016г.',
							format: 'pdf',
						})
						+file({
							title: 'Образец формы для составления списка',
							size: '53 кб',
							icon: 'doc',
							href: '#',
							type: 'Внутренний',
							date: '12.04.2019г.',
							format: 'doc',
						})
						+file({
							title: 'Приказ Минздравсоцразвития России №302н от 12апреля 2011 г.',
							size: '1.72 мб',
							icon: 'rtf',
							href: '#',
							type: 'Внутренний',
							date: '12.04.2011г.',
							format: 'rtf',
						})
						+file({
							title: 'Образец формы документа № 3',
							size: '30 кб',
							icon: 'doc',
							href: '#',
							type: 'Внутренний',
							date: '12.04.2019г.',
							format: 'doc',
						})
						+file({
							title: 'Образец формы документа № 4',
							size: '37 кб',
							icon: 'doc',
							href: '#',
							type: 'Внутренний',
							date: '12.04.2019г.',
							format: 'doc',
						})
						+file({
							title: 'Адрес и форма уведомления',
							size: '38 кб',
							icon: 'doc',
							href: '#',
							type: 'Внутренний',
							date: '12.04.2011г.',
							format: 'doc',
						})
						+file({
							title: 'Разрешения Администрации Волгодонского района № 1 от 15 августа 2012 г.',
							size: '139 кб',
							icon: 'jpg',
							href: '#',
							type: 'Внутренний',
							date: '15.08.2012г.',
							format: 'jpg',
						})
						+file({
							title: 'Постановление Администрации Волгодонского района №682 от 03.11.2015 г.',
							size: '126 кб',
							icon: 'pdf',
							href: '#',
							type: 'Внутренний',
							date: '03.11.2015г.',
							format: 'pdf',
							addition: true,
							additionlink: '#',
						})
						+file({
							title: 'Постановление Администрации Волгодонского района № 539 от 26.10.2016 г. "О внесении изменений в Постановление Администрации Волгодонского района № 682 от 03.11.2015 г."',
							size: '148 кб',
							icon: 'pdf',
							href: '#',
							type: 'Внутренний',
							date: '26.10.2016г.',
							format: 'pdf',
						})
						+file({
							title: 'Постановление Правительства РО от 23.11.2017 № 783 "О территориальной программе государственных гарантий бесплатного оказания гражданам медицинской помощи в Ростовской области на 2019 год и на плановый период 2020 и 2021 годов"',
							size: '3.74 мб',
							icon: 'pdf',
							href: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566374969/files/6114201711270004.pdf',
							type: 'Внутренний',
							date: '23.11.2017г.',
							format: 'pdf',
						})
						+file({
							title: 'Прейскурант цен на платные услуги',
							size: '691 кб',
							icon: 'pdf',
							href: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566375314/files/prejskurant_cen_na_pmu.pdf',
							type: 'Внутренний',
							date: '10.11.2015г.',
							format: 'pdf',
						})
						+file({
							title: 'Приказ от 09.01.2019 № 5 "О платных медицинских услугах на 2019 год.',
							size: '247 кб',
							icon: 'pdf',
							href: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566377136/files/prikaz_po_pmu.pdf',
							type: 'Внутренний',
							date: '09.01.2019г.',
							format: 'pdf',
						})
						+file({
							title: 'Приказ от 09.01.2017 № 4 "Об утверждении порядка и расчета предоставления платных медицинских услуг на 2019 год.',
							size: '136 кб',
							icon: 'pdf',
							href: '#',
							type: 'Внутренний',
							date: '09.01.2017г.',
							format: 'pdf',
						})
						+file({
							title: 'Приказ от 18.02.2016 № 47 "Об утверждении Положения о порядке предоставления платных медицинских услуг"',
							size: '1.79 мб',
							icon: 'pdf',
							href: '#',
							type: 'Внутренний',
							date: '15.08.2018г.',
							format: 'pdf',
							addition: true,
							additionlink: '#',
						})
						+file({
							title: 'Приказ от 09.01.2019 № 7 "О создании комиссии по организации платных медицинских услуг" на 2019 год',
							size: '116 кб',
							icon: 'pdf',
							href: '#',
							type: 'Внутренний',
							date: '09.01.2019г.',
							format: 'pdf',
						})
						+file({
							title: 'Приказ о медицинском освидетельствовании (осмотре) водителей на 2019 год',
							size: '136 кб',
							icon: 'pdf',
							href: '#',
							type: 'Внутренний',
							date: '12.04.2011г.',
							format: 'pdf',
						})
			
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
