extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Правила подготовки к диагностическим исследованиям";
	- var description = 'Правила подготовки к диагностическим исследованиям';
	- var breadcrumbs = [{title: 'Наши статьи',link: 'article.html'},{title: 'Правила подготовки к диагностическим исследованиям'}]
	- var keywords = 'подготовки к диагностическим исследованиям';

block content
	+breadcrumbs()
	+article()
	+section({
		mods: 'informer',
	})
		+informer('inner')
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="../js/inner.js")
