extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Правила подготовки к диагностическим исследованиям";
	- var description = 'Правила подготовки к диагностическим исследованиям';
	- var breadcrumbs = [{title: 'Наши статьи',link: 'article.html'},{title: 'Правила подготовки к диагностическим исследованиям'}]
	- var keywords = 'подготовки к диагностическим исследованиям';

block content
	+breadcrumbs()
	+article()

block scripts
	script(async src="../js/common.js")
