extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Правила подготовки к диагностическим исследованиям";
	- var description = 'Правила подготовки к диагностическим исследованиям';
	- var breadcrumbs = [{title: 'Наши статьи',link: 'article.html'},{title: 'Правила подготовки к диагностическим исследованиям'}]
	- var keywords = 'подготовки к диагностическим исследованиям';

block content
	+breadcrumbs()
	+article({
		title: 'Правила подготовки к диагностическим исследованиям',
	})
		+toc([
			{title: 'Подготовка к рентгенографии поясничного отдела позвоночника', anchor: '#rentgen'},
			{title: 'Анализ крови', anchor: '#blood'},
			{title: 'Анализ мочи', anchor: '#urine', childs: [
				{title: 'Сбор утренней мочи', anchor: '#urine__morning'},
				{title: 'Сбор суточной мочи', anchor: '#urine__day'},
				{title: 'Сбор мочи для исследования по Нечипоренко', anchor: '#urine__nechiporenko'},
				{title: 'Сбор мочи для исследования по Зимницкому', anchor: '#urine__zimybyckomu'},
				{title: 'Сбор мочи для микробиологического исследования', anchor: '#urine__micro'},
			]},
			{title: 'Анализ кала', anchor: '#feces'},
			{title: 'Анализы в гинекологии, урологии', anchor: '#gineUro', childs: [
				{title: 'Для женщин', anchor: '#gine'},
				{title: 'Для мужчин', anchor: '#uro'},
			]},
			{title: 'Анализ мокроты', anchor: '#phlegm'},
			{title: 'Ультразвуковые исследования', anchor: '#uzi', childs: [
				{title: 'Подготовка к УЗИ брюшной полости', anchor: '#uzi__abdomen'},
				{title: 'Подготовка к УЗИ органов малого таза', anchor: '#uzi__pelvic'},
				{title: 'Подготовка к УЗИ мочевого пузыря и простаты у мужчин', anchor: '#uzi__prostate'},
				{title: 'Подготовка к УЗИ молочных желез', anchor: '#uzi__mammary'},
				{title: 'Подготовка к УЗИ поясничного отдела позвоночника', anchor: '#uzi__belly'},
				{title: 'УЗИ щитовидной железы, лимфатических узлов и почек', anchor: '#uzi__renal'},
			]},
		])
		.article__text
			.container
				h2#rentgen Подготовка к рентгенографии поясничного отдела позвоночника
				ol
					li
						p За три дня до исследования исключить из рациона:
						ul
							li
								p черный хлеб
							li
								p молоко
							li
								p горох
							li
								p фасоль
							li
								p капусту
							li
								p свежие овощи
							li
								p фрукты
							li
								p сладкие блюда
					li
						p
							| Накануне исследования не позднее 18-00- легкий ужин, затем постановка 2-х очистительных клизм в 19-00 и 21-00;
					li
						p В день исследования - еще одна очистительная клизма за 2 часа до исследования;
					li
						p Прийти натощак (не есть, не пить).
					li
						p
							| При себе иметь: тапочки, простынь, туалетную бумагу, амбулаторную карту, направление. Женщинам при себе иметь ночную рубашку.
				h3 Правила подготовки больного к клинико-диагностическим исследованиям
				p
					| Для наиболее точного диагностирования заболеваний недостаточно самого современного лабораторного оборудования. Точность результатов зависит не только от используемых реактивов и аппаратуры, но и от времени и правильности сбора исследуемого материала. При несоблюдении основных правил подготовки к анализам их результаты могут быть значительно искажены.
				h2#blood Анализ крови
				p Для исследования крови более всего подходят утренние часы
				p
					| Для большинства исследований кровь берется строго натощак. Кофе, чай и сок - это тоже еда. Можно пить воду.
				p Рекомендуются следующие промежутки времени после последнего приема пищи:
				ol
					li
						p для общего анализа крови не менее 3-х часов;
					li
						p
							| для биохимического анализа крови желательно не есть 12-14 часов (но не менее 8 часов).
					li
						p
							| За 2 дня до обследования необходимо отказаться от алкоголя, жирной и жареной пищи.
					li
						p За 1-2 часа до забора крови не курить.
				p
					| Перед исследованием крови следует максимально снизить физические нагрузки. Исключить бег, подъем по лестнице. Избегать эмоционального возбуждения. Минут 10-15 нужно отдохнуть, расслабиться и успокоиться.
				p
					| Нельзя сдавать кровь сразу после физиотерапевтических процедур, ультразвукового и рентгенологического исследования, массажа и рефлексотерапии.
				p Перед сдачей крови нужно исключить перепады температур, то есть баню и сауну.
				p
					| Перед гормональным исследованием крови у женщин репродуктивного возраста следует придерживаться рекомендаций лечащего врача о дне менструального цикла, в который необходимо сдать кровь, так как на	результат анализа влияют физиологические факторы фазы менструального цикла.
				p
					| Перед сдачей крови необходимо успокоиться, чтобы избежать немотивированного выброса в кровь гормонов и увеличение их показателя.
				p
					| Для сдачи крови на вирусные гепатиты желательно за 2 дня до исследования исключить из рациона цитрусовые, оранжевые фрукты и овощи.
				p
					| Для правильной оценки и сравнения результатов ваших лабораторных исследований рекомендуется проводить их в одной и той же лаборатории, так как в разных лабораториях могут применяться разные методы исследования и единицы измерения показателей.
				h2#urine Анализы мочи
				h3 Общеклинический анализ мочи
				h4#urine__morning Сбор утренней мочи:
				ul
					li
						p
							| сбор производится сразу после подъема с постели, до приема утреннего кофе или чая;
					li
						p предыдущее мочеиспускание было не позже, чем в 2 часа ночи;
					li
						p перед сбором анализа мочи проводится тщательный туалет наружных половых органов;
					li
						p
							| в специальный контейнер с крышкой собирают 10 мл мочи, снабжают направлением, собранную мочу сразу направляют в лабораторию;
					li
						p хранение мочи в холодильнике допускается при t 2-4 C, но не более 1,5 часов;
					li
						p женщинам нельзя сдавать мочу во время менструации.
				h4#urine__day Сбор суточной мочи
				ul
					li
						p
							| пациент собирает мочу в течение 24 часов при обычном питьевом режиме (около 1,5 л в сутки);
					li
						p
							| утром в 6-8 часов он освобождает мочевой пузырь и выливает эту порцию, затем в течение суток собирает всю мочу в чистый широкогорлый сосуд из темного стекла с крышкой емкостью не менее 2 л;
					li
						p
							| последняя порция берется в то же время, когда накануне был начат сбор, отмечается время начала и конца сбора;
					li
						p
							| емкость хранится в прохладном месте (лучше в холодильнике на нижней полке), замерзание не допускается;
					li
						p
							| по окончании сбора мочи измеряется её объем, мочу тщательно взбалтывают и отливают 50-100 мл в специальный контейнер, в котором она будет доставлена в лабораторию;
					li
						p обязательно указывают объем суточной мочи.
				h4#urine__nechiporenko
					| Сбор мочи для исследования по Нечипоренко(выявление скрытого воспалительного процесса)
				ul
					li
						p
							| утром натощак собирают 10 мл утренней мочи, взятой в середине мочеиспускания в специальный лабораторный контейнер.
				h4#urine__zimybyckomu
					| Сбор мочи для исследования по Зимницкому (пациент учитывает количество выпитой жидкости за сутки)
				ul
					li
						p
						| после опорожнения мочевого пузыря в 6 часов утра через каждые 3 часа в течение суток собирают мочу в отдельные емкости, на которых указывает время сбора или номер порции, всего 8 порций.
						ul
							li
								p с 6.00 до 9.00
							li
								p с 9.00 до 12.00
							li
								p с 12.00 до 15.00
							li
								p с 15.00 до 18.00
							li
								p с 18.00 до 21.00
							li
								p с 21.00 до 24.00
							li
								p с 24.00 до 3.00
							li
								p с 3.00 до 6.00 часов
					li
						p
							| все собранное количество мочи в 8 специальных контейнерах доставляется в лабораторию;
					li
						p обязательно указать объем суточной мочи.
				h4#urine__micro Сбор мочи для микробиологического исследования (посев мочи)
				ul
					li
						p утренняя моча собирается в стерильный лабораторный контейнер с крышкой;
					li
						p первые 15 мл мочи для анализа не используются, берутся последующие 5- 10 мл;
					li
						p собранная моча доставляется в лабораторию в течение 1,5 - 2 часов после сбора;
					li
						p допускается хранение мочи в холодильнике, но не более 3-4 часов;
					li
						p сбор мочи проводится до начала медикаментозного лечения;
					li
						p
							| если нужно оценить эффект проведенной терапии, то посев мочи производится по окончании курса лечения.
				h2#feces Анализы кала
				ul
					li
						p
							| за 2-3дня до исследования избегать приема лекарственных препаратов, меняющих характер кала и вызывающих функциональные нарушения желудочно-кишечного тракта;
					li
						p
							| нельзя исследовать кал после клизмы, применения ректальных свечей, приема слабительных или красящих веществ, а также пилокарпина, препаратов железа, висмута, бария и др.;
					li
						p
							| кал не должен содержать посторонних примесей, таких как моча, дезинфицирующие вещества и др.;
					li
						p подготовить чистую емкость для кала;
					li
						p
							| содержимое утреннего кала из 3-х точек собирается в контейнер и доставляется в лабораторию в течение 2-х часов.
				h3 Анализ кала на выявление глистных инвазий
				ul
					li
						p
							| в течении двух дней больной не должен употреблять в пищу жесткую, плохо перевариваемую пищу ("пищевой мусор") - семечки, орехи, сырые овощи и фрукты со шкуркой, а также сорбенты - активированный уголь и прочее, а также грибы!
				h2#gineUro Анализы в гинекологии, урологии
				h3#gine Для женщин:
				ul
					li
						p нельзя мочиться в течение 3-х часов до сдачи анализа (мазок, посев);
					li
						p
							| не рекомендуется вступать в половой контакт за 36 часов, тем более с использованием противозачаточных средств которые могут исказить результат, так как обладают антибактериальным действием;
					li
						p накануне нельзя подмываться антибактериальным мылом и спринцеваться;
					li
						p нельзя применять антибиотики внутрь;
					li
						p нельзя сдавать анализы во время менструации.
				h3#uro Для мужчин:
				ul
					li
						p нельзя ходить в туалет за 3 часа до сдачи анализа;
					li
						p нельзя принимать внутрь уросептики, антибиотики;
					li
						p
							| применять наружно растворы, обладающие дезинфицирующим действием, мыло с антибактериальным действием;
					li
						p не рекомендуется вступать в половой контакт за 36 часов до сдачи анализов.
				h2#phlegm Анализ мокроты
				ul
					li
						p анализ собирается в стерильный лабораторный контейнер;
					li
						p перед сбором мокроты необходимо почистить зубы, прополоскать рот и горло;
				h2#uzi Ультразвуковые исследования
				p Пациенту с собой необходимо иметь:
				ol
					li
						p данные предыдущих исследований УЗИ (для определения динамики заболевания);
					li
						p
							| направление на УЗ исследование (цель исследования, наличие сопутствующих заболеваний...);
					li
						p большое полотенце или пеленку.
				h3#uzi__abdomen Подготовка к УЗИ брюшной полости
				ol
					li
						p
							| За 2-3 дня до обследования рекомендуется перейти на бесшлаковую диету, исключить из рациона продукты,
							| усиливающие газообразование в кишечнике (сырые овощи, богатые растительной клетчаткой, цельное молоко, черный
							| хлеб, бобовые, газированные напитки, а также высококалорийные кондитерские изделия - пирожные, торты). Накануне
							| исследования- легкий ужин не позднее 18 часов, исключая прием грубой трудно перевариваемой пищи;
					li
						p
							| Пациентам, имеющим проблемы с ЖКТ (запоры) целесообразно в течение этого промежутка времени принимать
							| ферментные препараты и энтеросорбенты (например, фестал, мезим-форте, активированный уголь или эспумизан по 1
							| таблетке 3 раза в день), которые помогут уменьшить проявления метеоризма;
					li
						p
							| УЗИ органов брюшной полости необходимо проводить натощак, если исследование невозможно провести утром,
							| допускается легкий завтрак, в день исследования не пить, не принимать пищу, лекарственные препараты;
					li
						p Если Вы принимаете лекарственные средства, предупредите об этом врача УЗИ;
					li
						p
							| Нельзя проводить исследование после гастро- и колоноскопии, а также R-исследований органов ЖКТ.
					li
						p
							| При себе необходимо иметь сменную обувь, полотенце, направление, результаты предыдущих обследований.
				h3#uzi__pelvic Подготовка к УЗИ органов малого таза (мочевой пузырь, матка, придатки у женщин)
				ol
					li
						p накануне исследования – легкий ужин не позднее 19 часов;
					li
						p
							| Исследование проводится при полном мочевом пузыре, поэтому необходимо не мочиться до исследования в течение 3-4 часов и выпить 1 л негазированной жидкости за 1 час до процедуры.
					li
						p
							| Для трансвагинального УЗИ (ТВС) специальная подготовка не требуется. В случае, если у пациента проблемы с ЖКТ - необходимо провести очистительную клизму накануне вечером.
					li
						p
							| При себе необходимо иметь сменную обувь, полотенце, направление, результаты предыдущих обследований
				h3#uzi__prostate Подготовка к УЗИ мочевого пузыря и простаты у мужчин
				ol
					li
						p
							| Исследование проводится при полном мочевом пузыре, поэтому необходимо не мочиться до исследования в течение 3-4 часов и выпить 1 л негазированной жидкости за 1 час до
							| процедуры.
					li
						p УЗИ предстательной железы проводится двумя методами:
						ul
							li
								p
									b трансабдоминальным
									| . Исследование проводится при полном мочевом пузыре, поэтому необходимо не мочиться до исследования в течение 3 - 4 часов и выпить 1 л негазированной жидкости за 1 час до
									| 												процедуры.
							li
								p
									b трансректально (ТРУЗИ)
									|  -данный метод должен быть основным при обследовании предстательной железы. Для ТРУЗИ наполнения мочевого пузыря не требуется. Накануне исследования необходима очистительная
									| 												клизма.
				h3#uzi__mammary Подготовка к УЗИ молочных желез
				ol
					li
						p
							| Исследование молочных желез желательно проводить в первые 5-10 дней менструального цикла (1 фаза цикла).
					li
						p При себе необходимо иметь направление.
				h3#uzi__belly Подготовка к УЗИ поясничного отдела позвоночника
				ol
					li
						p Исследование проводится строго натощак после 4-х часового голодания.
					li
						p За 2 дня обеспечить бесшлаковую диету.
					li
						p
							| Очистительная клизма накануне вечером и утром, непосредственно в день исследования.
				h3#uzi__renal УЗИ щитовидной железы, лимфатических узлов и почек
				ul
					li
						p не требуют специальной подготовки пациента

	+section({
		mods: 'informer',
	})
		+informer('inner')
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
