extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Дорожная карта";
	- var description = 'Дорожная карта';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Дорожная карта'}]
	- var keywords = 'Дорожная карта';

block content
	+breadcrumbs()
	+article({
		title: 'Дорожная карта',
	})
		.article__text
			.container
				.files__items
					+file({
						title: 'Постановление Администрации Волгодонского района от 10.04.2013 г № 342',
						size: '251 кб',
						icon: 'pdf',
						href: '#',
						type: 'Внутренний',
						date: '10.04.2013г.',
						format: 'pdf',
					})
					+file({
						title: 'План мероприятий ("дорожная карта") «Изменения в отраслях социальной сферы,направленные на повышение эффективности здравоохранения в Волгодонском районе» ',
						size: '251 кб',
						icon: 'doc',
						href: '#',
						type: 'Внутренний',
						date: '10.04.2013г.',
						format: 'doc',
					})
				h2 Изменения к постановлению:
				.files__items
					+file({
						title: 'Постановление Администрации Волгодонского района от 29.07.2014 г № 606 "О внесении изменений в Постановление Администрации Волгодонского района от 10.04.2013 г № 342"',
						size: '991 кб',
						icon: 'pdf',
						href: '#',
						type: 'Внутренний',
						date: '29.07.2014г.',
						format: 'pdf',
					})
					+file({
						title: 'Постановление Администрации Волгодонского района от 29.12.2014 г № 1238 "О внесении изменений в Постановление Администрации Волгодонского района от 10.04.2013 г № 342"',
						size: '312 кб',
						icon: 'pdf',
						href: '#',
						type: 'Внутренний',
						date: '29.12.2014г.',
						format: 'pdf',
					})
					+file({
						title: '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2014 года.',
						size: '71 кб',
						icon: 'doc',
						href: '#',
						type: 'Внутренний',
						date: '10.02.2015г.',
						format: 'doc',
					})
					+file({
						title: '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2015 года.',
						size: '74 кб',
						icon: 'doc',
						href: '#',
						type: 'Внутренний',
						date: '10.02.2016г.',
						format: 'doc',
					})
					+file({
						title: '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2016 года.',
						size: '75 кб',
						icon: 'doc',
						href: '#',
						type: 'Внутренний',
						date: '10.02.2017г.',
						format: 'doc',
					})
					+file({
						title: '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2017 года.',
						size: '66 кб',
						icon: 'doc',
						href: '#',
						type: 'Внутренний',
						date: '10.02.2018г.',
						format: 'doc',
					})
					+file({
						title: '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2018 года.',
						size: '71 кб',
						icon: 'doc',
						href: '#',
						type: 'Внутренний',
						date: '10.02.2019г.',
						format: 'doc',
					})
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
