extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Условия и объемы медицинской помощи";
	- var description = 'Условия и объемы медицинской помощи';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Условия и объемы медицинской помощи'}]
	- var keywords = 'Условия и объемы медицинской помощи';

block content
	+breadcrumbs()
	+article({
		title: 'Условия и объемы медицинской помощи в МБУЗ ЦРБ волгодонского района',
	})
		.article__text
			.container
				p МБУЗ «ЦРБ» Волгодонского района осуществляет медицинские услуги за счет средств бюджета, ОМС прикрепленному населению в объеме, предусмотренном программой государственных гарантий, а также на договорной основе и по системе добровольного медицинского страхования. В рамках территориальной программы государственных гарантий, в соответствии с действующей лицензией и утвержденной структурой в МБУЗ «ЦРБ» гражданам бесплатно предоставляются:
				ul.article__list
					li
						p первичная медико-санитарная помощь, в том числе первичная доврачебная, первичная врачебная и первичная специализированная
					li
						p  специализированная медицинская помощь; скорая медицинская помощь; паллиативная медицинская помощь
					li
						p Первичная медико-санитарная помощь оказывается бесплатно в амбулаторных условиях и в условиях дневного стационара
					li
						p Первичная доврачебная медико-санитарная помощь оказывается фельдшерами, акушерами и другими медицинскими работниками со средним медицинским образованием
					li
						p Первичная врачебная медико-санитарная помощь оказывается врачами-терапевтами участковыми, врачами-педиатрами участковыми.
					li
						p Первичная специализированная медико-санитарная помощь оказывается врачами- специалистами:
						ul
							li
								p врач-невролог
							li
								p врач-хирург
							li
								p врач-невролог
							li
								p врач-травматолог-ортопед
							li
								p врач-оториноларинголог
							li
								p врач-офтальмолог
							li
								p врач-акушер-гинеколог
							li
								p врач-стоматолог-хирург
							li
								p врач-стоматолог-терапевт
							li
								p врач-кардиолог
				p Специализированная медицинская помощь оказывается бесплатно в стационарных условиях и в условиях дневного стационара врачами-специалистами.
				p В МБУЗ «ЦРБ» функционируют терапевтическое (с неврологическими койками) и хирургическое  (с гинекологическими и урологическими койками) отделение и дневной стационар (терапия,  хирургия)
				p Скорая медицинская помощь оказывается гражданам бесплатно в экстренной или неотложной форме вне медицинской организации, а также в амбулаторных и стационарных условиях при заболеваниях, несчастных случаях, травмах, отравлениях и других состояниях, требующих срочного медицинского вмешательства.
				p При оказании скорой медицинской помощи в случае необходимости осуществляется медицинская эвакуация, представляющая собой транспортировку граждан в целях спасения жизни и сохранения здоровья. Медицинская эвакуация осуществляется выездными бригадами скорой медицинской помощи с проведением во время транспортировки мероприятий по оказанию медицинской помощи, в том числе с применением медицинского оборудования.
				p Паллиативная медицинская помощь оказывается бесплатно в амбулаторных условиях и представляет собой комплекс медицинских вмешательств, направленных на избавление от боли и облегчение других тяжелых проявлений заболевания в целях улучшения качества жизни больных граждан. В МБУЗ «ЦРБ» паллиативная медицинская помощь представлена кабинетами паллиативной помощи взрослым и детям располагаемые в станице Романовская.
				p Медицинская помощь в МБУЗ «ЦРБ» оказывается в экстренной (при внезапных острых заболеваниях, состояниях, обострении хронических заболеваний, представляющих угрозу жизни пациента) и плановой (при проведении профилактических мероприятий, при заболеваниях и состояниях, не сопровождающихся угрозой жизни пациента) формах.
				h2 Порядок и условия предоставления бесплатной медицинской помощи.
				p Медицинская помощь гражданам в МБУЗ «ЦРБ» Волгодонского  района оказывается в следующих условиях:
				ol.article__list
					li
						p вне медицинской организации (по месту вызова бригады скорой, медицинской помощи, а также в транспортном средстве при медицинской эвакуации)
					li
						p амбулаторно (в условиях, не предусматривающих круглосуточного медицинского наблюдения и лечения), в том числе на дому при вызове медицинского работника
					li
						p в дневном стационаре (в условиях, предусматривающих медицинское наблюдение и лечение в дневное время, но не требующих круглосуточного медицинского наблюдения и лечения)
					li
						p стационарно (в стационарных отделениях, обеспечивающих круглосуточное медицинское наблюдение и лечение в случаях, требующих применения интенсивных методов диагностики и лечения)
				p Лечащий врач организует своевременное квалифицированное обследование и лечение пациента, предоставляет информационно о состоянии его здоровья, по требованию пациента или его законного представителя приглашает для консультации врачей – специалистов.
				p Объем диагностических, лечебных, профилактических, санитарно – гигиенических, противоэпидемических мероприятий пациенту, определяет лечащий врач в соответствии с медицинскими показателями с учетом порядков оказания медицинской помощи на основе стационаров медицинской помощи.
				p Необходимым предварительным условием проведения медицинского вмешательства диагностической или лечебной направленности является получение письменного добровольного согласия пациента (или его законного представителя) на основе полученной от лечащего врача в доступной для него форме полной и всесторонней информации о цели, характере, способах данного вмешательства, связанном с ним вероятном риске и возможных медицинских и социальных последствиях, а также возможных альтернативных видах медицинской помощи и связанных с ними последствиях и риске.
				p В случае оказания медицинской помощи детям до 15 лет согласие на проведение им медицинского вмешательства дают родители (либо законные представители) после предоставления врачом исчерпывающей информации о состоянии ребенка.
				p Медицинские услуги, необходимость которых не установлена, выполняемые по инициативе пациента, не предусматриваются территориальной программой государственных гарантий, могут оказываться на платной основе.
				p Если в условиях МБУЗ «ЦРБ» не может быть оказана необходимая медицинская помощь, пациенту обеспечивается перевод в другую медицинскую организацию, в которой предусмотрено оказание необходимой медицинской помощи.
				p
					b Скорая медицинская помощь
					|  оказывается при заболеваниях, несчастных случаях, травмах, отравлениях и других состояниях, требующих срочного медицинского вмешательства. Скорая помощь оказывается гражданам бесплатно.
				p Оказание скорой медицинской помощи осуществляется в круглосуточном режиме. При оказании скорой медицинской помощи в случае необходимости осуществляется медицинская эвакуация.
				.article__strong
					p Вызов скорой помощи осуществляется по телефону 03, с мобильного телефона 030, 112.
				p Перечень показаний для вызова скорой медицинской помощи в экстренной форме:
				ul.article__list
					li
						p нарушения сознания, представляющие угрозу жизни
					li
						p нарушения дыхания, представляющие угрозу жизни
					li
						p нарушения системы кровообращения, представляющие угрозу жизни
					li
						p внезапный болевой синдром, представляющий угрозу жизни
					li
						p внезапные	нарушения функции какого-либо органа или системы органов, представляющие угрозу жизни
					li
						p травмы любой этиологии, представляющие угрозу жизни
					li
						p термические и химические ожоги, представляющие угрозу жизни
					li
						p внезапные кровотечения, представляющие угрозу жизни
					li
						p роды, угроза прерывания беременности
				p При наличии срочных медицинских показаний для дальнейшего оказания медицинской помощи бригадой скорой медицинской помощи осуществляется экстренная медицинская эвакуация больных и пострадавших в стационар.
				p Сведения о больных, не нуждающихся в госпитализации, но состояние которых требует динамического наблюдения за течением заболевания, передаются в поликлинику по месту прикрепления пациента.
				p
					b Амбулаторная медицинская помощь
					|  предоставляется гражданам при заболеваниях, травмах, отравлениях и других патологических состояниях, не требующих круглосуточного медицинского наблюдения, изоляции и использования интенсивных методов лечения, а также при беременности и искусственном прерывании беременности на ранних сроках (абортах), а также включает проведение мероприятий по профилактике (в том числе диспансерному наблюдению) заболеваний.
				p Первичная медико-санитарная помощь в МБУЗ «ЦРБ» Волгодонского  района предоставляться в плановой форме при предъявлении полиса обязательного медицинского страхования (далее – ОМС) ) паспорта гражданина Российской Федерации или документа, его заменяющего.
				p
					| Прием плановых больных врачом может осуществляться как по предварительной записи, так и по талону на прием, полученному в день обращения. Предварительная запись производится в регистратуре по телефону 
					i (89282125806, 70722, 70713)
					| , через портал  Госуслуги, на сайте ЦРБ Волгодонского района
				p
					| При проведении плановых посещений и диагностических исследований возможно наличие очереди на прием к врачу. Время ожидания – 
					i не более 45 минут.
				p  По экстренным показаниям амбулаторно- поликлиническая помощь оказывается вне очереди, без предварительной записи безотлагательно. Отсутствие страхового полиса и документов, удостоверяющих личность, не является причиной отказа в экстренном приеме.
				p Медицинская помощь на дому оказывается при острых и внезапных ухудшениях состояния здоровья, не позволяющих больному посетить поликлинику, в том числе и при тяжелых хронических заболеваниях.
				p
					| Активные посещения медицинским работником пациента на дому осуществляются с целью наблюдения за его состоянием, течением заболевания, проведения патронажа детей 
					i до 1 года
					| , дородового патронажа, патронажа родильниц. Срок ожидания оказания медицинской помощи в неотложной форме составляет не более 
					i 2-х часов
					|  с момента обращения.
				p Лабораторно-диагностические методы исследования гражданам предоставляются по направлению лечащего врача или врача-специалиста при наличии медицинских показаний и в соответствии с принятыми стандартами обследования по данному заболеванию.
				p
					| Объем диагностических и лечебных мероприятий, необходимость в консультациях врачей-специалистов для конкретного пациента определяется лечащим врачом. Срок ожидания лабораторных исследований и диагностических инструментальных исследований в плановой форме – 
					i не более 14 рабочих дней
					| .
				p В целях увеличения доступности медицинской помощи осуществляется прикрепление пациентов к лечебному учреждению по территориально-участковому принципу.
				p Указанная система предусматривает формирование групп обслуживаемого контингента по признаку проживания на определенной территории или по признаку работы в определенных организациях.
				p
					b Специализированная медицинская помощь в стационарных условиях
					|  оказывается пациентам, состояние которых требует круглосуточного медицинского наблюдения, соблюдения постельного режима.
				p Специализированная медицинская помощь оказывается в стационарных условиях и условиях дневного стационара.
				p Показанием для направления больного в дневной стационар является необходимость проведения активных лечебно – диагностических и реабилитационных мероприятий, не требующих круглосуточного наблюдения.
				p Длительность пребывания и перечень нозологий в дневном стационаре регламентируются Классификатором медицинских услуг, утвержденным Минздравом РО и ТФОМС РО.
				p МБУЗ «ЦРБ» оказывает круглосуточную медицинскую помощь по следующим профилям:
				ul.article__list
					li
						p терапевтический
					li
						p неврологический
					li
						p хирургический
					li
						p гинекологический
				p
					| Допускается наличие очереди на плановую госпитализацию, время ожидания – 
					i не более 30 дней
					|  с момента выдачи лечащим врачом направления на госпитализацию. При состояниях, угрожающих жизни, пациент госпитализируется немедленно.
				p
					| Больные могут быть размещены в палатах 
					i на 2 и более
					|  мест, в одноместных палатах – по медицинским показаниям.
				p Больные обеспечиваются лечебным питанием в соответствии с физиологическими нормами и в пределах норм расходов на питание, заложенных в тарифы на медицинские услуги по ОМС, и нормативных затрат на койко-день при бюджетном финансировании.
				p При наличии медицинских показаний, а также при отсутствии МБУЗ «ЦРБ» лицензии на оказание необходимых пациенту видов медицинской помощи и медицинских услуг гарантируется перевод пациента в другую медицинскую организацию.
				p
					i Первичная медико-санитарная и специализированная медицинская помощь в условиях дневного стационара
					|  оказывается пациентам с острыми и хроническими заболеваниями, состояние которых не требует круглосуточного наблюдения и интенсивных методов диагностики и лечения.
				p В МБУЗ «ЦРБ» Волгодонского  района дневной стационар с койками терапевтического, неврологического, хирургического профиля функционируют при круглосуточном стационаре. Рябичевская амбулатория располагают местами дневного пребывания терапевтического профиля.
				p
					| Направление производится в плановом порядке. Возможно наличие очередности на госпитализацию в дневной стационар, но 
					i не более 30 дней
					|  со дня получения направления на госпитализацию.
				p Обследование и лечение пациентов в дневном стационаре производится по направлению врача амбулаторно-поликлинического подразделения или врача стационара в установленном порядке.
				p Для проведения диагностических мероприятий МБУЗ «ЦРБ» располагает следующими вспомогательными лечебно-диагностическими подразделениями:
				ul.article__list
					li
						p лаборатория общеклинических исследований
					li
						p лаборатория биохимических исследований
					li
						p рентгенологический кабинет, включая маммографические исследования
					li
						p флюорографический кабинет
					li
						p кабинет ультразвуковой диагностики
					li
						p кабинет эндоскопии
					li
						p кабинет функциональной диагностики (ЭКГ, ЭЭГ, Спирография)
				p Лабораторно-диагностические методы исследования гражданам предоставляются по направлению лечащего врача или врача-специалиста при наличии медицинских показаний и в соответствии с принятыми стандартами обследования по данному заболеванию
	+section({
		mods: 'informer',
	})
		+informer('inner')
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
