extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Защита прав граждан";
	- var description = 'Защита прав граждан в системе обязательного медицинского страхования';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Защита прав граждан'}]
	- var keywords = 'Защита прав граждан';

block content
	+breadcrumbs()
	+article({
		title: 'Защита прав граждан в системе обязательного медицинского страхования',
	})
		.article__text
			.container
				.article__strong
					p Страховой медицинский полис обязательного медицинского страхования действует на всей территории Российской Федерации при предъявлении его в медицинские учреждения, входящие в систему обязательного медицинского страхования.
				p При обращении за медицинской помощью застрахованные граждане обязаны предъявить страховой медицинский полис вместе с документами, удостоверяющими личность.
				p Если Вы застрахованы по обязательному медицинскому страхованию (ОМС), Вы имеете право на получение своевременной, качественной медицинской помощи в системе обязательного медицинского	страхования.
				p Перечень бесплатно оказываемых медицинских услуг по полису обязательного медицинского страхования и медицинских учреждений, работающих в системе ОМС, указан в Территориальной Программе государственных гарантий оказания гражданам Российской Федерации бесплатной медицинской помощи в Ростовской области на соответствующий год.
				p С Территориальной Программой и утвердившим ее Постановлением Администрации Ростовской области Вы можете ознакомиться в средствах массовой информации, в нашем территориальном представительстве, в территориальном представительстве Вашей страховой медицинской организации (СМО) или у представителя СМО,ведущего прием непосредственно в лечебном учреждении, оказывающем Вам медицинские услуги.
				p В системе обязательного медицинского страхования Ростовской области необходимые для конкретного больного перечень и объем лечебных и диагностических мероприятий определяются лечащим врачом (в определенных случаях – врачебным консилиумом, врачебной комиссией) на основе отраслевых стандартов диагностики и лечения.
				p При оказании медицинской помощи по ОМС в стационаре и дневных стационарах, пациентам предоставляется бесплатное лекарственное обеспечение в пределах Перечня, утвержденного приказом министерства здравоохранения Ростовской области и Территориального фонда обязательного медицинского страхования Ростовской области.
				p С данным Перечнем Вы можете ознакомиться непосредственно в лечебном учреждении, в территориальном представительстве страховой медицинской организации или у представителя СМО, ведущего прием непосредственно в лечебном учреждении, оказывающем Вам медицинские услуги.
				p В случае приобретения Вами медикаментов из Перечня за счет личных средств, Вы имеете право на возмещение этих расходов из средств лечебного учреждения (необходимые для этого подтверждающие документы: кассовый и товарный чеки, запись в листе назначений).
				p При амбулаторно-поликлинической помощи расходные материалы (такие как шприц, спирт, вата,бинт, рентген пленка) предоставляются пациентам бесплатно.
				p Лекарственное обеспечение при амбулаторно-поликлинической помощи производится за счет личных средств граждан, за исключением лиц, имеющих льготы на лекарственное обеспечение, установленные Законодательством РФ и Ростовской области.
				p Задача страховой медицинской организации (СМО) – защищать интересы застрахованных граждан,контролировать объем, сроки и качество оказываемой медицинской помощи.
				p Просим Вас обращаться в страховую медицинскую организацию по всем вопросам, касающимся оказания Вам медицинской помощи.
				+table({
					caption: 'Телефонные номера служб защиты прав застрахованных страховых медицинских организаций',
					mods: 'fixedHeight',
				})
					thead
						tr
							th(scope="col") Наименование СМО
							th(scope="col") Телефон службы защиты прав застрахованных
					tbody
						tr
							td(scope="row")
								a.link.link--underline(href="http://www.rgs.ru/index.wbp" target="_blank" rel="noopener noreferrer") Филиал ООО«РГС-Медицина» - Росгосстрах-Ростов-Медицина»
							td.center.table__cell-response(data-title="Телефон службы защиты прав")
								a.link.link--underline(tel:88001000801) 8-800-100-08-01
						tr
							td(scope="row")
								a.link.link--underline(href="http://www.sogaz-med.ru/" target="_blank" rel="noopener noreferrer") Ростовский филиал ОАО Страховая компания «СОГАЗ-Мед»
							td.center.table__cell-response(data-title="Телефон службы защиты прав")
								a.link.link--underline(tel:88001001070) 8-800-100-10-70
						tr
							td(scope="row")
								a.link.link--underline(href="https://alfastrahoms.ru/" target="_blank" rel="noopener noreferrer") ООО«АльфаСтрахование -ОМС»филиал «АсСтра»
							td.center.table__cell-response(data-title="Телефон службы защиты прав")
								a.link.link--underline(tel:88001000081) 8-800-100-00-81
						tr
							td(scope="row")
								a.link.link--underline(href="http://www.makc.ru/" target="_blank" rel="noopener noreferrer") Ростовский филиал ЗАО «МАКС-М»
							td.center.table__cell-response(data-title="Телефон службы защиты прав")
								a.link.link--underline(tel:88005550003) 8-800-555-000-3
						tr
							td(scope="row")
								a.link.link--underline(href="http://www.mco-panacea.ru/" target="_blank" rel="noopener noreferrer") ООО МСО«Панацея»
							td.center.table__cell-response(data-title="Телефон службы защиты прав")
								a.link.link--underline(tel:88002000868) 8-800-200-08-68
				p Телефон «горячей линии» 
					a.link.link--underline(href="http://rostov-tfoms.ru" target="_blank" rel="noopener noreferrer")
						|  Территориального фонда обязательного медицинского страхования Ростовской области: 
				p
					a.link.link--underline(href="tel:+88003332220")  8-800-333-22-20
				p Территориальный фонд обязательного медицинского страхования Ростовской области сообщает о начале работы с 1 июня 2016 года Контакт-центра в сфере ОМС.
				p В задачи Контакт-центра входит консультирование застрахованных граждан по вопросам обязательного медицинского страхования, содействие в организации получения медицинской помощи по ОМС, рассмотрение обращений о возможных нарушениях прав граждан в сфере ОМС.
				p Контакт-центр – это специализированное подразделение, занимающееся в режиме онлайн приемом, регистрацией и рассмотрением телефонных и письменных обращений граждан по вопросам ОМС, а также их информированием по сути заданных вопросов.
				p Контакт-центр создан на основе ранее действовавших круглосуточных телефонов «горячей линии» ТФОМС Ростовской области и страховых медицинских организаций.
				p При этом контакт-центр ТФОМС обеспечивает координацию call-центров страховых медицинских компаний и на основе анализа проводимой работы с обращениями граждан разрабатывает предложения по ее совершенствованию Контакт-центр предусматривает организацию работы двух уровней.
				p На первом уровне обеспечивается регистрация телефонных обращений граждан и их консультирование по вопросам ОМС, носящим общий характер.
				p На втором уровне рассматриваются вопросы узкоспециализированного характера, связанные прежде всего с оказанием медицинской помощи.
				p Организация работы контакт-центра – новый этап в сервисе и культуре работы с пациентами на основе персонального информационного взаимодействия.
				p Бесплатный телефон Контакт-центра в ТФОМС Ростовской области 8-800-333-22-20 (работающий круглосуточно с обязательной аудиозаписью входящих звонков; в режиме работы оператора с 9:00 до 18:00 по рабочим дням)
				p В большинстве муниципальных и ряде областных лечебных учреждений ведут прием так называемые представители страховых медицинских организаций (СМО). Это люди, которые на месте, т.е. непосредственно в лечебном учреждении могут и должны оказывать Вам помощь, если Вы нуждаетесь в разъяснении Ваших прав как пациента, а также в указанных ниже ситуациях.
				+table({
					caption: 'В поликлинике',
					mods: 'equal-1',
				})
					thead
						tr
							th(scope="col") Ситуации
							th(scope="col") Ваши действия
					tbody
						tr
							td Очереди у регистратуры более 7-10 человек
							td(rowspan="10" scope="rowgroup")
								| Во всех этих ситуациях Вы можете обратиться к Представителю страховой	медицинской компании, ведущему прием граждан непосредственно в лечебном учреждении*.
						tr
							td Несовпадение графика приема врачей с фактическим временем работы кабинета без дополнительной информации пациентов.
						tr
							td Ожидание очередным пациентом приема к врачу более 45 минут.
						tr
							td Нетактичное, грубое поведение медицинских работников.
						tr
							td Недостаточное количество сидячих мест перед кабинетами для ожидания приема врача.
						tr
							td Отсутствие доступной для пациентов информации о правах пациентов и территориальной программе государственных гарантий оказания гражданам РФ бесплатной медицинской помощи в Ростовской области.
						tr
							td Внеочередное ведение приема платных пациентов (или пациентов с полисами добровольного медицинского страхования – ДМС) в общей очереди с больными с полисами ОМС во время плановой работы кабинета (в т.ч.
								| физиотерапевтическое отделение, лаборатория, рентген, УЗИ, процедурная, ЭКГ и т.д.).
						tr
							td Потребность в консультации по поводу обоснованности оплаты конкретных медицинских услуг из Ваших личных средств.
						tr
							td Неудовлетворительное санитарно-техническое состояние помещений поликлиники, в т.ч туалетных комнат.
						tr
							td Отсутствие работающего гардероба в холодное время года.
						tr
							td Отсутствие в регистратуре информации о рабочем месте и графике приема Представителя страховой медицинской организации.
							td(rowspan="2") Вы можете обратиться в консультативно-диспетчерский центр Вашей страховой медицинской компании по телефону «горячей линии».
						tr
							td Сомнения в качестве оказываемых Вам или Вашим близким медицинских услуг (при наличии объективных оснований для таких сомнений по Вашему заявлению в страховую медицинскую организацию может быть
								| назначена экспертиза качества медицинской помощи).
				+table({
					caption: 'В стационаре',
					mods: 'equal',
				})
					thead
						tr
							th(scope="col") Ситуации
							th(scope="col") Ваши действия
					tbody
						tr
							td Отсутствие в отделениях доступного для изучения пациентами Перечня лекарственных средств, изделий медицинского назначения, применяемых при реализации областной программы ОМС (приказы МЗ РО и РОФОМС от 17.12.2004 №466/15-212 и от 31.01.2006 № 102/15-12).
							td(rowspan="7" scope="rowgroup") Во всех этих ситуациях Вы можете обратиться к Представителю страховой медицинской компании, ведущему прием граждан непосредственно в лечебном учреждении*.
						tr
							td Указание лечащего врача о необходимости приобретения Вами за собственные средства лекарственных препаратов, включенных в Перечень лекарственных средств, изделий медицинского назначения, применяемых при реализации областной программы ОМС (которые должны предоставляться Вам в стационаре бесплатно) или уже состоявшееся приобретение Вами
								| за свой счет препаратов, включенных в вышеупомянутый Перечень.
						tr
							td Требование медицинскими работниками оплаты медицинских услуг за счет Ваших личных средств (в т.ч. услуг по уходу за больными), включенных в территориальную программу государственных гарантий оказания гражданам РФ бесплатной медицинской помощи в Ростовской области.
						tr
							td Отсутствие в отделениях суточного меню или несоответствие объявленного меню фактическому, плохое качество пищи.
						tr
							td Отсутствие доступной для пациентов информации о работе вспомогательных подразделений (лаборатория, УЗИ - кабинет, физиокабинет, ЭКГ - кабинет и др.).
						tr
							td Нетактичное, грубое поведение медицинского персонала.
						tr
							td Неудовлетворительное санитарно-техническое состояние мест общего пользования и палат (в т.ч. чистота постельных принадлежностей).
						tr
							td Отсутствие в отделениях информации о рабочем месте представителя страховой медицинской организации.
							td(rowspan="2") Вы можете обратиться в консультативно-диспетчерский центр Вашей страховой медицинской компании по телефону «горячей линии».
						tr
							td Сомнения в качестве оказываемых Вам или Вашим близким медицинских услуг (при наличии объективных оснований для таких сомнений по Вашему заявлению в страховую медицинскую организацию может быть назначена экспертиза качества медицинской помощи).
				p 
					i *Представитель страховой медицинской компании обязан зафиксировать обращение к нему каждого пациента и принять по нему меры. В случае не устранения администрацией ЛПУ выявленных недостатков, Представителем направляется служебная записка директору страховой медицинской организации для дальнейшего принятия мер.
				p 
					i **Вы имеете право обратиться к представителю страховой медицинской компании, ведущему прием в данном лечебном учреждении, даже если имеете полис обязательного медицинского страхования другой страховой медицинской компании. Представитель СМО в любом случае обязан оказать Вам помощь, либо при невозможности решить Ваш вопрос на месте должен передать информацию о нем для решения в страховую медицинскую компанию, выдавшую Вам полис.

block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
