extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Перечень страховых компаний";
	- var description = 'Страховые компании ростовской области';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Перечень страховых компаний'}]
	- var keywords = 'Перечень страховых компаний';

block content
	+breadcrumbs()
	+article({
		title: 'Страховые компании ростовской области',
	})
		.article__text
			+table({
				caption: 'Телефонные номера страховых медицинских организаций',
				mods: 'equal-1-2-1'
			})
				thead
					tr
						th(scope="col") СМО
						th(scope="col") Название
						th(scope="col") Телефон 
				tbody
					tr
						td(scope="row")
							img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1565335208/smo/smo_maks.png" alt="МАКС-М")
						td
							a.link.link--underline(href="http://www.makc.ru/" target="_blank" rel="noopener noreferrer") Ростовский филиал ЗАО "МАКС-М"Ростовский филиал ЗАО «МАКС-М»
						td
							a.link.link--underline(href="tel:+88005550003")
								b 8-800-555-00-03
					tr
						td(scope="row")
							img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1565333935/smo/logo-alfa_strah.png" alt="АльфаСтрахование")
						td
							a.link.link--underline(href="https://alfastrahoms.ru/" target="_blank" rel="noopener noreferrer")  ООО «АльфаСтрахование - ОМС»филиал «АсСтра»
						td
							a.link.link--underline(href="tel:+88005551001")
								b 8 800 555 10 01
					tr
						td(scope="row")
							img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1565334971/smo/panaceya2.png" alt="Панацея")
						td
							a.link.link--underline(href="http://www.mco-panacea.ru/" target="_blank" rel="noopener noreferrer") ООО МСО «Панацея»
						td
							a.link.link--underline(href="tel:+88002000868")
								b 8-800-200-08-68
					tr
						td(scope="row")
							img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1565335207/smo/smo_sogaz-med2.png" alt="Страховая компания «СОГАЗ-Мед")
						td
							a.link.link--underline(href="http://www.sogaz-med.ru/" target="_blank" rel="noopener noreferrer")  Ростовский филиал ОАО «Страховая компания «СОГАЗ-Мед»
						td
							a.link.link--underline(href="tel:+88001001070")
								b 8-800-100-10-70
					tr
						td(scope="row")
							img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1565333936/smo/capital.png" alt="ООО «Капитал МС»")
						td
							a.link.link--underline(href="https://kapmed.ru/" target="_blank" rel="noopener noreferrer") Филиал ООО «Капитал МС»
						td
							a.link.link--underline(href="tel:+88001008102")
								b 8 800 100-81-02

block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
