extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Терапевтическое отделение №2 х.Рябичи";
	- var description = 'Терапевтическое отделение №2 х.Рябичи';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Терапевтическое отделение №2 х.Рябичи'}]
	- var keywords = 'Терапевтическое отделение №2 х.Рябичи';

block content
	+breadcrumbs()
	+article({
		title: 'Терапевтическое отделение №2 х.Рябичи',
	})
		.article__text
			.container
				.article__strong
					address
						span Адрес: Волгодонской район, х. Рябичев, ул.Юбилейная 52
					p
						span Контактный телефон: 
						a.link.link--underline(href="tel:88639474709 ") 8 (86394) 7-47-09 
				p Мощность отделения 40 коек в том числе 15 коек дневного пребывания
				p Время плановой госпитализации больных: понедельник-пятница с 10:00 до 11:00.
				p В терапевтическом отделении оказывают экстренную и плановую помощь пациентам.
				+table({
					caption: 'Распорядок дня в отделениях',
					mods: 'equal'
				})
					thead
						tr
							th Часы
							th Действие
					tr
						td 06.00-6.30
						td Подъем, измерение температуры
					tr
						td 06.30-8.00
						td Инъекции, процедуры
					tr
						td 08.30-09.30
						td Завтрак
					tr
						td 09.30-10.00
						td Обход
					tr
						td 10.00-13.00
						td Выписка пациентов
					tr
						td 13.00-14.00
						td Обед
					tr
						td 14.00-16.00
						td Тихий час
					tr
						td 16.00-19.00
						td Посещения больных
					tr
						td 17.00-18.00
						td Ужин
					tr
						td 18.00-20.00
						td Инъекции, процедуры
					tr
						td 20.00-21.00
						td Вечерний туалет
					tr
						td 21.00-22.00
						td Подготовка ко сну
					tr
						td 22.00
						td Отбой
				p Услуги предоставляются:
				ul.article__list
					li
						p по полисам обязательного медицинского страхования
					li
						p по полисам добровольного медицинского страхования
				p Перед специалистами отделения стоит задача оказания специализированной медицинской помощи населению Волгодонского района.
				p В терапевтическом отделении проводят лечение пациентов со следующими заболеваниями:
				ul.article__list
					li
						p заболевания сердечно-сосудистой системы
					li
						p заболевания бронхо-легочной системы
					li
						p заболевания желудочно-кишечного тракта
					li
						p заболевания опорно-двигательного аппарата
					li
						p эндокринная патология
					li
						p заболевания системы крови и кроветворения
				p
					| Специалисты отделения постоянно повышают свой профессиональный уровень, работают в тесном
					| контакте с областными специалистами (в сложных диагностических случаях осуществляются
					| консультации специалистов в отделении), посещают конференции, циклы усовершенствования
					| врачей.
				p
					| В 2011 – 2012 гг терапевтическим отделением № 2 получено оборудование в рамках реализации
					| Программы «Модернизация здравоохранения Волгодонского района на 2011 – 2012 годы»:
				ol.article__list
					li
						p Электрокардиограф одноканальный ЭКЗТ-01-"Р-Д" (декабрь 2011 г)
					li
						p  Дефибриллятор переносной с сетевым и батарейным питанием PRIMEDIC Defi-B (январь 2012г).
					li
						p Инфузионный шприцевой насос с сетевым и аккумуляторным питанием Litus P-1800 (2 штуки) (ноябрь 2011 г).
					li
						p Аппарат медицинский для подогрева крови, кровезаменителей и растворов при инфузионной терапии Barkey S-line (декабрь 2011 г).
					li
						p Облучатель-рециркулятор бактерицидный настенный двухламповый ОБРН-2*15 (декабрь 2011г).
				
				+expert()
					+expert__item({
						src: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566480319/terapevt/sadovnichaja.jpg',
						name: 'Караваев Валерий Семенович',
						job: 'Заведующий отделением Врач терапевт',
						edu: 'Кемеровская государственная медицинская академия 2001 г.',
						up: 'Терапия, в 2015 году',
						cert: '2015 г. Терапия',
						category: 'Первая, 2018 г.'
					})
					+expert__item({
						src: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566480318/terapevt/abramchug.jpg',
						name: 'Абрамчук Ольга Геннадьевна',
						job: 'Старшая медсестра высшей категории',
					})
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
