extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Терапевтическое отделение";
	- var description = 'Терапевтическое отделение';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Терапевтическое отделение'}]
	- var keywords = 'Терапевтическое отделение';

block content
	+breadcrumbs()
	+article({
		title: 'Терапевтическое отделение',
	})
		.article__text
			.container
				.article__strong
					address
						span Адрес: Волгодонской район, ст. Романовская, пер.Союзный 97а
					p
						span Контактный телефон: 
						a.link.link--underline(href="tel:88639470477 ") 8 (86394) 7-04-77 
				p 
					b Мощность отделения 35 коек в том числе 15 коек дневного пребывания
				p В терапевтическом отделении оказывают экстренную и плановую помощь пациентам.
				+table({
					caption: 'Распорядок дня в отделениях',
					mods: 'equal'
				})
					thead
						tr
							th Часы
							th Действие
					tr
						td 06.00-6.30
						td Подъем, измерение температуры
					tr
						td 06.30-8.00
						td Инъекции, процедуры
					tr
						td 08.30-09.30
						td Завтрак
					tr
						td 09.30-10.00
						td Обход
					tr
						td 10.00-13.00
						td Выписка пациентов
					tr
						td 13.00-14.00
						td Обед
					tr
						td 14.00-16.00
						td Тихий час
					tr
						td 16.00-19.00
						td Посещения больных
					tr
						td 17.00-18.00
						td Ужин
					tr
						td 18.00-20.00
						td Инъекции, процедуры
					tr
						td 20.00-21.00
						td Вечерний туалет
					tr
						td 21.00-22.00
						td Подготовка ко сну
					tr
						td 22.00
						td Отбой
				p
					b  Услуги предоставляются:
				ul.article__list
					li
						p по полисам обязательного медицинского страхования
					li
						p по полисам добровольного медицинского страхования
				p Перед специалистами отделения стоит задача оказания специализированной медицинской помощи населению Волгодонского района.
				p
					| С этой целью в повседневной работе отделения широко используются диагностические
					| возможности рентгенологического кабинета, оборудованного современным рентгеновским
					| диагностическим комплексом КРД-СМ 50/125-1 «Спектран», клинико-диагностической лаборатории,
					| осуществляются плановые и срочные консультации врачей других специальностей. При
					| необходимости, больные направляются на магнитно-резонансную томографию (МРТ), что позволяет
					| повысить уровень диагностики и выбрать правильную тактику лечения пациентов.
				p
					| В лечебном процессе широко используются возможности физиотерапевтического кабинета,
					| расположенного в рядом стоящем корпусе поликлиники. Здесь пациентам доступны высоко
					| эффективные физиотерапевтические процедуры:
				ul.article__list
					li
						p УВЧ терапия
					li
						p УЗ терапия
					li
						p дарсонвализация
					li
						p диадинамотерапия
					li
						p гальванизация и электрофорез
					li
						p низкочастотная магнитотерапия
				p
					b В терапевтическом отделении проводят лечение при следующих заболеваниях:
				ul.article__list
					li
						p заболевания сердечно-сосудистой системы (ишемическая болезнь сердца в стадии декомпенсации )
					li
						p гипертоническая болезнь (отсутствие эффекта при амбулаторном лечении) 
					li
						p заболевания желудочно-кишечного тракта (язвенная болезнь и др.)
					li
						p осложненные формы сахарного диабета (диабетическая полинейропатия)
					li
						p заболевания легких (хронический бронхит в стадии обострения, пневмония, хроническая обструктивная легочная болезнь)
				p
					| Специалисты отделения постоянно повышают свой профессиональный уровень, работают в тесном
					| контакте с областными специалистами (в сложных диагностических случаях осуществляются
					| консультации специалистов в отделении), посещают конференции, циклы усовершенствования
					| врачей.
				p Время плановой госпитализации больных: понедельник-пятница с 9:00 до 10:00.
				p
					b В 2011 – 2012 гг терапевтическим отделением № 1 получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района на 2011 – 2012 годы»:
				ol.article__list
					li
						p Электрокардиограф одноканальный ЭКЗТ-01-"Р-Д" (декабрь 2011 г)
					li
						p Инфузионный шприцевой насос с сетевым и аккумуляторным питанием Litus P-1800 (2 штуки) (ноябрь 2011 г)
					li
						p Аппарат медицинский для подогрева крови, кровезаменителей и растворов при инфузионной терапии Barkey S-line (декабрь 2011 г)
					li
						p Облучатель-рециркулятор бактерицидный настенный двухламповый ОБРН-2*15(декабрь 2011 г)
				+expert()
					+expert__item({
						src: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566480319/terapevt/sadovnichaja.jpg',
						name: 'Садовничая Ольга Олеговна',
						job: 'Заведующая отделением Врач терапевт',
						edu: 'Кемеровская государственная медицинская академия 2001 г.',
						up: 'Терапия, в 2015 году',
						cert: '2015 г. Терапия',
						category: 'Первая, 2018 г.'
					})
					+expert__item({
						src: 'https://res.cloudinary.com/dhccuflos/image/upload/v1566480318/terapevt/abramchug.jpg',
						name: 'Абрамчук Ольга Геннадьевна',
						job: 'Старшая медсестра высшей категории',
					})
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
