extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Вакансии";
	- var description = 'Вакансии';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Вакансии'}]
	- var keywords = 'Вакансии';

block content
	+breadcrumbs()
	+article({
		title: 'Вакансии',
	})
		.article__text
			.container
				h2 Вакансии по специальностям врачей на 2019 год
				ul.article__list
					li
						p Педиатр участковый - 2 ставки
					li
						p Эндокринолог - 1 ставка
					li
						p Онколог - 1 ставка
					li
						p Эндоскопист - 1 ставка
					li
						p Оториноларинголог - 1 ставка (на время декретного отпуска)
					li
						p Терапевт участковый – 2 ставки (на время декретного отпуска)
					li
						p Невролог – 2 ставки
				h2 Вакансии по специальностям средних медицинских работников на 2019 год:
				ul.article__list
					li
						p Медицинский статистик - 1 ставка
					li
						p Медицинская сестра ФАП х.Пирожок - 0,5 ставки
					li
						p Медицинская сестра ФАП х.Мичуринский - 0,5 ставки
					li
						p Медицинская сестра ФАП п.Виноградный -  0,5 ставки
					li
						p Лаборант - 2 ставки
					li
						p Медицинская сестра (в детский сад) - 1 ставка
					li
						p Фельдшер, заведующий ФАП х.Мокросоленый- 1 ставка
					li
						p Медицинская сестра по физиотерапии - 1 ставка
					li
						p Фельдшер, заведующий ФАП х.Потапов - 1 ставка
					li
						p Фельдшер, заведующий ФАП х.Степной - 1 ставка (на время декретного отпуска)
				h2 Вакансии по младшему медицинскому персоналу на 2019 год:
				ul.article__list
					li
						p Отсутствуют
				h2 Вакансии по прочим специальностям на 2019 год:
				ul.article__list
					li
						p Механик - 1 ставка
				.article__strong
					p
						| По всем вопросам трудоустройства обращаться в приемную главного врача по телефону 
						a.link.link--underline(href="tel:88639470614") 8(86394) 7-06-14 
						| либо в отдел кадров по телефону 
						a.link.link--underline(href="tel:88639470741") 8(86394)7-07-41
	
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
