extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Правила записи на прием";
	- var description = 'Правила записи на прием';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Правила записи на прием'}]
	- var keywords = 'Правила записи на прием';

block content
	+breadcrumbs()
	+article({
		title: 'Электронная запись граждан на прием к врачам поликлиники МБУЗ «ЦРБ» Волгодонского района',
	})
		.article__text
			.container
				p
					| С 
					i 01 июня 2015 года 
					| в рамках программы модернизации в МБУЗ «ЦРБ» Волгодонского
					| 								района проводится внедрение системы 
					b "Электронная регистратура" 
					| для записи пациентов
					| 								по интернету на прием к врачу. Записаться на 
					b первичный 
					| прием к терапевту, педиатру,
					| 								гинекологу и узким врачам-специалистам Вы можете:
				ul.article__list
					li
						p
							| Через ссылку на нашем web-сайте 
							a.link.link--underline(href="/") црб-волгодонская.рф 
					li
						p
							| Через сайт 
							a.link.link--underline(href="http://www.записьнаприем.рф" target="_blank" rel="noopener noreferrer") www.записьнаприем.рф
					li
						p
							| Через портал 
							a.link.link--underline(href="https://www.gosuslugi.ru/10066/1") ГосУслуг
					li
						p
							| Через 
							b Инфо-киоск(терминал) 
							| расположенный на первом этаже здания поликлиники.
					li
						p Через регистратуру поликлиники по телефонам:
						ul
							li
								p
									b Детская регистратура ст.Романовская: 
									| с 12:00 до 15:00 – тел. 7-01-42
							li
								p
									b Взрослая регистратура ст.Романовская: 
									| с 12:00 до 15:00 – тел. 7-07-22
							li
								p
									b Регистратура х. Рябичев: 
									| с 08:00 до 15:00 – тел. 7-47-80
							li
								p
									| через регистратуру при личном обращении в поликлинику в течение всего рабочего
									| времени (с 07:30 до 15:12)
				h2 ВНИМАНИЕ!
				ul.article__list
					li
						p
							| Запись к участковым врачам возможна только после того, как пациент будет прикреплен к
							| участку. Если Вы не находите в списке врачей своего участкового специалиста к которому
							| прикреплены, то Вам необходимо обратиться в регистратуру поликлиники (можно по указанным
							| выше телефонам с 1200 до 1500) для прикрепления Вашей электронной карты к участковому
							| врачу. Только после этого Вам будет доступна запись к данным специалистам.
					li
						p Запись на повторный приём к врачам через Интернет не производится.
					li
						p Вызов врача на дом через Интернет не производится.
					li
						p
							| Пациенты имеют преимущественное право на посещение врача поликлиники во время,
							| назначенное по предварительной записи.
					li
						p
							| Для тех кто записывается впервые через интернет-сервис, необходимо за 40 мин до
							| указанного на талоне времени обратиться в регистратуру поликлиники для оформления
							| электронной медицинской карты и внесения актуальных данных о пациенте в систему
							| "Электронная регистратура" с полисом и документом, удостоверяющим личность (свидетельство
							| о рождении или паспорт гражданина РФ). 
							b Данная процедура проводится однократно!
					li
						p
							| Если пациент записавшийся впервые не подошел в регистратуру за 15 мин до назначенного
							| времени - запись аннулируется!
					li
						p
							| Граждане, которые не могут явиться в назначенное время к врачу, должны отменить свою
							| запись в личном кабинете (на сайте 
							a.link.link--underline(href="http://www.записьнаприем.рф" target="_blank" rel="noopener noreferrer") www.записьнаприем.рф
							| ) либо предупредить регистратуру об
							| 										отмене записи по телефону или лично!
					li
						p Пациенты с острой болью принимаются вне очереди в кабинете неотложной помощи.
					li
						p
							| В связи с отпусками, болезнью и прочими изменениями в расписании приема врачей и
							| специалистов просим предварительно получать информацию по телефонам: 7-07-22 , 7-01-42, с
							| 8.00 до 15.00.
				h2 Правила записи к врачу через систему "Электронная регистратура"
				p
					| Воспользоваться сервисом можно, если информация о Вас внесена в базу данных. Уточнить это
					| можно при личном посещении больницы или позвонив в регистратуру.Чтобы записаться к врачу,
					| выберите раздел «Записаться к врачу на бесплатный прием»:
				figure.article__figure
					img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1565160694/writeRules/priem.jpg" alt="Записаться на прием")
					figcaption Записаться на прием
				p Графики работы врачей больниц указаны в разделе «Расписание врачей»:
				figure.article__figure
					img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1565160694/writeRules/raspisanie_vrachej.jpg" alt="Панель расписание врачей")
					figcaption Панель расписание врачей
				p
					| Отменить сделанную запись или распечатать талон с информацией о приёме можно в разделе
					| «Личный кабинет»:
				figure.article__figure
					img(src="https://res.cloudinary.com/dhccuflos/image/upload/v1565160694/writeRules/lichnyj_kabinet.jpg" alt="Панель личный кабинет")
					figcaption Панель личный кабинет
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
