extends ../views/layouts/inner
block vars
	- var bodyClass = "inner"
	- var title = "Здоровый образ жизни";
	- var description = 'Информационный материал по теме: "Здоровый образ жизни"';
	- var breadcrumbs = [{title: 'Пациентам',link: 'article.html'},{title: 'Здоровый образ жизни'}]
	- var keywords = 'Здоровый образ жизни';

block content
	+breadcrumbs()
	+article({
		title: 'Информационный материал по теме: "Здоровый образ жизни"',
	})
		+toc([
			{title: 'Как вы думаете: что играет самую важную роль в состоянии нашего здоровья?', anchor: '#strong'},
			{title: 'Принцип номер 1: Правильное питание', anchor: '#tenet1', childs: [
				{title: 'Цирроз печени без алкоголя', anchor: '#cirroz'},
				{title: 'Меньше есть или больше двигаться?', anchor: '#move'}
			]},
			{title: 'Принцип номер 2: Разумные физнагрузки', anchor: '#tenet2', childs: [
				{title: 'Чем старше, тем активнее', anchor: '#older'}
			]},
			{title: 'Принцип номер 3: Позитивный настрой', anchor: '#tenet3'},
		])
		.article__text
			p
				b Здоровый образ жизни (ЗОЖ) это образ жизни, основан­ный на принципах нравственности, рационально организованный, активный, трудовой, закаливающий и, в то же время, защищаю­щий от неблагоприятных воздействий окружающей среды, позво­ляющий до глубокой старости сохранять нравственное, психиче­ское и физическое здоровье.
			.article__strong
				p Три главных принципа здоровой жизни
				p ГЕНЕТИКА, МЕДИЦИНА, ЭКОЛОГИЯ… ОБРАЗ ЖИЗНИ!
			h2#strong Как вы думаете: что играет самую важную роль в состоянии нашего здоровья?
			p
				| В 1994 году межведомственная комиссия
				| Совета безопасности России по охране здоровья населения, основываясь на международных
				| научно-медицинских
				| данных, составила рейтинг факторов, от которых зависит самочувствие, заболеваемость либо
				| устойчивость к
				| болезнями, а в конечном счете — продолжительность жизни человека. Основной вклад вносят:
			ul.article__list
				li генетические факторы — #[i 15 — 20%];
				li состояние окружающей среды — #[i 20 — 25%];
				li медицинское обеспечение — #[i 10 — 15%];
				li условия и образ жизни людей — #[i 50 — 55%].
			p
				| Словом, врачи, ученые и аналитики подтвердили: в первую очередь наше здоровье — в наших
				| собственных руках и
				| больше чем наполовину зависит от того, насколько сознательно и ответственно мы ведем себя в
				| повседневной жизни.
			h2#tenet1 Принцип номер 1: Правильное питание
			.article__strong
				p
					blockquote
						| Главное правило здорового образа жизни — это правильное питание, -
						i  поясняет Главный внештатный
							| специалист-терапевт Минздрава России, директор Национального медицинского
							| исследовательского центра
							| профилактической медицины Оксана Драпкина.
			p
				| Увы, сегодня как в России, так и в мире появляется все больше
				| людей с ожирением. Причем, по данным выборки с 1993 по 2013 годы мужчин с ожирением в нашей
				| стране стало втрое
				| больше. А вот число женщин, страдающих ожирением, увеличилось незначительно.
			p
				| Важно понимать, что лишний вес это не только эстетическая проблема, подчеркивают врачи.
				| Ожирение ведет к
				| артериальной гипертензии, способствует развитию ишемической болезни сердца и повышает риск
				| инфаркта миокарда.
				| Только представьте себе: каждые лишние 4 килограмма приводят к повышению систолического
				| (верхнего) давления на
				| #[i 4,5 мм мм рт ст!]
			.article__strong
				p
					blockquote
						| Также при ожирении страдают суставы: им и позвоночнику тяжело «носить» лишние
						| килограммы. И еще одно опаснейшее следствие избыточного веса заключается в том, что человек с ожирением – это плацдарм для
						| системного воспаления организма,
						i  предупреждает Оксана Драпкина.
			p
				| Потому что в жировой ткани находятся вещества-цитокины, поддерживающие воспаление в организме.
				| А хроническое системное воспаление, в свою очередь, это путь к онкологическим заболеваниям.
			h3#cirroz Цирроз печени без алкоголя
			p
				| У тучных людей нередко развивается неалкогольная жировая болезнь печени, когда жир
				| откладывается в этом органе
				| несмотря на то, что человек не злоупотребляет алкоголем. Это «молчаливое» заболевание,
				| которое практически себя
				| не проявляет, но в какой-то момент может очень быстро прогрессировать в цирроз печени,
				| поясняет эксперт.
			h3#move Меньше есть или больше двигаться?
			p
				b Как же избавляться от опасного лишнего веса? 
			.article__strong
				p
					blockquote
						| «Ожирение – это дисбаланс между
						| энергией, которую мы потребляем, и
						| энергией, которую мы расходуем. Важно понять, что в наборе веса бОльшую роль играет именно
						| то, чем питаемся.
						| Физическая активность, как ни странно, влияет на положение стрелки весов в меньшей степени»,
						i  говорит Оксана Драпкина.
			p
				| По мнению эксперта, главное, что нужно делать для
				| избавления от лишнего веса - ограничивать
				| потребление углеводов: сладкого и мучного. Именно из-за них люди растут, как на дрожжах.
				| Последнее международное исследование PURE показало, что диета, где 60% потребленной энергии приходится на углеводы, негативно влияет на общую смертность.
			p
				| А вот жир в разумном количестве нужен организму: например, можно абсолютно точно
				| позволить себе немного сливочного масла на хлеб утром, в масле содержится ценный витамин А, поясняет эксперт. Но
				| особенно полезны растительные масла — в первую очередь оливковое и льняное, которые содержат большое
				| количество ненасыщенных жирных кислот.
			h2#tenet2 Принцип номер 2: Разумные физнагрузки
			p
				| Чем старше мы становимся, тем меньше нам требуется энергии, а значит, потребность в еде
				| снижается. Но это вовсе
				| не значит, что двигаться нужно меньше — наоборот, больше, приызвают эксперты. Потому что
				| обмен веществ
				| перестраивается, и с возрастом отдавать энергию становится гораздо сложнее. А
				| неиспользованная энергия из пищи,
				| как известно, переходит в жировые отложения.
			.article__strong
				p
					blockquote
						| - Физическая активность - это не только преграда ожирению, но и
						| кардиотренировки, роль которых возрастает,
						| поскольку с годами в той или иной степени в большинстве случаев у людей возникают проблемы
						| с сердцем и сосудами,
						i  добавляет Оксана Драпкина.
			.article__strong
				p
					blockquote
						| Человеку, у которого уже есть заболевания сердечно-сосудистой системы,
						| категорически нельзя допускать сидячий образ жизни, -
						i  поддерживает коллегу главный врач Московского областного центра медицинской профилактики,
							| главный специалист по медицинской профилактике ЦФО РФ и Министерства здравоохранения
							| Московской области, профессор кафедры медицинской реабилитации и физиотерапии МОНИКИ им. М.Ф. Владимирского Екатерина Иванова.
			p  В то же время очень важно помнить, что в зависимости от патологии — сердечно-сосудистой или другой — есть ограничения по видам и интенсивности физнагрузок.
			ul.article__list
				li
					p
						| Если есть патологическое поражение суставов (оно практически всегда сопутствует
						| ожирению, см. выше), обязательно нужно обращаться к инструкторам или врачам ЛФК, которые подскажут, какие
						| движения полезны, исходя из локализации повреждения суставов.
				li
					p
						| Пациентам с серьезной патологией сердца противопоказаны занятия в воде с полным
						| погружением области сердца, потому что это опасно повышает давление. Таким людям рекомендуются более легкие аэробные
						| нагрузки, например, регулярная ходьба в среднем темпе, велосипедные прогулки по ровной местности.
			h3#older Чем старше, тем активнее
			.article__strong
				p
					blockquote
						| Наше последнее исследование «Эссе-РФ» показало, что люди после 40 лет двигаются больше, чем 25-летние, - 
						i  рассказывает Главный внештатный специалист-терапевт Минздрава России Оксана Драпкина.
			p
				| Эксперты связывают такой  неожиданный, на первый взгляд, факт с тем, что люди более зрелого возраста больше
				| задумываются о своем здоровье, ответственнее относятся к нему. Увы, у молодежи порой все сводится к фотографиям из фитнес-зала, куда
				| молодые люди заглядывают пару раз в месяц с одной из главных целей сделать сэлфи для соцсетей.
			.article__strong
				p
					blockquote
						| «Важно, чтобы выросло поколение, которое будет считать, что быть здоровым — это модно, -
						i  подчеркивает Драпкина.
			p А для этого в первую очередь нужна долгосрочная и масштабная социальная реклама, агитация за разумный и здоровый образ жизни на ТВ, радио, в Интернет-СМИ и в соцсетях.»
			h2#tenet3 Принцип номер 3: Позитивный настрой
			p
				| Да-да, хорошее настроение очень важно для здоровья, это не миф и не преувеличение.
				| Позитивный настрой может через ряд определенных биохимических реакций инициировать выработку агентов иммунитета, говорят врачи. 
			.article__strong
				p
					blockquote
						| «Лично я советую каждое утром, просыпаясь, благодарить за еще один подаренный день жизни.
						| И неважно, какой он будет,солнечный, дождливый, снежный, - это еще один день Вашей жизни.
						| Помните, мысли материальны, и очень важно буквально заставлять себя быть позитивным и энергичным», -
						i  призывает Оксана Драпкина.
block scripts
	link(rel="stylesheet" href="./styles/main.css")
	script(async src="./js/inner.js")
