mixin field-select(title, attrs, options, helpText, mods)
	-
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' field-select--' + modsList[i].trim();
			}
		}
	
	.field-select(class=allMods)&attributes(attributes)
		if(typeof(title) !== 'undefined' && title)
			label.field-select__name(for=attrs.id)!= title
		.field-select__select-wrap
			select.field-select__select&attributes(attrs)
				each option in options
					if(typeof(option.child) !== 'undefined' && option.child)
						optgroup(label=option.attrs.label)
							each subOption in option.child
								option&attributes(subOption.attrs)= subOption.title
					else if(typeof(option.title) !== 'undefined' && option.title)
						option&attributes(option.attrs)= option.title
			if(typeof(helpText) !== 'undefined' && helpText)
				span.field-select__help-text!= helpText
