.field-select {
	display: block;
	margin-bottom: 1em;

	&__name {
		display: block;
		margin-bottom: 8px;
		font-size: 20px;
		color: #535969;
	}

	.choices {
		position: relative;

		.text-count {
			margin-left: 8px;
		}

		&__input {
			padding: 8px;
			width: 100%;
		}

		.is-hidden { display: none; }

		&__inner {
			border: 2px solid var(--color-border);
			border-radius: var(--border-radius);
			padding: 8px;
			font-size: 0.9em;
			line-height: 1.5;
			background: #fff;
			cursor: pointer;

			.choices__item--selectable {
				overflow: hidden;
				max-width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		&__list--single {
			padding: 8px 16px 8px 8px;
		}

		&__list--dropdown {
			position: absolute;
			top: 100%;
			z-index: 1;
			display: none;
			overflow: hidden;
			margin-top: -1px;
			border: 1px solid #b2b2b2;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			width: 100%;
			word-break: break-all;
			background-color: #fff;

			.choices__item {
				padding: 16px 24px;
				font-size: 13px;
				cursor: pointer;

				&.is-highlighted { background: var(--color-main); }
			}
		}

		&__heading {
			padding: 8px 16px;
			font-weight: 700;
			font-size: 16px;
			opacity: 0.5;
			cursor: default;
		}

		&:focus {
			&:not(.is-disabled) {
				.choices__inner { outline: 0; }
			}
		}

		&.is-open {
			.choices__inner {
				border-radius: 0;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}
			.choices__list--dropdown { display: block; }
		}

		&.is-disabled {
			.choices__inner {
				background-color: #ccc;
				cursor: default;
			}
		}
	}
}
