mixin card(props)
	-
		// список модификаторов
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' card--' + modsList[i].trim();
			}
		}
	article.card(class= allMods)
		.card__inner
			.card__img
				img(src="https://picsum.photos/400/364?random=4" alt="r")
			.card__info
				.card__title
					h3= props.title
				.card__addition
					.card__addition-info
						span.card__date
							+icon('publish', 'card__icon')
							span= props.date
						span.card__read-time
							+icon('read_time', 'card__icon')
							span.card__time 3 мин
					p.card__text= props.text
			.card__btn
				+btn({
					tag: 'a',
					href: '#',
					text: 'Перейти к статье',
					mods: 'pill'
				})(rel="noopener noreferrer" target="blanc")
