.card {
	position: relative;
	display: flex;
	padding: 40px 24px;
	color: var(--color-text);

	&__inner {
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		> * {
			&:not(:last-child) {
				margin-bottom: 32px;

				@media screen and (min-width: $break_lg) {
					margin-right: 32px;
					margin-bottom: 0;
				}
			}
		}

		@media screen and (min-width: $break_lg) {
			flex-direction: row;
		}

		@media screen and (min-width: $break_xl) {
			margin: auto;
			transform: translateX(24px);
		}
	}

	&__img {
		flex-shrink: 0;
		margin: 0 auto;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));

		img {
			width: 100%;
			max-height: 320px;
			object-fit: cover;


			@media screen and (min-width: $break_lg) {
				width: auto;
				max-height: 100%;
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		h2 {
			margin-top: 0;
			font-size: 24px;

			@media screen and (min-width: $break_lg) {
				font-size: var(--font-size-h2);
			}
		}
	}

	&__date {
		font-size: 14px;
		color: var(--color-text-helper);
	}

	&__addition {
		display: flex;
		flex-direction: column;

		> * {
			&:not(:last-child) { margin-bottom: 32px; }
		}

		@media screen and (min-width: $break_lg) {
			max-width: 60%;
		}

		@media screen and (min-width: $break_xl) {
			max-width: 100%;
		}
	}

	@media screen and (min-width: $break_xl) {
		padding: 0;
		min-height: 464px;
		background-color: var(--color-bg-secondary);
	}
}
