.card {
	display: flex;

	&__inner {
		display: flex;
		align-items: center;
		flex-direction: column;

		> * {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}

	&__img {
		flex-shrink: 0;
		overflow: hidden;
		margin: 0 auto;
		border-radius: var(--border-radius);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));

		img {
			width: 100%;
			max-height: 320px;
			object-fit: cover;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 16px;
		min-height: 304px;

		@media screen and (min-width: $break_xl) {
			padding: 0;
		}
	}

	&__title {
		h2 {
			margin-top: 0;
			font-size: 20px;
		}
	}

	&__date,
	&__time {
		font-size: 14px;
		color: var(--color-text-helper);
	}

	&__addition {
		display: flex;
		flex-direction: column;

		> * {
			&:not(:last-child) { margin-bottom: 24px; }
		}
	}

	&__addition-info {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) { margin-right: 32px; }
		}
	}

	&__read-time,
	&__date {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__icon {
		width: 24px;
		height: 24px;
	}

	.btn {
		margin-top: auto;
		margin-bottom: 8px;
	}

	&--full {
		.btn {
			@media screen and (min-width: $break_lg) {
				width: 60%;
			}
		}

		.card__inner {
			> * {
				&:not(:last-child) {
					@media screen and (min-width: $break_lg) {
						margin-right: 32px;
						margin-bottom: 0;
					}
				}
			}

			@media screen and (min-width: $break_lg) {
				flex-direction: row;
			}

			@media screen and (min-width: $break_xl) {
				margin: auto;
				transform: translateX(24px);
			}
		}

		.card__img {
			img {
				@media screen and (min-width: $break_lg) {
					width: auto;
					max-height: 100%;
				}
			}
		}

		.card__title {
			h2 {
				@media screen and (min-width: $break_lg) {
					font-size: var(--font-size-h2);
				}
			}
		}

		.card__addition {
			@media screen and (min-width: $break_lg) {
				max-width: 60%;
			}

			@media screen and (min-width: $break_xl) {
				max-width: 100%;
			}
		}

		@media screen and (min-width: $break_xl) {
			padding: 0;
			min-height: 464px;
			background-color: var(--color-bg-secondary);
		}
	}
}
