.write-us {
	.btn {
		@media screen and (min-width: $break_lg) {
			flex-direction: column-reverse;
			border-radius: 0;
			padding: 32px 8px 24px 8px;
			height: auto;
			box-shadow: 0 0 3px rgba(71, 86, 85, 0.5);
			color: var(--color-icon);
			background-color: var(--color-light);

			&:hover,
			&:focus {
				color: var(--color-main);
				transition: color cubic-bezier(0.02, 0.01, 0.47, 1) 0.1s;

				.write-us__icon {
					fill: var(--color-main);
					transition: fill cubic-bezier(0.02, 0.01, 0.47, 1) 0.1s;
				}
			}
		}
	}

	&__icon {
		width: 32px;
		height: 32px;
		fill: var(--color-icon);
	}

	.btn__text {
		display: none;

		@media screen and (min-width: $break_lg) {
			display: block;
			margin-bottom: 16px;
			width: 48px;
			font-size: 22px;
			line-height: 48px;
			writing-mode: vertical-rl;
			transform: rotate(180deg);
		}
	}
}
