.write-us {
	.btn {
		@media screen and (min-width: $break_lg) {
			flex-direction: column-reverse;
			border-radius: 0;
			padding: 24px 8px 16px 8px;
			height: auto;
			background: var(--gradient-secondary);

			&:hover,
			&:focus {
				background: var(--gradient-hover);
				transition: background linear 0.3s;
			}
		}
	}

	.btn__text {
		display: none;

		@media screen and (min-width: $break_lg) {
			display: block;
			margin-bottom: 16px;
			width: 48px;
			font-size: 22px;
			line-height: 42px;
			writing-mode: vertical-rl;
			transform: rotate(180deg);
		}
	}

	&__icon {
		width: 32px;
		height: 32px;
	}
}
