mixin write-us()
	.write-us
		+btn({
			tag: 'button',
			icon: 'pen',
			iconClass: 'write-us__icon',
			text: 'Написать нам',
			mods: 'write-us,bg-tr,with-icon',
		})(data-custom-open="writeUs" aria-haspopup="true" aria-expanded="false")
