mixin blind()
	.blind
		.container
			.blind__inner
				.blind__row
					.blind__list
						span.blind__termin Цвета сайта
						ul.blind__determines.blind__determines--color
							li
								button.blind__btn.blind__color--normal.active
									span Обычный
							li
								button.blind__btn.blind__color--invrerse
									span Инверсия
							li
								button.blind__btn.blind__color--contrast
									span Контраст
							li
								button.blind__btn.blind__color--comfort
									span Комфорт
							li
								button.blind__btn.blind__color--blue
									span Синий
							li
								button.blind__btn.blind__color--brown
									span Коричневый
				.blind__row
					.blind__list
						span.blind__termin Шрифт
						ul.blind__determines.blind__determines--font
							li
								button.blind__btn.blind__font-sansSerif.active
									span Без засечек
							li
								button.blind__btn.blind__font-serif
									span С засечками
					.blind__list
						span.blind__termin Размер шрифта
						ul.blind__determines.blind__determines--fz
							li
								button.blind__btn.blind__font-size.blind__font-size--small
									span A
							li
								button.blind__btn.blind__font-size.blind__font-size--normal.active
									span A
							li
								button.blind__btn.blind__font-size.blind__font-size--big
									span A
				.blind__row
					.blind__list
						span.blind__termin Расстояние между буквами
						ul.blind__determines.blind__determines--ls
							li
								button.blind__btn.blind__int-normal.active(data-class="ls1")
									span Стандартное
							li
								button.blind__btn.blind__int-middle(data-class="ls2")
									span Среднее
							li
								button.blind__btn.blind__int-big(data-class="ls3")
									span Большое
					.blind__list
						span.blind__termin Изображения
						ul.blind__determines.blind__determines--img
							li
								button.blind__btn.blind__img-on.active
									span Включить
							li
								button.blind__btn.blind__img-off
									span Выключить
				button.blind__control.blind__control--close(aria-label="Закрыть панель настройки") &#10004;
				button.blind__control.blind__control--reset(aria-label="Вернуть исходные значения")
					+icon('refresh', 'blind__icon')
