.toc {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 56px;
	padding-left: 16px;
	background-color: var(--color-bg-body);

	&__inner {
		margin: 0 auto;
		max-width: 760px;
	}

	&__title {
		margin-bottom: 24px;
		font-size: rem(24);
	}

	&__list {
		list-style-type: decimal;
		padding-left: 1rem;
		font-weight: bold;

		li {
			margin-bottom: 1em;
		}
	}

	&__list-inner {
		list-style-type: circle;
		margin-top: 1rem;
		padding-left: 2em;
	}

	@media screen and (min-width: $break_md) {
		padding-bottom: 64px;
	}
}
