.article {
	&__title {
		margin: 48px auto;
		font-size: rem(60);
		text-align: center;
	}

	&__text {
		margin: 0 auto 24px;
		max-width: 760px;
	}

	h2,
	h3,
	h4 {
		margin: 40px 0;
	}

	ul {
		padding-left: 2rem;

		li {
			list-style-type: disc;
		}
	}

	p {
		font-size: rem(18);
		line-height: 1.65;
	}
}
