.article {
	&__title {
		margin: 8px auto;
		font-size: rem(24);

		@media screen and (min-width: $break_md) {
			font-size: rem(60);
		}
	}

	&__subtitle {
		font-size: rem(26);

		@media screen and (min-width: $break_xs) { font-size: var(--font-size-h2); }
	}

	&__list {
		list-style-type: disc;
		padding-left: 2rem;

		li {
			ul { margin-top: 1em; }
		}

		&--noPd { padding-left: 0; }
	}

	&__figure { margin: 16px 40px; }

	&__strong {
		position: relative;
		margin-top: 24px;
		margin-bottom: 32px;
		padding-left: 16px;
		font-family: var(--font-family--bold);
		font-weight: bold;
		color: var(--color-main);

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 4px;
			height: 100%;
			background-color: var(--color-main);
		}

		p {
			margin-bottom: 0;
			line-height: 1;
		}

		@media screen and (min-width: $break_md) { padding-left: 32px; }
	}

	&__links {
		> * {
			margin: 8px 0;
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__link-wrap {
		display: flex;
		align-items: center;

		> * {
			&:not(:last-child) { margin-right: 8px; }
		}
	}

	&__link-img {
		width: 24px;
		height: 24px;
		fill: var(--color-link);
	}

	&__video,
	&__img { margin: 32px 0; }

	&__item {
		&:not(:last-child) { margin-bottom: 64px; }
	}

	&__item-img {
		margin: 0 auto;
		max-width: 424px;
	}

	h2,
	h3,
	h4 {
		margin: 40px 0;
	}

	p {
		font-size: rem(18);
		line-height: 1.65;
	}

	.link {
		font-family: var(--font-family--bold);
		line-height: 1.5;
	}
}
