mixin tabs()
	.tabs(data-tab-component="")
		ul.tabs__list(role="tablist")
			li.tabs__item(role="presentation")
				a.link.tabs__link(href="#section-0" role="tab") Ст.Романовская
			li.tabs__item(role="presentation")
				a.link.tabs__link(href="#section-1" role="tab") х.Рябичев
		block
