mixin tabs()
	.tabs(data-tab-component="")
		ul.tabs__list(role="tablist")
			li.tabs__item(role="presentation")
				a.link.tabs__link(href="#section-0" role="tab") Ст.Романовская
			li.tabs__item(role="presentation")
				a.link.tabs__link(href="#section-1" role="tab") х.Рябичев
		section.tabs__panel#section-0(role="tabpanel")
			h2 Planning
			p
				| Pixel pushing game-plan, yet core competencies, or table the discussion quick win. Collaboration through advanced technlogy i also believe it's important for every member to be involved and invested in our company and this is one way to do so but low-hanging fruit reach out. Deliverables t-shaped individual.
			p
				| Push back drill down. We need distributors to evangelize the new line to local markets productize or game plan drop-dead date we're ahead of the curve on that one nor win-win 
				a(target="_blank" href="https://alistapart.com/topic/usability") usabiltiy
				| .
			p
				| Future-proof paddle on both sides i'll book a meeting so we can solution this before the sprint is over so sacred cow productize due diligence. We're ahead of the curve on that one closer to the metal show pony, or mobile friendly.
			p
				| Strategic high-level 30,000 ft view upsell shotgun approach closer to the metal, we need distributors to evangelize the new line to local markets, yet collaboration through advanced technlogy. Imagineer strategic high-level 30,000 ft view work flows , or quick win, yet curate, but deploy anti-pattern.
		section.tabs__panel#section-1(role="tabpanel")
			h2 Feedback
			p
				| Can you use a high definition screenshot can you make the blue bluer? and I got your invoice...it seems really high, why did you charge so much, for we are your relatives. There are more projects lined up charge extra the next time will royalties in the company do instead of cash.
			p
				| Make it look like Apple theres all this spanish text on my site can you make the logo bigger yes bigger bigger still the logo is too big but concept is bang on, but can we look at a better execution, and the website doesn't have the theme i was going for or can you pimp this powerpoint, need more geometry patterns make it sexy.
			p
				| Concept is bang on, but can we look at a better execution im not sure, try something else, for remember, everything is the same or better and can you make it stand out more?, nor low resolution? It looks ok on my screen thats not what i saw in my head at all can you make pink a little more pinkish. I need a website.
			p
				| How much will it cost this looks perfect. Just 
				a(target="_blank" href="http://theoatmeal.com/comics/design_hell") Photoshop out the dog, add a baby, and make the curtains blue
				|  can you make the logo bigger yes bigger bigger still the logo is too big I need a website. How much will it cost, so im not sure, try something else, nor can you make it pop.
