mixin contacts-footer()
	.contacts-footer
		.contacts-footer__inner
			+panel({
				mods: 'pd1',
			})
				.contacts-footer__main
					h2.contacts-footer__title Главный корпус
					.contacts-footer__item
						.contacts-footer__icon
							+icon('location-pin', 'contacts-footer__svg-icon')
						address(tabindex="0") Ростовская область, Волгодонской район, ст. Романовская, пер. Союзный 97а
					.contacts-footer__item
						.contacts-footer__icon
							+icon('mail', 'contacts-footer__svg-icon')
						a.link(href="mailto:") igorpilium@gmail.com
					.contacts-footer__item
						.contacts-footer__icon
							+icon('contact-tel', 'contacts-footer__svg-icon')
						ul.contacts-footer__tels
							li
								span Главный врач: 
								a.link(href="tel:+") +7 (988) 434-80-23
							li
								span Приемная:
								a.link(href="tel:+") +7 (988) 434-80-23
					.contacts-footer__item
						.contacts-footer__icon
							+icon('calendar-contacts', 'contacts-footer__svg-icon')
						+schedule()
			+panel({
				mods: 'pd1,noShad',
			})
				.contacts-footer__fil
					h2.contacts-footer__title Филиал
					.contacts-footer__item
						.contacts-footer__icon
							+icon('location-pin', 'contacts-footer__svg-icon')
						address(tabindex="0") Ростовская область, Волгодонской район, хутор Рябичев, Юбилейная улица, 52
					.contacts-footer__item
						.contacts-footer__icon
							+icon('mail', 'contacts-footer__svg-icon')
						a.link(href="mailto:") igorpilium@gmail.com
					.contacts-footer__item
						.contacts-footer__icon
							+icon('contact-tel', 'contacts-footer__svg-icon')
						ul.contacts-footer__tels
							li
								span Главный врач: 
								a.link(href="tel:+") +7 (988) 434-80-23
							li
								span Приемная:
								a.link(href="tel:+") +7 (988) 434-80-23
					.contacts-footer__item
						.contacts-footer__icon
							+icon('calendar-contacts', 'contacts-footer__svg-icon')
						+schedule()
