.contacts-footer {
	&__inner {
		display: block;
		font-size: rem(14);

		@media screen and (min-width: $break_xs) {
			font-size: rem(16);
		}

		@media screen and (min-width: $break_md) {
			display: flex;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		font-family: var(--font-family--semibold);

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		> * {
			&:not(:last-child) { margin-right: 16px; }
		}
	}

	&__title {
		margin-top: 8px;
		margin-bottom: 24px;
	}

	&__svg-icon {
		width: 48px;
		height: 48px;
		fill: var(--color-icon);

		@media screen and (min-width: $break_xs) {
			width: 56px;
			height: 56px;
		}
	}

	address {
		margin-bottom: 0;
	}

	&__tels {
		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-family: var(--font-family--semibold);

			> * {
				&:not(:last-child) {
					margin-right: 8px;
					margin-bottom: 8px;
				}
			}
		}
	}

	@media screen and (min-width: $break_md) {
		padding: 0;
	}
}
