mixin modal(props)
	.modal.micromodal-slide(aria-hidden="true" id= props.id aria-modal="true" role="dialog")
		.modal__overlay(tabindex="-1" data-micromodal-close)
			.modal__container.simplebar(role="dialog" aria-modal="true" data-simplebar)
				.modal__wrapper(role="document")
					.modal__header
						h2.modal__title= props.title
						button.modal__close(aria-label="Закрыть модальное окно" data-micromodal-close)
					.modal__content
						+form({
							action: '#',
							method: 'POST',
						})
							.form__inner
								+fieldset({
									step: 1,
									legend: 'Введите контактные данные',
								})
									+input-text({
										type: 'text',
										id: 'feedback-fio',
										name: 'feedback-fio',
										ph: 'Введите фамилию и имя',
										text: 'Фамилия и имя:',
										helpId: 'fiohelp',
										helpText: 'текст подсказки',
										validateIcons: true,
										required: true,
									})
									+input-text({
										type: 'email',
										id: 'feedback-mail',
										name: 'feedback-mail',
										ph: 'Введите ваш email',
										text: 'Электронная почта:',
										helpId: 'mailhelp',
										helpText: 'текст подсказки',
										validateIcons: true,
										required: true,
									})(autocapitalize="off" autocomplete="email")
								.dynamic-modal
									.dynamic-modal__testimonial
										+fieldset({
											step: 2,
											legend: 'Напишите ваш отзыв или вопрос',
										})
											+input-text({
												type: 'text',
												id: 'testimonial-theme',
												name: 'testimonial-theme',
												ph: 'Введите тему отзыва или вопроса',
												text: 'Тема вашего отзыва или вопроса:',
												helpId: 'testimonialThemehelp',
												helpText: 'текст подсказки',
												validateIcons: true,
												required: true,
											})
											+input-text({
												type: 'text',
												id: 'testimonial-text',
												name: 'testimonial-text',
												ph: 'Введите текст отзыва или вопроса',
												text: 'Текст вашего отзыва или вопроса:',
												helpId: 'testimonialTexthelp',
												helpText: 'текст подсказки',
												validateIcons: true,
												required: true,
												isTextarea: true,
											})(cols="30" rows="10")
										+fieldset({
											step: 3,
											legend: 'Дополнительно о отзыве',
										})
											.modal__block
												.modal__line
													+field-select(
														'Выберите врача или медсестру',
														{
															name: 'select-doctor',
															id: 'select-doctor'
														},
														[
															{
															attrs: {
																label: 'Врачи',
																placeholder: 'tw',
															},
															child: [
																{
																	title: 'Андара Магане Чамара Чандраратне',
																	attrs: {
																		value: '2',
																	}
																},
																{
																	title: 'Кожемякина Зоя Александровна',
																	attrs: {
																		value: '1',
																	}
																},
																{
																	title: 'Кожемякина Зоя Александровна',
																	attrs: {
																		value: '1',
																	}
																},
															],
															},
															{
															attrs: {
																label: 'Медсестры',
															},
															child: [
																{
																	title: 'Андара Магане Чамара Чандраратне',
																	attrs: {
																		value: '2',
																	}
																},
																{
																	title: 'Кожемякина Зоя Александровна',
																	attrs: {
																		value: '1',
																	}
																},
																{
																	title: 'Кожемякина Зоя Александровна',
																	attrs: {
																		value: '1',
																	}
																},
															],
															},
														],
														'',
														''
														)
												.modal__line
													+input-date()
								if(props.footer)
									.modal__footer
										+polite({
											title: 'Принимаю',
										})
										.modal__footer-line
											.modal__footer-btn
												+btn({
													tag: 'button',
													text: 'Отправить',
													mods: 'modal'
												})(type="submit")
												+btn({
													tag: 'button',
													modalText: 'Отмена',
													mods: 'modal,cancel'
												})(data-micromodal-close)
							.form__success
								.form__success-inner
									h2.form__success-title Ваша заявка отправлена
									+icon('success', 'form__success-icon')
