mixin modal(props)
	.modal.micromodal-slide(aria-hidden="true" id= props.id aria-modal="true" role="dialog")
		.modal__overlay(tabindex="-1" data-micromodal-close)
			.modal__container.simplebar(role="dialog" aria-modal="true" data-simplebar)
				.modal__wrapper(role="document")
					.modal__header
						h2.modal__title= props.title
						button.modal__close(aria-label="Закрыть модальное окно" data-micromodal-close)
					.modal__content
						block
