.breadcrumbs {
	&__list {
		position: relative;
		display: none;
		padding: 16px 0;
		font-size: rem(14);
		white-space: nowrap;

		> * {
			&:not(:last-child) {
				&::after {
					content: "/";
					margin: 0 8px;
				}
			}
		}

		@media screen and (min-width: $break_sm) {
			display: flex;
		}
	}
}
