.breadcrumbs {
	&__list {
		position: relative;
		display: none;
		padding: 16px 0;
		white-space: nowrap;

		> * {
			&:not(:last-child) {
				&::after {
					content: "/";
					margin: 0 8px;
				}
			}

			&:last-child {
				.link {
					color: var(--color-text);
					cursor: default;
				}
			}
		}

		@media screen and (min-width: $break_sm) {
			display: flex;
			overflow-x: scroll;
		}

		@media screen and (min-width: $break_md) {
			overflow-x: auto;
		}
	}
}
