mixin input-text(props)
	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' input-text--' + modsList[i].trim();
			}
		}
	.input-text(class= allMods)
		label.input-text__label(for= props.id)
			span= props.text
			if(props.required)
				strong
					abbr.input-text__required(title="обязательное поле")  *
		.input-text__wrap
			if(props.validateIcons)
				+icon(props.valideIconAccept,'input-text__validation__icon icon-valid')
				+icon(props.valideIconError,'input-text__validation__icon icon-invalid')
			if(typeof(props.isTextarea) !== 'undefined' && props.isTextarea)
				textarea.input-text__input(name= props.name id= props.id aria-required=(props.required) ? true : false aria-describedby= props.helpId placeholder= props.ph required=(props.required ? true : false))&attributes(attributes)
			else
				input.input-text__input(type= props.type name= props.name id= props.id aria-required=(props.required) ? true : false aria-describedby= props.helpId placeholder= props.ph required=(props.required ? true : false))&attributes(attributes)
		small.form-text.text-muted(id= props.helpId)= props.helpText
