mixin file-hint()
	article.file-hint
		h2.file-hint__title Общая информация
		p Раздел "Документы" предоставляет доступ к файлам, относящимся к статье или записи ниже которой он расположен.
		p Каждый файл расположен в отдельном блоке и имеет ряд условных обозначений:
		h3.file-hint__title Условные обозначения (легенда)
		p Каждая карточка файла содержит название файла, а также ряд тегов:
		ul.article__list.article__list--noPd
			li.article__list-item
				+icon('doc', 'file-hint__icon')
				p #[b Иконка формата файла] - обозначает формат файла. На данном сайте используются несколько форматов файлов( текст, таблица, изображение, архив ).
			li.article__list-item
				+icon('downloadAdd', 'file-hint__icon')
				p #[b Иконка скачаивания приложений к файлу] - обозначает ссылку для скачивания архива с приложениями к данному файлу. Кликнув на данную иконку Вам будет предложено выбрать путь для скачивания файла, независимо от того может ли файл открыться в самом браузере.
			li.article__list-item
				+icon('download', 'file-hint__icon')
				p #[b Иконка скачаивания файла] - обозначает ссылку для скачивания файла. Кликнув на данную иконку Вам будет предложено выбрать путь для скачивания файла, независимо от того может ли файл открыться в самом браузере.
			li.article__list-item
				span ( 125кб )
				p #[b Размер файла] - обозначает размер файла.
		h3.file-hint__title Форматы файлов
		ul.article__list
			li
				p #[b DOC, DOCX, RTF] - Текстовые форматы
			li
				p #[b XLS, XLSX] - Формат таблиц
			li
				p #[b PDF] - Смешанный формат
			li
				p #[b JPG] - Формат изображений
			li
				p #[b RAR, ZIP] - Формат архивов
		h3.file-hint__title Дополнительная информация по файлу
		p При клике на иконку дополнительной информации ( #[code i] ) - откроется дополнительная информация по файлу, включающая в себя:
		ul.article__list
			li
				p #[b Тип документа] - тип данного документа
			li
				p #[b Дата] - дата создания или последнего изменнения данного документа
			li
				p #[b Формат] - формат данного документа и его размер
			li
				p #[b Чем открыть] - список популярных программ для работы с данным форматом документа
