mixin fieldset(props)
	if(props.step)
		fieldset.fieldset(data-step-count=props.step)
			if(!props.legendHidden)
				legend.fieldset__legend= props.legend
			block
	else
		fieldset.fieldset.fieldset--no-step
			if (props.legendHidden)
				legend.fieldset__legend.hide-text= props.legend
			else 
				legend.fieldset__legend= props.legend
			block
