.fieldset {
	margin: 0;
	margin-bottom: 8px;
	border: none;
	padding: 0;

	&__wrapper {
		position: relative;

		&::before {
			@media screen and (min-width: $break_md) {
				--size: 40px;

				content: attr(data-step-count);
				position: absolute;
				left: 0;
				top: 0;
				border: 2px solid var(--color-modal);
				border-radius: 50%;
				width: var(--size);
				height: var(--size);
				font-family: var(--font-family--bold);
				font-size: rem(28);
				line-height: 32px;
				text-align: center;
				color: var(--color-modal);
			}
		}

		@media screen and (min-width: $break_md) {
			padding-left: 56px;
		}
	}

	&__legend {
		margin-bottom: 8px;
		padding: 0;
		font-family: var(--font-family--bold);
		font-size: rem(18);
		color: var(--color-modal);

		@media screen and (min-width: $break_xs) {
			font-size: rem(20);
		}

		@media screen and (min-width: $break_md) {
			font-size: rem(24);
		}
	}

	.rating {
		@media screen and (min-width: $break_md) {
			position: absolute;
			right: 16px;
			top: 8px;
			margin-bottom: 0;
		}
	}

	&.valid {
		&::before {
			@media screen and (min-width: $break_md) {
				content: "\2714";
				border-color: var(--color-main);
				color: var(--color-light);
				background-color: var(--color-main);
			}
		}
	}

	&.fieldset--no-step {
		&::before {
			display: none;
		}

		@media screen and (min-width: $break_md) {
			margin-top: -8px;
			margin-bottom: 0;
			padding: 0;
		}
	}
}
