.preloader {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	background-color: var(--color-bg-light);

	&__icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__path {
		fill: var(--color-main);
		stroke: var(--color-bg-icon);

		&--1 { animation: visible 2s ease 0.2s infinite; }
		&--2 { animation: visible 2s ease 0.4s infinite; }
		&--3 { animation: visible 2s ease 0.6s infinite; }
		&--4 { animation: visible 2s ease 0.8s infinite; }
		&--5 { animation: visible 2s ease 1s infinite; }
		&--6 { animation: visible 2s ease 1.2s infinite; }
	}

	&.hide {
		animation: scale-out-ver-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;

		@keyframes scale-out-ver-bottom {
			0% {
				opacity: 1;
				transform: scaleY(1);
				transform-origin: 0% 100%;
			}

			100% {
				opacity: 1;
				transform: scaleY(0);
				transform-origin: 0% 100%;
			}
		}
	}

	&--main {
		position: fixed;
		z-index: 11;
		background-color: #fff;

		.preloader__path {
			fill: #1a7977;
			stroke: #3e9892;
		}
	}
}

@keyframes visible {
	0% {
		opacity: 1;
		stroke-opacity: 1;
	}

	50% {
		opacity: 0;
		stroke-opacity: 0;
	}

	100% {
		opacity: 1;
		stroke-opacity: 1;
	}
}
