mixin preloader()
	.preloader(aria-busy="true" aria-label="Загрузка, пожалуйста подождите" role="progressbar")
		.preloader__status
			.preloader__spinner
				.rect1
				.rect2
				.rect3
				.rect4
				.rect5
