.blind-toggle {
	line-height: 0;

	.btn {
		> * {
			&:not(:last-child) {
				@media screen and (min-width: $break_xl) {
					margin-right: 8px;
				}
			}
		}

		@media screen and (min-width: $break_lg) {
			border-radius: 0;
			padding: 8px;
			width: 64px;
			height: 64px;
			height: auto;
			background: var(--gradient-main);
		}
	}

	&__icon {
		width: 32px;
		height: 32px;
		fill: var(--color-light);

		@media screen and (min-width: $break_md) {
			width: 40px;
			height: 40px;
		}

		@media screen and (min-width: $break_lg) {
			height: 48px;
		}
	}

	&__text {
		display: none;

		@media screen and (min-width: $break_xl) {
			display: inline;
		}
	}
}
