mixin input-date()
	+input-text({
		type: 'text',
		id: 'testimonial-date',
		name: 'testimonial-date',
		ph: 'Введите дату посещения',
		text: 'Введите дату посещения',
		helpId: 'testimonialDatehelp',
		helpText: 'текст подсказки',
		validateIcons: true,
		required: false,
		mods: 'checkable'
	})
