.footer {
	padding: 8px 0;
	color: var(--color-text);

	&__inner {
		display: flex;
		align-items: center;
		flex-direction: column-reverse;

		@media screen and (min-width: $break_lg) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__copyright {
		max-width: 656px;
		font-size: 14px;
	}
}
