.footer {
	padding: 8px 0;
	color: var(--color-text);

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__copyright {
		max-width: 656px;
		font-family: var(--font-family--bold);
	}
}
