.footer {
	padding: 8px 16px;
	background-color: var(--color-bg-main);

	&__inner {
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		color: var(--color-light);

		@media screen and (min-width: $break_lg) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__copyright {
		max-width: 656px;
	}
}
