footer.footer
	+tel-mobile()
	+modal({
		id: 'writeUs',
		title: 'Обратная связь',
		labelledby: 'Модальное окно обратной связи',
		description: 'Модальное окно предназначено для отправки отзыва, получения online-консультации, отправки вопроса главному врачу',
		footer: true
	})
	.container
