footer.footer
	.container
		.footer__inner
			.footer__copyright © 
				span.js-footer__year
				|  Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" волгодонского района ростовской области. Все права защищены
			.footer__social
				+social-icons()
	+tel-mobile()
	+modal({
		id: 'writeUs',
		title: 'Обратная связь',
		labelledby: 'Модальное окно обратной связи',
		description: 'Модальное окно предназначено для отправки отзыва, получения online-консультации, отправки вопроса главному врачу',
		footer: true
	})
	.container
