mixin schedule()
	.schedule
		dl.schedule__list(title="Время работы с понедельника по пятницу" tabindex="0")
			dt.schedule__day Пн-Пт:
			dd.schedule__time 
				time 08:00-16:00
		dl.schedule__list(title="Время работы в субботу" tabindex="0")
			dt.schedule__day Сб:
			dd.schedule__time 
				time 09:00-12:00
