include ../utils/mixins
include ../blocks

block vars
	-
		var bodyClass = bodyClass || ''
	-
		var title = title  || ''
		var description = description
		var image = image || ''
		var keywords = keywords || ''

doctype html
html(lang="ru")
	head
		include ../includes/head
	body(class= bodyClass)
		+preloader({
			class: 'preloader--main',
		})
		.main-wrapper
			block header
				include ../../blocks/modules/header/header
			main.main
				block content
			block footer
				+blind()
				include ../../blocks/modules/footer/footer
			block scripts	
