.informer {
	position: relative;
	z-index: 100;
	margin-bottom: 1rem;

	&__inner {
		display: block;

		> * {
			&:not(:last-child) {
				@media screen and (min-width: $break_xxxl) {
					margin-right: 24px;
				}
			}
		}

		@media screen and (min-width: $break_xxxl) {
			display: flex;
		}
	}

	.panel--weather {
		position: relative;
	}
}
