mixin informer(inner)
	.informer
		.informer__inner
			+panel({
				mods: 'shadow, mr1'
			})
				+contacts-footer()
			+panel({
				mods: 'weather,shadow, mr1'
			})
				if(inner)
					+map({
						mods: 'inner',
					})
				else
					+weather()
